﻿@model TNA_ViewModel.Model.TNA_VM.LoginForm

@{
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sanofi - TNA</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/authentication.css">
    <link rel="stylesheet" href="~/assets/css/all-themes.css" />
    <!-- Toaster Css -->
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <div class="authentication">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 display-table cntnt_sec_login height-100vh responsive-display-none login-hover">
                    <div class="l-detail">
                        <div class="hover-img-box">
                            <img src="~/assets/images/osw-logo-header-white-smallx2.png" class="hover-hide" />
                            <img src="~/assets/images/dark-logo.png" class="hover-show" />
                        </div>
                        <!--<h5>Welcome</h5>-->
                        <h3>Training Need Assessments</h3>

                        <!-- <ul class="list-unstyled l-social">
                             <li><a href="#"><i class="zmdi zmdi-facebook-box"></i></a></li>
                             <li><a href="#"><i class="zmdi zmdi-linkedin-box"></i></a></li>
                             <li><a href="#"><i class="zmdi zmdi-pinterest-box"></i></a></li>
                             <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                             <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                         </ul>-->
                        @*<ul class="list-unstyled l-menu">

                            <li><a href="#" class="about-us-anchor color-white">About Us</a></li>

                        </ul>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 p-r-0 form_sec_login display-table height-100vh p-l-0">
                    <div class="card">
                        <img src="https://www.sanofi.com/en/-/media/project/one-sanofi-web/websites/global/sanofi-com/layout/osw-logo-header-white-smallx2.png" class="login_mbl_logo" />
                        <div class="cstm-card">
                            @Html.HiddenFor(m => m.Status)
                            @Html.HiddenFor(m => m.Message)
                            <h2 class="l-login">Login</h2>
                            @*<form class="" id="sign_in" method="POST">*@
                            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                            {
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @*<input type="text" class="form-control">
                                            <label class="form-label">Username</label>*@
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @*<input type="password" class="form-control">
                                            <label class="form-label">Password</label>*@
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div>
                                    <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-cyan" onclick="return RememberMe();">
                                    <label for="rememberme">Remember Me</label>
                                </div>
                                <button type="submit" class="btn btn-raised waves-effect bg-red tna_purpl_btn">SIGN IN</button>
                                @*<a href="sign-up.html" class="btn btn-raised waves-effect">SIGN UP</a>*@
                                @*<div class="text-left">
                                    <a href="javascript:;">Forgot Password?</a>
                                </div>*@
                                @*</form>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="~/Scripts/toastNotifications.js"></script><!-- Toaster Js -->
    <script src="~/Scripts/jquery.toast.js"></script><!-- Toaster Js -->
    <script src="~/Scripts/jquery.cookie.js"></script><!-- Cookies Js -->
</body>

<!-- Mirrored from thememakker.com/templates/admincc/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 10:42:09 GMT -->
</html>
<script>

    $(document).ready(function () {
        debugger
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {
            if (status == true)
                AlertToast("success", message);
            else
                AlertToast("error", message);
        }

        LoadCredentials();
    });

    function LoadCredentials()
    {

        var remember = $.cookie('remember');
        if (remember == 'true') {
            var username = $.cookie('username');
            var password = $.cookie('password');
            // autofill the fields
            $('#UserName').val(username);
            $('#Password').val(password);
            $('[Id$=rememberme]').prop('checked', true);
        }
    }

    function RememberMe() {
        
        //if ($('#exampleInputEmail1').val() != "" && $('#exampleInputPassword1').val() != "") {
        if ($('#rememberme').is(':checked') === true) {
            var username = $('#UserName').val();
            var password = $('#Password').val();

            // set cookies to expire in 15 days
            $.cookie('username', username, { expires: 15 });
            $.cookie('password', password, { expires: 15 });
            $.cookie('remember', true, { expires: 15 });

        }
        else {
            // reset cookies
            $.cookie('username', null);
            $.cookie('password', null);
            $.cookie('remember', null);
        }
        //}
    }

</script>