﻿
@model TNA_ViewModel.Model.TNA_VM.SessionForm

@{
    int ID = Model.ID;
}
<link href="~/Scripts/mdtimepicker.css" rel="stylesheet" />
<script src="~/Scripts/mdtimepicker.js"></script>
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<div class="modal fade" id="SessionModal" data-backdrop="static" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.ID > 0)
                {
                    <h4 class="modal-title" id="CreateTrainingModalLabel">Edit Session Form</h4>
                }
                else
                {
                    <h4 class="modal-title" id="CreateTrainingModalLabel">Create Session Form</h4>
                }

            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Message)
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.TNAID)
                @Html.HiddenFor(m => m.TrainingID)
                @Html.HiddenFor(m => m.TrainerID)
                @Html.HiddenFor(m => m.GeographicID)
                @Html.HiddenFor(m => m.Multimedia)
                @Html.HiddenFor(m => m.Stationary)
                @Html.HiddenFor(m => m.Hall)
                @Html.HiddenFor(m => m.IsClosed)
                @Html.HiddenFor(m => m.StartDate)
                @Html.HiddenFor(m => m.EndDate)
                @Html.HiddenFor(m => m.StartTime)
                @Html.HiddenFor(m => m.EndTime)
                @Html.HiddenFor(m => m.FeedbackDate)
                @Html.HiddenFor(m => m.SessionType)
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">TNAs<span class="stericField"> *</span></label> 
                                    <div class="form-line">
                                        <div id="TNAList"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Trainings<span class="stericField"> *</span></label>  

                                    <div class="form-line">
                                        <div id="TrainingList"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">TNA Start Date<span class="stericField"></span></label>
                                    <div class="form-line">

                                        @Html.TextBoxFor(m => m.TNA_StartTime, new { @class = "form-control", @placeholder = "", @validate = "SessionForm", @readonly=true})

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">TNA End Date<span class="stericField"></span></label>
                                    <div class="form-line">

                                        @Html.TextBoxFor(m => m.TNA_EndTime, new { @class = "form-control", @placeholder = "", @readonly = true })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Session Name<span class="stericField"> *</span></label>  
                                    <div class="form-line">

                                        @Html.TextBoxFor(m => m.SessionName, new { @class = "form-control", @placeholder = "", @validate = "SessionForm", @require = "*Session Name is required" })

                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6" style="display:none">
                                <div class="form-group ">
                                    <label class="form-label">Session Start Date<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="dxStartDate" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group ">
                                    <label class="form-label">Type<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="TypeList"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none">
                                <div class="form-group ">
                                    <label class="form-label">Session End Date<span class="stericField"> *</span></label> 
                                    <div class="form-line">
                                        <div id="dxEndDate" class=""></div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-md-6" style="display:none">
                                <div class="form-group ">
                                    <label class="form-label">Session Start Time<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input class = "form-control" type="text"  onpaste="return false;" id="dxStartTime" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none">
                                <div class="form-group ">
                                    <label class="form-label">Session End Time<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input class = "form-control" type="text"  onpaste="return false;" id="dxEndTime" />
                                      
                                    </div>
                                </div>
                            </div>


                              <div class="col-md-6" style="display:none">
                                <div class="form-group ">
                                    <label class="form-label">Feedback Submission Date<span class="stericField"> *</span></label> 
                                    <div class="form-line">
                                        <div id="dxFeedbackDate" class=""></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6" style="display:none">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Venue, new { @class = "form-label" })
                                    <div class="form-line">

                                        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", @placeholder = "" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Trainers<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="TrainerList"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Co-ordinator<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="Co_ordinator"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Trainer Name<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                       @Html.TextBoxFor(m => m.TrainerName, new { @class = "form-control", @placeholder = "" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Cost Per Head</label>
                                    @*@Html.LabelFor(m => m.CostPerhead, new { @class = "form-label" })*@
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.CostPerhead, new { @class = "form-control", @placeholder = "", @onkeypress = "allowNumbersOnly(event)", @onpaste = "return false;" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none">
                                <div class="form-group  ">
                                    <label class="form-label">Geography</label>
                                    <div id="GeographyList"></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">No. of Participants<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Participants, new { @class = "form-control", @placeholder = "", @onkeypress = "allowNumbersOnly(event)", @onpaste = "return false;", @validate = "SessionForm", @require = "*No. of Participants is required" })

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Other, new { @class = "form-label" })
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Other, new { @class = "form-control", @placeholder = "" })

                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group form-float mb-0">
                                    <input type="checkbox" id="multimedia" class="chk-col-blue" />
                                    @Html.LabelFor(m => m.Multimedia, new { @for = "multimedia", @class = "form-label" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-float mb-0">
                                    <input type="checkbox" id="stationary" class="chk-col-blue" />
                                    @Html.LabelFor(m => m.Stationary, new { @for = "stationary", @class = "form-label" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-float mb-0">
                                    <input type="checkbox" id="hall" class="chk-col-blue" />
                                    @Html.LabelFor(m => m.Hall, new { @for = "hall", @class = "form-label" })

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @{
                    if (Model.ID > 0)
                    {
                        if (Model.IsClosed)
                        {
                            <button id="btnUpdate" type="button" class="btn waves-effect tna_purpl_btn_modal" disabled="disabled"><i class="far fa-paper-plane"></i> SAVE CHANGES</button>
                        }
                        else
                        {
                            <button id="btnUpdate" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> SAVE CHANGES</button>
                        }

                    }
                    else
                    {
                        <button id="btnSave" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> ADD SESSION</button>
                    }
                }


                <button type="button" class="btn waves-effect tna_purpl_btn_modal btn_dark" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script>


    function getAllTypes(selected) {
            $.ajax({
                url: '@Url.Action("GetAllTypes_Select", "Admin")',
                type: "GET",
                data: {},
                success: function (response) {
                    if (response.Status) {
                        if (selected != "" || selected != null)
                            BinddxSelectBox("TypeList", response.data, selected);
                        else
                            BinddxSelectBox("TypeList", response.data, "");
                    }
                    else {
                        AlertToast('error', response.Message);
                    }
                },
                error: function (xhr) {

                },
                complete:function(){
                }
            });
    }

    $(document).ready(function(){
        $("#TrainerName").attr("disabled",true);
        $('#TNA_StartTime').val(' ');
        $('#TNA_EndTime').val(' ');
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {

            if (status == "False") {
                AlertToast("error", message);
            }

        }

        if(@Model.ID > 0 )
        {
            debugger
            getAllTypes(@Model.SessionType);
            getAllTNAs_Edit(@Model.TNAID);
            getTNAEndDate();
            getAllTrainings_Edit(@Model.TrainingID);

            if (@Model.SessionType==1) {
                getAllTrainers(@Model.TrainerID);
                getAllCo_Ordinator(null);
            }
            else {
                getAllCo_Ordinator(@Model.TrainerID);
                getAllTrainers(null);
            }


            getAllGeography(@Model.GeographicID);

            CheckBoxes("multimedia");
            CheckBoxes("stationary");
            CheckBoxes("hall");


            ////Date Picker for Edit
            //var S_Date = $("#StartDate").val().split("/");
            //var E_Date = $("#EndDate").val().split("/");
            //var F_Date = $("#FeedbackDate").val().split("/");

            //var Start_Date = new Date(S_Date[0], S_Date[1] - 1, S_Date[2]);
            //var End_Date = new Date(E_Date[0], E_Date[1] - 1, E_Date[2]);
            //var Feedback_Date = new Date(F_Date[0], F_Date[1] - 1, F_Date[2]);

            //dxStartDatePicker(Start_Date);
            //dxEndDatePicker(End_Date,Start_Date);
            //dxFeedbackDatePicker(Feedback_Date,End_Date);
            //var edt= moment($('#EndTime').val()).format('HH:mm');

            //var srt = moment($('#StartTime').val()).format('HH:mm');
            //$("#dxStartTime").val(srt),
            //$("#dxEndTime").val(edt),
          // dxEndTimePicker_Edit(edt);
          //  dxStartTimePicker_Edit(srt);
            setTimeout(function () {
                applyValidation();
            }, 3000);
        }
        else
        {

            debugger
            getAllTypes(null);
            getAllTNAs(null);
            //getAllTrainings(null);

            BinddxSelectBox("TrainingList",null,null);
            DisableSelectBox("TrainingList",true);
            getAllTrainers(null);
            getAllCo_Ordinator(null);
            getAllGeography(null);
            $("#CostPerhead").val("");
            $("#Participants").val("");

            setTimeout(function () {
                applyValidation();
            }, 3000);

            //Date Pickers
            //var d = new Date();
            //var defaultDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
            //var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();

            //$("#StartDate").val(defaultDate);
            //$("#EndDate").val(defaultDate);
            //$("#FeedbackDate").val(defaultDate);
            //dxEndTimePicker(d,d);
            //dxStartTimePicker(d);
            //dxStartDatePicker(strDate);
            //dxEndDatePicker(strDate);
            //dxFeedbackDatePicker(strDate);
        }

    });

    //Only enter numeric value in TextBox
    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }


    $(".form-line").click(function () {
        $(this).addClass("focused");
    })

    $(".form-line").focusout(function () {
        $(this).removeClass("focused");
    })

    $("#btnSave").click(function(){
        if (validate("SessionForm") == true){
                var dataObject = {
                    ID: $("#ID").val(),
                    TNAID: $("#TNAID").val(),
                    TrainingID: $("#TrainingID").val(),
                    SessionName: $("#SessionName").val(),
                    Multimedia: $('#multimedia:checked').length,
                    Stationary: $('#stationary:checked').length,
                    Hall: $('#hall:checked').length,
                    Other: $("#Other").val(),
                    TrainerID: $("#TrainerID").val(),
                    CostPerhead: $("#CostPerhead").val(),
                    GeographicID: $("#GeographicID").val(),
                    Participants: $("#Participants").val(),
                    SessionType:$("#SessionType").val(),
                    TrainerName:$("#TrainerName").val()
                };
                var jsonData = JSON.stringify(dataObject);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateSession", "TrainingLead")',
                    //url: "/" +$('#tna_prefix').val() + "/TrainingLead/CreateSession",
                    data: jsonData,
                    processData: false,
                    contentType: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response.Status) {
                            AlertToast('success', response.Message);
                            $("#SessionModal").modal("hide");
                            GetAllSessionsData();
                        }
                        else {
                            AlertToast('error', response.Message);
                            //$("#TopicModal").modal("hide");
                        }
                    }
                });


        }
        else
        {
            AlertToast('error', 'Fill the required fields.');
        }

    });

    $("#btnUpdate").click(function(){
                if (validate("SessionForm") == true)
                {
                            var dataObject = {
                            ID: $("#ID").val(),
                            TNAID: $("#TNAID").val(),
                            TrainingID: $("#TrainingID").val(),
                            SessionName: $("#SessionName").val(),
                            Multimedia: $('#multimedia:checked').length,
                            Stationary: $('#stationary:checked').length,
                            Hall: $('#hall:checked').length,
                            Other: $("#Other").val(),
                            TrainerID: $("#TrainerID").val(),
                            CostPerhead: $("#CostPerhead").val(),
                            GeographicID: $("#GeographicID").val(),
                            Participants: $("#Participants").val(),
                            SessionType:$("#SessionType").val(),
                            TrainerName:$("#TrainerName").val()
                        };
                        var jsonData = JSON.stringify(dataObject);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateSession", "TrainingLead")',
                            data: jsonData,
                            processData: false,
                            contentType: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                debugger
                                if (response.Status) {
                                    AlertToast('success', response.Message);
                                    $("#SessionModal").modal("hide");
                                    GetAllSessionsData();
                                }
                                else {
                                    AlertToast('error', response.Message);

                                }
                            }
                        });

                }
                else
                {

                    AlertToast('error', 'Fill the required fields.');
                }

    });


</script>
