﻿@model TNA_ViewModel.Model.TNA_VM.TNAForm

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<div class="modal fade" id="TNAModal" data-backdrop="static" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateTrainingModalLabel">TNA Form</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Message)
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.StartDate)
                @Html.HiddenFor(m => m.EndDate)
                @Html.HiddenFor(m => m.LastDateforLM)
                @Html.HiddenFor(m => m.IsActive)
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.TNAName, new { @class = "form-label" })*@
                                    <label class="form-label">TNA Name<span class="stericField"> *</span></label>
                                    <div class="form-line">

                                        @Html.TextBoxFor(m => m.TNAName, new { @class = "form-control", @placeholder = "", @validate = "TNAForm", @require = "*TNA Name is required" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">TNA Start Date<span class="stericField"> *</span></label>                                  

                                    <div class="form-line">
                                        <div id="dxStartDate" class=""></div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">TNA End Date<span class="stericField"> *</span></label>  
                                    @*<label class="form-label">TNA End Date</label>*@

                                    <div class="form-line">
                                        <div id="dxEndDate" class=""></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    @*<label class="form-label">Last Submission Date</label>*@
                                    <label class="form-label">Set Last Date for Line Manager to Assign Users<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="dxLastDateforLM" class="w-100 "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <input type="checkbox" id="active"  class="chk-col-blue" />
                                    @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label mt-30 mt-sm-5" })

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @{
                    if (Model.ID > 0)
                    {
                        <button id="btnUpdate" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> SAVE CHANGES</button>
                    }
                    else
                    {
                        <button id="btnSave" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> ADD TNA</button>
                    }
                }


                <button type="button" class="btn waves-effect tna_purpl_btn_modal btn_dark" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {

        //To Change IsActive field value
        $("#active").click(function () {
            var bit = $('#active:checked').length;
            if (bit > 0) {
                $("#IsActive").val(true);
            }
            else {
                $("#IsActive").val(false);
            }
        })


        if($("#ID").val() == 0)
        {
            $("#IsActive").val(true);
            $('#active').prop("checked", true);
            var d = new Date();
            var defaultDate = (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear();
           // var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
           var strDate = new Date();
            $("#StartDate").val(defaultDate);
            $("#EndDate").val(defaultDate);
            $('#LastDateforLM').val(defaultDate);
            dxStartDatePicker(strDate);
            dxEndDatePicker(strDate);
            dxLastDatePickerforLM(strDate);
            applyValidation();
        }

    });

    function dxStartDatePicker(date) {
        $("#dxStartDate").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                var dt = data.value;
                var end = $('#dxEndDate').dxDateBox('instance')._options.value;
                var userassign = $('#dxLastDateforLM').dxDateBox('instance')._options.value;
                ValidateFields(dt, end, userassign);
                var startDate = moment(dt).format('MM/DD/YYYY');
                dt = moment(dt).format('MM/DD/YYYY');

                $('#StartDate').val(dt);
                $("#dxEndDate").dxDateBox('instance').option('min', new Date(startDate))
                $("#dxLastDateforLM").dxDateBox('instance').option('min', new Date(startDate))
               
            }
        });
    }

    function dxEndDatePicker(date) {
        $("#dxEndDate").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                
                var dt = data.value;
                var start = $('#dxStartDate').dxDateBox('instance')._options.value;
                var userassign = $('#dxLastDateforLM').dxDateBox('instance')._options.value;
                ValidateFields(start, dt, userassign);

                var endDate = moment(dt).format('MM/DD/YYYY');
                dt = moment(dt).format('MM/DD/YYYY');
               
                $('#EndDate').val(dt);
                var maxDate = moment(dt).subtract(1, "days").format('MM/DD/YYYY');
                $("#dxLastDateforLM").dxDateBox('instance').option('max', new Date(maxDate));
               
            }
        });
    }
    function ValidateFields(Start, End, UserAssign) {
        debugger
        var isvalid = false;
        if (End < Start) {
            isvalid = false;
        }
        else {
            if (UserAssign > End || UserAssign < Start) {
                isvalid = false;
            }

            else {
                isvalid = true;
            }
        }
        if (isvalid == false) {
           
                $('#btnSave').attr("disabled", true);
                $('#btnSave').css("cursor", "not-allowed");
        }

        else {
                $('#btnSave').attr("disabled", false);
                $('#btnSave').css("cursor", "pointer");
        }
    }
    function dxLastDatePickerforLM(date) {
        $("#dxLastDateforLM").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                var dt = data.value;
                var start = $('#dxStartDate').dxDateBox('instance')._options.value;
                var end = $('#dxEndDate').dxDateBox('instance')._options.value;
                ValidateFields(start, end, dt);
                dt = moment(dt).format('MM/DD/YYYY');
                $('#LastDateforLM').val(dt);
               
            }
        });
    }
    //For Applying  Validation
    function applyValidation() {

        //For TNA StartDate
        $("#dxStartDate").find(".dx-texteditor-input").attr('validate', 'TNAForm');
        $("#dxStartDate").find(".dx-texteditor-input").attr('require', '*Please Select Start Date');
        $("#dxStartDate").find(".dx-texteditor-input").attr('readonly', '');
        //For TNA EndDate
        $("#dxEndDate").find(".dx-texteditor-input").attr('validate', 'TNAForm');
        $("#dxEndDate").find(".dx-texteditor-input").attr('require', '*Please Select Last Date of Submission');
        $("#dxEndDate").find(".dx-texteditor-input").attr('readonly', '');

    }

    $("#btnSave").click(function () {
        debugger

        try
        {
            if (validate("TNAForm") == true) {
                $("#btnSave").attr("disabled", "");
                //if(BindDepart != null)
                //{
                //$('#DepartmentList').css('border-color', ''); //DropDown Removing Border Color

                var dataObject = {
                    ID: $("#ID").val(),
                    TNAName: $("#TNAName").val(),
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val(),
                    LastDateforLM: $('#LastDateforLM').val(),
                    IsActive: $("#IsActive").val(),
                    //TrainingIDs: BindTrainings,
                    //Trainings: $("#TrainingsGrid").dxDataGrid('instance').option('dataSource'),
                };

                var jsonData = JSON.stringify(dataObject);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateTNA", "TrainingLead")',
                    //url: "/" + $('#tna_prefix').val() + "/TrainingLead/CreateTNA",
                    data: jsonData,
                    processData: false,
                    contentType: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response.Status) {
                            AlertToast('success', response.Message);
                            $("#TNAModal").modal("hide");
                            GetTNAsGridData();
                            @*setTimeout(function () {
                                window.location.href = '@Url.Content("~/TrainingLead/TNAs")'
                                //window.location.href = "/"+ $('#tna_prefix').val() +"/TrainingLead/TNAs"
                            }, 3000);*@

                        }
                        else {
                            AlertToast('error', response.Message);
                            $("#btnSave").removeAttr("disabled", "");

                        }
                    },
                    error: function (xhr)
                    {
                        console.log(xhr.status + ' : ' + xhr.statusText);
                    }

                });

            }
            else {
                AlertToast('error', 'Fill the required fields.');
            }
        }
        catch(err)
        {
            console.log(err.message);
        }

        

    });

</script>
