﻿
@{
    ViewBag.Title = "ActiveTrainings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
    
}
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">TNA's List</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">TNA's List</li>
                            }
                        }
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2>TNA's List<small></small> </h2>
                        @*<button type="button" id="btnTraining" onclick="location.href='@Url.Action("AddTNA","TrainingLead")'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE TNA</button>*@
                    </div>
                    <div class="body">
                        <div id="TNAsGrid"></div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    @*<div class="header">
                        <h2> TNA Records <small></small> </h2>
                        <button type="button" id="btnTraining" onclick="location.href='@Url.Action("AddTNA","TrainingLead")'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE TNA</button>
                    </div>*@
        @*<div id="TNAsGrid"></div>
                    </div>
                </div>
            </div>*@

    </div>
</section>

<!-- Small Size -->
@*<div class="modal fade" id="DeleteTNA" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="smallModalLabel">Delete TNA</h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete <b>"TNA"</b> ?.
                </div>
                <div class="modal-footer">
                    <button tnaid="" type="button" class="btnDelete btn btn-link waves-effect">Yes</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>*@

<script>

    $(document).ready(function () {
        BindTNAsGrid();
    });


    function BindTNAsGrid() {
        $.ajax({
            url: '@Url.Action("ActiveTnaTrainings", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/ActiveTnaTrainings",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger

                //if (response.Status)
                //{
                $("#TNAsGrid").dxDataGrid({
                    dataSource: response.TNAs,
                    columnsAutoWidth: true,
                    showBorders: true,
                    showColumnHeaders: true,
                    paging: {
                        pageSize: 10
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },

                    columns: [
                        {
                            dataField: "TNAName",
                            caption: "TNA Name",
                            alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "TrainingName",
                            caption: "Training Name",
                            alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "Descriptions",
                            caption: "Descriptions",
                            alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "Days",
                            caption: "Days",
                            alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "ID",
                            caption: "Action",
                            alignment: "center",
                            width: "auto",
                            allowHeaderFiltering: false,
                            allowFiltering: false,
                            cellTemplate: function (container, options) {
                                //trainingid = options.value;
                                trainingID = options.data.TrainingID;
                                tnaID = options.data.TNAID;
                                var IDs = trainingID + "^" + tnaID;

                                if ($('#tna_prefix').val() == "") {
                                    url = "/TrainingLead/AssignSessionUsers/" + IDs + "";
                                }
                                else {
                                    url = "/" + $('#tna_prefix').val() + "/TrainingLead/AssignSessionUsers/" + IDs + "";
                                }

                                $("<div>")
                                    .append($("<a class='TNAEdit' href='" + url + "' _id=" + IDs + " title='View Nominees for Training'><i class='fa fa-users'></i></a>"))
                                    //.append($("<a class='TNADelete' _id=" + options.value + " title='Delete'><i class='material-icons actions_icons_delete'>delete</i></a>"))
                                    .appendTo(container);
                            }
                        }
                    ]
                });
                //}

            },
            error: function (xhr) {
                debugger
            }
        });
    }


    @*$('body').on('click', '.TNADelete', function () {

        $('.btnDelete').attr("tnaid", $(this).attr('_id'));
        $("#DeleteTNA").modal("show");

    });


    $(".btnDelete").click(function () {

        var tnaID = $(this).attr('tnaid');

        $.ajax({
            url: '@Url.Action("DeleteTNA", "TrainingLead")',
            type: "GET",
            data: {
                ID: tnaID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast('success', response.Message);
                    BindTNAsGrid();
                    $("#DeleteTNA").modal("hide");
                }
                else {
                    AlertToast('error', response.Message);
                }

            },
            error: function (xhr) {
                debugger
            }
        });
    });*@

</script>



