﻿@model TNA_ViewModel.Model.TNA_VM.TNAForm
@{
    ViewBag.Title = "AddTNA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<!-- JS-->
@*<script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/dx.all.js"></script>*@

<h2>AddTNA</h2>

<section class="content home  ">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                       @{
                           if (_current_user.User.RoleID == 2)
                           {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                               if (@Convert.ToInt32(Model.ID) > 0)
                               {
                                <li class="breadcrumb-item active">EDIT TNA</li>
                               }
                               else
                               {
                                <li class="breadcrumb-item active">ADD TNA</li>
                               }
                           }

                           else if (_current_user.User.RoleID == 1)
                           {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                               if (@Convert.ToInt32(Model.ID) > 0)
                               {
                                <li class="breadcrumb-item active">EDIT TNA</li>
                               }
                               else
                               {
                                <li class="breadcrumb-item active">ADD TNA</li>
                               }
                           }


                    }

                        
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        @if (@Convert.ToInt32(Model.ID) > 0)
                        {
                            <h2>EDIT TNA<small></small> </h2>
                        }
                        else
                        {
                            <h2>Add TNA<small></small> </h2>
                        }
                       

                    </div>
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.Message)
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                    @Html.HiddenFor(m=>m.LastDateforLM)
                    @Html.HiddenFor(m => m.TrainingIDs)
                    @Html.HiddenFor(m => m.IsActive)
                    <div class="col-md-12">
                        <div class="row clearfix">

                            <div class="form-group col-md-4">
                                @*@Html.LabelFor(m => m.TNAName, new { @class = "form-label" })*@
                                <label class="form-label">TNA Name<span class="stericField"> *</span></label>  
                                <div class="form-line">
                                    @Html.TextBoxFor(m => m.TNAName, new { @class = "form-control", @placeholder = "", @validate = "TNAForm", @require = "*TNA Name is required" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">

                                @*<label class="form-label">Start Date</label>*@
                                <label class="form-label">Start Date<span class="stericField"> *</span></label>  
                                <div class="">
                                    <div id="dxStartDate" class="w-100 "></div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">

                                @*<label class="form-label">Last Submission Date</label>*@
                                <label class="form-label">End Date<span class="stericField"> *</span></label>  
                                <div class="">
                                    <div id="dxEndDate" class="w-100 "></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">

                                @*<label class="form-label">Last Submission Date</label>*@
                                <label class="form-label">Set Last Date for Line Manager to Assign Users<span class="stericField"> *</span></label>
                                <div class="">
                                    <div id="dxLastDateforLM" class="w-100 "></div>
                                </div>
                            </div>

                            <div class="form-group form-float col-md-4">
                                <input type="checkbox" id="active" class="chk-col-blue" />
                                @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label" })
                            </div>

                            <div class="body">
                                <div id="TrainingsGrid"></div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right cstm-card-footer">
                          
                             
                                    <button id="btnUpdate" tnaid="@Model.ID" type="button" class="btn btn-raised bg-red  waves-effect p-3 tna_purpl_btn"><i class="far fa-paper-plane"></i> Save Changes</button>
                                    <button id="btnPublish" tnaid="@Model.ID" type="button" class="btn btn-raised bg-red  waves-effect p-3 tna_purpl_btn btn_light"><i class="far fa-paper-plane"></i>INITIATE TNA</button>
                               
                               
                           

                            @*<button type="button" id="btnReset" class="btn btn-raised bg-grey ml-2  waves-effect p-3">Reset Text</button>*@
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>


<!-- Departments  -->
<div class="modal fade" id="DepartmentsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Training Departments</h4>
            </div>
            <div class="modal-body">
             
                <div id="trainingDeaprts"></div>
                <div style="width:100% ; height:200px"  id="selectedDept"></div>
            </div>
            <div class="modal-footer">
               
                <button tnaid="" trainingid="" type="button" class="btnSubmit btn tna_purpl_btn_modal waves-effect">Submit</button>
                <button type="button" class="btn  btn tna_purpl_btn_modal btn_dark waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Training and Department  -->
<div class="modal fade" id="TrainingDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete Training Departments</h4>
            </div>
            <div class="modal-body">
                Are you sure to Unselect this <b>"Training"</b> ?.
            </div>
            <div class="modal-footer">
                
                <button trainingid="" type="button" class="btnDelete btn tna_purpl_btn_modal waves-effect">Yes</button>
                <button type="button" class="btnDelDismiss  btn tna_purpl_btn_modal waves-effect btn_dark" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<script>
    var BindTrainings = [];
    var BindDeparts = [];

    $(document).ready(function(){

        //For toaster
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {

            if (status == "False") {
                AlertToast("error", message);
            }

        }

        //To Change IsActive field value
        $("#active").click(function () {
            var bit = $('#active:checked').length;
            if (bit > 0) {
                $("#IsActive").val(true);
            }
            else {
                $("#IsActive").val(false);
            }
        })

        //To Check or Uncheck --> "IsActive Checkbox"
        if($("#IsActive").val() == "True")
        {
            $('#active').prop('checked' , true);
        }
        else
        {
            $('#active').prop('checked' , false);
        }

        var id = @Convert.ToInt32(Model.ID);
       

            var S_Date = $("#StartDate").val();
            var E_Date = $("#EndDate").val();
            var _LastDateforLM = $('#LastDateforLM').val();
            dxStartDatePicker_Edit(S_Date);
            dxEndDatePicker_Edit(E_Date,S_Date);
            dxLastDatePickerforLM_Edit(_LastDateforLM,E_Date,S_Date);
            BindTrainings = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TrainingIDs));BindTrainingGrid(BindTrainings);
            applyValidation();
       
      

    });

    //For edit
    function ValidateFields(Start, End, UserAssign) {
        debugger
        var isvalid = false;
        if (moment(End).format() < moment(Start).format()) {
            isvalid = false;
        }
        else {
            if (moment(UserAssign).format() > moment(End).format() || moment(UserAssign).format() < moment(Start).format()) {
                isvalid = false;
            }

            else {
                isvalid = true;
            }
        }
        if (isvalid == false) {
           
            $('#btnUpdate').attr("disabled", true);
            $('#btnUpdate').css("cursor", "not-allowed");
        }

        else {
            $('#btnUpdate').attr("disabled", false);
            $('#btnUpdate').css("cursor", "pointer");
        }
    }

    function dxStartDatePicker_Edit(date)
    {
        debugger
        $("#dxStartDate").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(date),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                debugger
                var dt = data.value;
                var end = $('#dxEndDate').dxDateBox('instance')._options.value;
                var userassign = $('#dxLastDateforLM').dxDateBox('instance')._options.value;
                ValidateFields(dt, end, userassign);
                var startDate = moment(dt).format('MM/DD/YYYY');
                dt = moment(dt).format('MM/DD/YYYY');

                $('#StartDate').val(startDate);
                $("#dxEndDate").dxDateBox('instance').option('min', new Date(startDate));
                $("#dxLastDateforLM").dxDateBox('instance').option('min', new Date(startDate))
            }
        });
    }


    function dxEndDatePicker_Edit(date,start)
    {
        $("#dxEndDate").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(start),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                debugger
                var dt = data.value;
                var start = $('#dxStartDate').dxDateBox('instance')._options.value;
                var userassign = $('#dxLastDateforLM').dxDateBox('instance')._options.value;
                ValidateFields(start, dt, userassign);
                var endDate = moment(dt).format('MM/DD/YYYY');
                dt = moment(dt).format('DD/MM/YYYY');

                $('#EndDate').val(endDate);
                $("#dxLastDateforLM").dxDateBox('instance').option('max', new Date(endDate))
            }
        });
    }

    function dxLastDatePickerforLM_Edit(date,end,start)
    {
        $("#dxLastDateforLM").dxDateBox({
            type: "date",
            pickerType: "calendar",
            showClearButton: false,
            value: date,
            min: new Date(start),
            max:new Date(end),
            displayFormat: "dd/MM/yyyy",
            onValueChanged: function (data) {
                debugger
                var dt = data.value;
                var start = $('#dxStartDate').dxDateBox('instance')._options.value;
                var end = $('#dxEndDate').dxDateBox('instance')._options.value;
                ValidateFields(start, end, dt);
                dt = moment(dt).format('MM/DD/YYYY');
                $('#LastDateforLM').val(dt);
            }
        });
    }

    //For Applying  Validation
    function applyValidation()
    {

        //For Topic StartDate
        $("#dxStartDate").find(".dx-texteditor-input").attr('validate', 'TNAForm');
        $("#dxStartDate").find(".dx-texteditor-input").attr('require', '*Please Select Start Date');
        $("#dxStartDate").find(".dx-texteditor-input").attr('readonly', '');
        //For Type EndDate
        $("#dxEndDate").find(".dx-texteditor-input").attr('validate', 'TNAForm');
        $("#dxEndDate").find(".dx-texteditor-input").attr('require', '*Please Select Last Date of Submission');
        $("#dxEndDate").find(".dx-texteditor-input").attr('readonly', '');

    }




    function BindTrainingGrid(selectedValue)
    {
        $.ajax({
            url: '@Url.Action("GetAllTrainings", "TrainingLead")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
               debugger
                $("#TrainingsGrid").dxDataGrid({
                    cacheEnabled: false,
                    valueExpr: "ID",
                    keyExpr:'ID',
                    dataSource: JSON.parse(response.Trainings),
                    selectedRowKeys: selectedValue,
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showScrollbar: 'always',
                    columnResizingMode: 'widget',
                  
                    scrolling: {
                        mode: "horizontal",
                        showScrollbar: 'always'
                    },
                    selection: {
                        mode: "multiple",
                        showCheckBoxesMode:'always'
                    },
                    paging: {
                        pageSize: 10
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    searchPanel: {
                        visible: true,
                        width: 240,
                        placeholder: "Search..."
                    },
                    headerFilter: {
                        visible: true
                    },
                    editing: {
                        mode: "cell",
                        allowUpdating: true
                    },
                    onSelectionChanged: function (e) {

                        BindTrainings = e.selectedRowKeys;

                        if(e.currentSelectedRowKeys.length > 0)
                        {
                            $.each(e.currentSelectedRowKeys, function( i, value ) {
                                var index = e.component.getRowIndexByKey(e.currentSelectedRowKeys[i]),
                                elm = e.component.getRowElement(index);
                                $(elm).find('.TrainingDeparts').removeAttr('disabled');
                            });
                            
                        }
                        else
                        {
                            //For Deleteing Training and Unselected
                            debugger
                            var trainingID = e.currentDeselectedRowKeys[0];
                            $(".btnDelete").attr("trainingid",trainingID);
                            $(".btnDelDismiss").attr("trainingid",trainingID);
                            $("#TrainingDeleteModal").modal("show");

                            $.each(e.currentDeselectedRowKeys, function( i, value ) {

                                var index = e.component.getRowIndexByKey(e.currentDeselectedRowKeys[i]),
                                elm = e.component.getRowElement(index);
                                $(elm).find('.TrainingDeparts').attr('disabled','disabled');
                            });
                          

                        }

                       

                    },
                    columns: [

                            {
                                dataField: "ID",
                                caption: "ID",
                                //dataType: "string",
                                allowEditing: false,
                                //width: "auto"

                            },
                            {
                                dataField: "TrainingName",
                                caption: "Training",
                                //dataType: "string",
                                allowEditing: false,
                                //width: "auto"

                            },
                             {
                                 dataField: "TopicName",
                                 caption: "Topic",
                                 //dataType: "string",
                                 allowEditing: false,
                                 //width: "auto"

                             },
                            {
                                dataField: "ID",
                                caption: "Departments",
                                //dataType: "string",
                                allowEditing: false,
                                //width: "auto",
                                cellTemplate: function (container, options) {
                                    $("<div>")
                                        //.append($("<a class='SessionUsers' _id=" + options.value + " href='/TrainingLead/AssignedSessionUsers/" + options.value + "' title='Assigned Users' target='_blank'><i class='material-icons actions_icons_edit'>open_in_new</i></a>"))
                                        //.append($("<a class='TrainingDeparts' _id=" + options.value + " title='Departments''><i class='material-icons actions_icons_edit'>border_color</i></a>"))
                                        .append($("<button class='TrainingDeparts' _id=" + options.value + " title='Departments' disabled='disabled'><i class='fa fa-edit'></i></button>"))
                                        //.append($("<a class='SessionDelete' _id=" + options.value + " title='Delete'><i class='material-icons actions_icons_delete'>delete</i></a>"))
                                        .appendTo(container);
                                }

                            }


                    ],
                    onContentReady:function(e){
                        $(selectedValue).each(function(i,elm){
                            var index = e.component.getRowIndexByKey(elm),
                             element = e.component.getRowElement(index);
                            $(element).find('.TrainingDeparts').removeAttr('disabled');
                            if(i == (selectedValue.length - 1))
                                selectedValue = [];
                        });
                    }
                })

                $("#TrainingsGrid").dxDataGrid('instance').selectRows(selectedValue,false);
            }
        });

    }

    $('body').on('click', '.TrainingDeparts', function () {
       debugger
        var trainingID = $(this).attr('_id');
        var tnaID = $("#ID").val();

        BindTrainingDepartsGrid(trainingID,tnaID);
    });
    var filteredArray=[];

    function LoadSelectedDeptGrid(filteredArray){
        $("#selectedDept").dxDataGrid({
            dataSource: filteredArray,
            columnAutoWidth: true,                       
            showColumnHeaders: true,                       
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },                     
            scrolling: {
                mode: "virtual"
            },
            loadPanel: {
                enabled: true
            },
            columns: [
                {
                    dataField: "DepartmentName",
                    caption: "Selected Department",
                                
                },                          
                           
            ]
        });
    }
    function BindTrainingDepartsGrid(Training_ID,TNA_ID)
    {
        try
        {
            //debugger


            $.ajax({
                url: '@Url.Action("GetTrainingDepartments", "TrainingLead")',
                //url: "/" + $('#tna_prefix').val() + "/TrainingLead/GetAllTrainings",
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: {
                    TrainingID : Training_ID,
                    TNAID : TNA_ID
                },
                success: function (response) {

                    debugger
                    filteredArray = response.DataSource.filter( obj => obj.Department_IsLocked === true );
                  
                    $('#smallModalLabel').text(response.DataSource[0].TrainingName);
                    if(response.Status)
                    {
                        LoadSelectedDeptGrid(filteredArray);
                        //var dataGrid;
                        $("#trainingDeaprts").dxDataGrid({
                            cacheEnabled: false,                          
                            keyExpr:'DepartmentID',
                            dataSource: response.DataSource,
                            selectedRowKeys: response.Selected,
                            columnAutoWidth: true,
                            showBorders: true,
                            showScrollbar: 'always',
                            scrolling: {
                                mode: "horizontal",
                                showScrollbar: 'always'
                            },
                            selection: {
                                mode: "multiple",
                                showCheckBoxesMode:'always'
                            },
                            paging: {
                                pageSize: 5
                            },
                            filterRow: {
                                visible: true,
                                applyFilter: "auto"
                            },                          
                            headerFilter: {
                                visible: true
                            },
                            editing: {
                                mode: "cell",
                                allowUpdating: true
                            },
                            onSelectionChanged: function (e) {
                                debugger
                                BindDeparts = e.selectedRowKeys;

                                if(e.currentDeselectedRowKeys.length > 0)
                                {

                                    var data = $("#trainingDeaprts").dxDataGrid('instance').option('dataSource');
                                    $(e.currentDeselectedRowKeys).each(function(i,elm){


                                        $(data).each(function(j,jelm){

                                            if(jelm.DepartmentID == elm)
                                            {
                                                jelm.Department_IsLocked = false;
                                            }
                                        });

                                    });

                                }
                                else
                                {
                                    debugger
                                    $(e.currentSelectedRowKeys).each(function(i,elm)
                                    {
                                        var data = $("#trainingDeaprts").dxDataGrid('instance').option('dataSource');

                                        $(data).each(function(j,jelm){

                                            if(jelm.DepartmentID == elm)
                                            {
                                                jelm.Department_IsLocked = true;
                                            }
                                        });
                                    })
                                }


                                filteredArray=$("#trainingDeaprts").dxDataGrid('instance').option('dataSource').filter( obj => obj.Department_IsLocked === true );
                                LoadSelectedDeptGrid(filteredArray);
                            },
                            columns: [
                                   
                                    {
                                        dataField: "DepartmentName",
                                        caption: "Department Name",
                                        //dataType: "string",
                                        allowEditing: false,
                                        width: "auto"

                                    }
                            ],
                        });
                       
                        $(".btnSubmit").attr("tnaid",TNA_ID);
                        $(".btnSubmit").attr("trainingid",Training_ID);
                        $("#DepartmentsModal").modal("show");
                    }
                    else
                    {
                        AlertToast('error', response.Message);
                    }



                  


                },
                error: function(xhr)
                {
                    console.log(xhr.status + ' : ' + xhr.statusText);
                }
            });
        }
        catch(err)
        {
            console.log(err.message);
        }

    }


    $(".btnDelDismiss").click(function(){
        //debugger
        try
        {
            var trainingID = $(".btnDelDismiss").attr("trainingid");
            BindTrainings.push(trainingID);

            $("#TrainingsGrid").dxDataGrid('instance').selectRows(BindTrainings,true);
        }
        catch(err)
        {
            console.log(err.message);
        }


    });

    $(".btnDelete").click(function(){
        debugger

        try
        {
            var trainingID = $(".btnDelete").attr("trainingid");
            var tnaID = $("#ID").val();

            $.ajax({
                url: '@Url.Action("DeleteTNADetailTraining", "TrainingLead")',
                //url: "/" + $('#tna_prefix').val() + "/TrainingLead/GetAllTrainings",
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: {
                    TrainingID : trainingID,
                    TNAID : tnaID,
                },
                success: function (response) {

                    if(response.Status)
                    {
                        AlertToast('success', response.Message);
                        $("#TrainingDeleteModal").modal("hide");
                    }
                    else
                    {
                      
                        BindTrainings.push(trainingID);
                        $("#TrainingsGrid").dxDataGrid('instance').selectRows(BindTrainings,true);
                        $("#TrainingDeleteModal").modal("hide");
                        AlertToast('error', response.Message);
                    }

                },
                error:function(xhr)
                {
                    console.log(xhr.status + ' : ' + xhr.statusText);
                }
            })

        }
        catch(err)
        {
            console.log(err.message);
        }

    });

    $("#btnPublish").click(function(){
        $(".cstm_loader").css({
            "display": "block"
        });

        var _TNAID = $("#btnPublish").attr('tnaid');
          $.ajax({
              url: '@Url.Action("PublishEmailDeptWise", "TrainingLead")',
              type: 'POST',
              data: {TNAID:_TNAID},
              success: function (response) {
                  debugger
                  if(response.Status)
                  { 
                      $(".cstm_loader").css({
                      "display": "none"
                  });

                      AlertToast('success', response.Message);
                  }
                  else
                  { $(".cstm_loader").css({
                      "display": "none"
                  });

                      AlertToast('error', response.Message);
                  }
              },
              error:function(){
                  $(".cstm_loader").css({
                      "display": "none"
                  });

              }
          });

    });

    $(".btnSubmit").click(function(){
        debugger
        $(".cstm_loader").css({
            "display": "block"
        });

        try
        {
            $("#trainingDeaprts").dxDataGrid("instance").saveEditData();
            var data = $("#trainingDeaprts").dxDataGrid('instance').option('dataSource');
           var TrainingID = $(".btnSubmit").attr('trainingid');
           var TNAID = $(".btnSubmit").attr('tnaid');
           debugger
            var _Header={
                TNAID:parseInt(TNAID),
                TrainingID:parseInt(TrainingID),
                DepartGrid:data
            };
            $.ajax({
                url: '@Url.Action("SubmitLockedTrainingDepartments", "TrainingLead")',
                type: 'POST',
                data: {Data:_Header},
                success: function (response) {

                    if(response.Status)
                    {  
                        $(".cstm_loader").css({
                        "display": "none"
                    });

                        AlertToast('success', response.Message);
                        $("#DepartmentsModal").modal("hide");
                    }
                    else
                    {
                        $(".cstm_loader").css({
                            "display": "none"
                        });

                        AlertToast('error', response.Message);
                    }

                },
                error:function(xhr)
                {
                    $(".cstm_loader").css({
                        "display": "none"
                    });

                    console.log(xhr.status + ' : ' + xhr.statusText);
                }
            })

        }
        catch(err)
        {
            $(".cstm_loader").css({
                "display": "none"
            });

            console.log(err.message);
        }
    });
    


    $("#btnUpdate").click(function(){
        debugger
        //validate("TNAForm")

        if (validate("TNAForm") == true)
        {
            $("#btnUpdate").attr("disabled","");
            //if(BindDepart != null)
            //{
            //$('#DepartmentList').css('border-color', ''); //DropDown Removing Border Color

            var dataObject = {
                ID: $("#ID").val(),
                TNAName: $("#TNAName").val(),
                StartDate: $("#StartDate").val(),
                EndDate: $("#EndDate").val(),
                LastDateforLM:$("#LastDateforLM").val(),
                //TrainingIDs: BindTrainings,
                Trainings:  $("#TrainingsGrid").dxDataGrid('instance').option('dataSource'),
                IsActive: $("#IsActive").val()
            };

            var jsonData = JSON.stringify(dataObject);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateTNA", "TrainingLead")',
                //url: "/" + $('#tna_prefix').val() + "/TrainingLead/UpdateTNA",
                data: jsonData,
                processData: false,
                contentType: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger
                    if (response.Status) {
                        AlertToast('success', response.Message);

                        setTimeout(function () {
                            window.location.href = '@Url.Content("~/TrainingLead/TNAs")'
                            //window.location.href = "/"+ $('#tna_prefix').val() +"/TrainingLead/TNAs"
                        }, 3000);

                    }
                    else {
                        AlertToast('error', response.Message);
                        $("#btnUpdate").removeAttr("disabled","");

                    }
                }

            });

        }
        else
        {
            AlertToast('error', 'Fill the required fields.');
        }

    });




</script>


