﻿@model List<TNA_ViewModel.Model.TNA_VM.ActiveTrainingsSessions_mdl>
@{
    ViewBag.Title = "Assign Session Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
    var TrainingID_ViewBag = ViewBag.TrainingID ;
    var TNAID_ViewBag = ViewBag.TNAID ;

}
<style>
   #P_CounterRight {
   font-style: normal;
}
</style>
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">View Nominees for Training</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">View Nominees for Training</li>
                            }
                        }

                     
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row dragDrop_row">

                            <div class="col-md-12">

                                <div class="dragDrop_main_bx" id="MainDepartmentDiv">

                                    <div class="dragDrop_bx" style="border:solid 0px white;">
                                        <p class="heading">Assigned Employees To Departments <i style="float:right" id="P_CounterRight"></i></p>
                                        <div class="row mb-3 mr-0 ml-0">
                                            <h4 id="IsAvailable"></h4>
                                            <div class="col-md-10">
                                                    <div id="DeptList" class="mt-4"></div>                                                 
                                            </div>
                                            <div class="col-md-2 mt-3">
                                                <button onclick="SearchDeptforAssignedUsers()" id="btn_Search" class="btn btn-raised bg-red  waves-effect Header_Right_Btntna_purpl_btn"><i class="far fa-paper-plane"></i> Search</button>
                                            </div>
                                        </div>
                                        <div id="accordion" style="margin-top:8px;">
                                         
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<script>
    var dropDownDeptList = "";
    $(document).ready(function () {
       
        AllDepartmentsAssignedUsers();

    });

    function GetDeptList() {
        debugger
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();

        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID
            });
        }
       
        $.ajax({
            url: '@Url.Action("GetDept", "TrainingLead")',
            type: 'POST',
            data: data,
            contentType: "application/json; charset=utf-8",
            async: false,
            dataType:'json',
            success: function (response) {
                debugger
                BindDeptDropDown(JSON.parse(response.DeptList));
            },
            error: function () { 
                BindDeptDropDown(null);
            }
        });
    };

    function BindDeptDropDown(dataSource) {
        dropDownDeptList = $("#DeptList").dxSelectBox({
            dataSource: dataSource,
            showClearButton: true,
            placeholder: "Search / Select Department",
            displayExpr: "DepartmentName",
            valueExpr: "DepartmentName",
            searchEnabled: true,
            onValueChanged: function (data) {
                CheckisEmptyGetAll();
            }
        }).dxSelectBox("instance");
    }

    //Search Department
    function CheckisEmptyGetAll() {
        debugger
        var DName = dropDownDeptList._options.value;
        if (DName == null || DName == "") {
            $('#accordion').empty();
            AllDepartmentsAssignedUsers();
        }
        else {

        }
    }

    function SearchDeptforAssignedUsers() {
        debugger
        var DName = dropDownDeptList._options.value;

        if (DName != "" && DName != null)
        {
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();
        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
                'DName' : DName,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID,
                'DName' : DName
            });
        }
        
        $.ajax({
            url: '@Url.Action("SearchDepartmentsbyNameforAssignedEmployees", "TrainingLead")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: data,
            dataType: "json",
            success: function (result) {
                debugger
                //var uniqueCount = {};
                //result.forEach(function (x) {
                //    uniqueCount[x.DepartmentID] = (uniqueCount[x.DepartmentID] || 0) + 1;
                //});

                $('#accordion').empty();
                $.each(result.lst_SesssionParticipants, function (key, value) {
                    var departmentId = result.lst_SesssionParticipants[key].DepartmentID;
                    var departmentName = result.lst_SesssionParticipants[key].DepartmentName;
                    var userId = result.lst_SesssionParticipants[key].UserID;
                    var reporteeName = result.lst_SesssionParticipants[key].EmployeeName;

                    if (key > 0) {
                        var previousDepartmentName = result.lst_SesssionParticipants[key - 1].DepartmentName;
                        if (previousDepartmentName == departmentName) {
                            var append = '<li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li>'
                            $('#accordion .card #department-' + departmentId + ' .card-body .main_box#' + departmentId + '').append(append);
                        }
                        else if (previousDepartmentName != departmentName) {
                            var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                            $('#accordion').append(append);
                        }
                    }
                    else {
                        var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                        $('#accordion').append(append);
                    }
                });
            },
            error: function (result) {
            }
        });
        }

        else {
            AlertToast('error', 'Please Select Department');
        }


    }
    //End Search

    function AllDepartmentsAssignedUsers() {
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();

        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID
            });
        }
       
        $.ajax({
            url: '@Url.Action("GetAllDepartmentsAssignedEmployees", "TrainingLead")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: data,
            dataType: "json",
            success: function (result) {
                debugger
                $('#IsAvailable').text(' ');
                $('#btn_Search').show();
                $('#P_CounterRight').text("Participants: "+result.length);
                $('#accordion').empty();
                $.each(result, function (key, value) {

                    var departmentId = result[key].DepartmentID;
                    var departmentName = result[key].DepartmentName;
                    var userId = result[key].UserID;
                    var reporteeName = result[key].EmployeeName;

                    if (key > 0) {
                        var previousDepartmentName = result[key - 1].DepartmentName;
                        if (previousDepartmentName == departmentName) {
                            var append = '<li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li>'
                            $('#accordion .card #department-' + departmentId + ' .card-body .main_box#' + departmentId + '').append(append);
                        }
                        else if (previousDepartmentName != departmentName) {
                            var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span  style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                            $('#accordion').append(append);
                        }
                    }
                    else {
                        var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + '  class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                        $('#accordion').append(append);
                    }
                });

                GetDeptList();
            },
            error: function (result) {
                $('#IsAvailable').text('No Nominees Available.');
                $('#btn_Search').hide();
              
            }
        });
    }

    


   
   


</script>

