﻿@model List<TNA_ViewModel.Model.TNA_VM.ActiveTrainingsSessions_mdl>
@{
    ViewBag.Title = "Assign Session Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
    var TrainingID_ViewBag = ViewBag.TrainingID ;
    var TNAID_ViewBag = ViewBag.TNAID ;

}
<style>
   #P_CounterRight {
   font-style: normal;
}
</style>
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Assign Users To Session</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Assign Users To Session</li>
                            }
                        }

                     
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row dragDrop_row">
                            <div class="col-md-6">
                                <div class="dragDrop_main_bx bx_section" id="div-main-TNA-Details">
                                    @if (Model != null)
                                    {
                                        
                                        for (int a = 0; a < Model.Count; a++)
                                        {
                                            <input type="hidden" id="hidden-TnaID" value="@Model[a].TNAID" />
                                            <input type="hidden" id="hidden-TrainingID" value="@Model[a].TrainingID" />
                                            <div class="dragDrop_bx" id="div-tna-@Model[a].TNAID">
                                                <p class="heading">
                                                    Training Name : @Model[a].TrainingName (@Model[a].TNAName)
                                                    <br /><span id="session_@Model[a].SessionID">Participants: @a</span>
                                                </p>
                                                <div class="div-container-trainingname" id="div-training-@Model[a].TrainingID">
                                                    <p><strong>Training Descriptions : </strong>@Model[a].Descriptions</p>
                                                    <p id="sessionID-@Model[a].SessionID"><strong>Session Name : </strong>@Model[a].SessionName</p>
                                                    <p id="AllowedParticipants_@Model[a].SessionID"><strong>Total Participants Allowed : </strong>@Model[a].Participants</p>
                                                    <p><strong>Session Start Date : </strong>
                                                   
                                                        @{ if (Model[a].SessionStart != null)
                                                            {
                                                                Convert.ToDateTime(Model[a].SessionStart).ToString("dd-MM-yyyy");
                                                            }
                                                            else
                                                            {
                                                                
                                                            }
                                                        }

                                                        
                                                    
                                                    @Model[a].StartTime.ToString()

                                                    <br /><strong>Session End Date : </strong>
                                                   
                                                     @{ if (Model[a].SessionEnd != null)
                                                         {
                                                             Convert.ToDateTime(Model[a].SessionEnd).ToString("dd-MM-yyyy");
                                                         }
                                                         else
                                                         {
                                                             
                                                         }
                                                     }  
                                                     @Model[a].EndTime.ToString()</p>
                                                </div>
                                                <ul class="main_box" id="@Model[a].SessionID">
                                                    <li style="background-color:#b5bcbf; color:white; text-align:center;">Drop Users Below ... </li>
                                                    <li id="li-dropUser">
                                                        <div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>
                                                    </li>
                                                </ul>
                                              
                                                    <div class="pr-5 pl-5 text-right" >
                                                     @*   <button type="button" tnaid="@Model[a].TNAID" trainingid="@Model[a].TrainingID" sessionid="@Model[a].SessionID" class="btnPublish btn  btn-raised bg-red  waves-effect  btn_light"><i class="far fa-paper-plane"></i>Publish</button>*@
                                                    </div>
                                              
                                               
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>There is no Sessions.</p>
                                    }

                                   

                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="dragDrop_main_bx" id="MainDepartmentDiv">

                                    <div class="dragDrop_bx" style="border:solid 0px white;">
                                        <p class="heading">Assigned Employees To Departments <br /><i id="P_CounterRight"></i></p>
                                        <div class="row mb-3 mr-0 ml-0">
                                            <div class="col-md-8 mt-2 pl-0">
                                                <label class="form-label">Search</label>
                                                <div class="form-line">
                                                    <div id="DeptList"></div>                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt-4">
                                                <label class="form-label"></label>
                                                <button onclick="SearchDeptforAssignedUsers()" class="btn btn-raised bg-red  waves-effect Header_Right_Btntna_purpl_btn"><i class="far fa-paper-plane"></i> Search</button>
                                            </div>
                                        </div>
                                        <div id="accordion" style="margin-top:8px;">
                                         
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                @if (Model != null)
                                {
                                    for (int b = 0; b < Model.Count; b++)
                                    {
                                        
                                    }

                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Small Size -->
<div class="modal fade" id="modal-Confirm-DeleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete this <b>"USER"</b> ?
            </div>
            <div class="modal-footer">
                <button id="btn-DeleteUser" type="button" class="btnDelete btn btn-link waves-effect" onclick="DeleteUser()"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
                <input type="hidden" id="hidden-UserID-ForDelete" />
                <input type="hidden" id="hidden-DepartmentID-ForDelete" />
                <input type="hidden" id="hidden-SessionID-ForDelete" />
                <input type="hidden" id="hidden-TnaID-ForDelete" />
                <input type="hidden" id="hidden-TrainingID-ForDelete" />
            </div>
        </div>
    </div>
</div>

<script>
    var dropDownDeptList = "";
    $(document).ready(function () {
        FillAssignUsersNamesToSessionsOnLoad();
        //AllDepartmentsAssignedUsers();
        //GetDeptList();
    });

    function GetDeptList() {
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();

        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID
            });
        }
       
        $.ajax({
            url: '@Url.Action("GetDept", "TrainingLead")',
            type: 'POST',
            data: data,
            contentType: "application/json; charset=utf-8",
            async: false,
            dataType:'json',
            success: function (response) {
                debugger
                BindDeptDropDown(JSON.parse(response.DeptList)
);
            },
            error: function () { }
        });
    };

    function BindDeptDropDown(dataSource) {
        dropDownDeptList = $("#DeptList").dxSelectBox({
            dataSource: dataSource,
            showClearButton: true,
            placeholder: "Search / Select Department",
            displayExpr: "DepartmentName",
            valueExpr: "DepartmentName",
            searchEnabled: true,
            onValueChanged: function (data) {
                CheckisEmptyGetAll();
            }
        }).dxSelectBox("instance");
    }

    //Search Department
    function CheckisEmptyGetAll() {
        debugger
        var DName = dropDownDeptList._options.value;
        if (DName == null || DName == "") {
            $('#accordion').empty();
            AllDepartmentsAssignedUsers();
        }
        else {

        }
    }

    function SearchDeptforAssignedUsers() {
        debugger
        var DName = dropDownDeptList._options.value;

        if (DName != "" && DName != null)
        {
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();
        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
                'DName' : DName,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID,
                'DName' : DName
            });
        }
        
        $.ajax({
            url: '@Url.Action("SearchDepartmentsbyNameforAssignedEmployees", "TrainingLead")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: data,
            dataType: "json",
            success: function (result) {
                debugger
                //var uniqueCount = {};
                //result.forEach(function (x) {
                //    uniqueCount[x.DepartmentID] = (uniqueCount[x.DepartmentID] || 0) + 1;
                //});

                $('#accordion').empty();
                $.each(result.lst_SesssionParticipants, function (key, value) {
                    var departmentId = result.lst_SesssionParticipants[key].DepartmentID;
                    var departmentName = result.lst_SesssionParticipants[key].DepartmentName;
                    var userId = result.lst_SesssionParticipants[key].UserID;
                    var reporteeName = result.lst_SesssionParticipants[key].EmployeeName;

                    if (key > 0) {
                        var previousDepartmentName = result.lst_SesssionParticipants[key - 1].DepartmentName;
                        if (previousDepartmentName == departmentName) {
                            var append = '<li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li>'
                            $('#accordion .card #department-' + departmentId + ' .card-body .main_box#' + departmentId + '').append(append);
                        }
                        else if (previousDepartmentName != departmentName) {
                            var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                            $('#accordion').append(append);
                        }
                    }
                    else {
                        var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                        $('#accordion').append(append);
                    }
                });
            },
            error: function (result) {
            }
        });
        }

        else {
            AlertToast('error', 'Please Select Department');
        }


    }
    //End Search

    function AllDepartmentsAssignedUsers() {
        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();

        if (trainingID == undefined && tnaID == undefined) {

            var data = JSON.stringify({
                'TnaID':  @TNAID_ViewBag,
                'TrainingID': @TrainingID_ViewBag,
            });
        }

        else {
            var data = JSON.stringify({
                'TnaID': tnaID,
                'TrainingID': trainingID
            });
        }
       
        $.ajax({
            url: '@Url.Action("GetAllDepartmentsAssignedEmployees", "TrainingLead")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: data,
            dataType: "json",
            success: function (result) {
                debugger
                $('#P_CounterRight').text("Participants: "+result.length);
                $('#accordion').empty();
                //var uniqueCount = {};
                //result.forEach(function (x) {
                //    uniqueCount[x.DepartmentID] = (uniqueCount[x.DepartmentID] || 0) + 1;
                //});
                $.each(result, function (key, value) {

                    var departmentId = result[key].DepartmentID;
                    var departmentName = result[key].DepartmentName;
                    var userId = result[key].UserID;
                    var reporteeName = result[key].EmployeeName;

                    if (key > 0) {
                        var previousDepartmentName = result[key - 1].DepartmentName;
                        if (previousDepartmentName == departmentName) {
                            var append = '<li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li>'
                            $('#accordion .card #department-' + departmentId + ' .card-body .main_box#' + departmentId + '').append(append);
                        }
                        else if (previousDepartmentName != departmentName) {
                            var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span  style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                            $('#accordion').append(append);
                        }
                    }
                    else {
                        var append = '<div class="card" style="border:solid 2px black;"><div class="card-header" id="headingOne" style="padding:0px;"><h5 class="mb-0">' +
                            '<button class="btn btn-link" id=' + departmentId + ' title="Click To Expand/Collapse" data-toggle="collapse" data-target="#department-' + departmentId + '" aria-expanded="false" aria-controls="#department-' + departmentId + '" ' +
                            'style="font-size:22px; width:100%;">' + departmentName + ' | <span style="font-size: small;text-transform: none;" id="DepartmentCount-' + departmentId + '"> Participants :' + value.TotalCount + '</span></button></h5></div><div id="department-' + departmentId + '" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">' +
                            '<div class="card-body"><ul class="main_box" id=' + departmentId + '><li id=' + userId + '-' + departmentId + ' draggable="true" ondragstart="drag(event)" class="draggable">' + reporteeName + '</li></ul></div></div></div>';
                        $('#accordion').append(append);
                    }
                });

                GetDeptList();
            },
            error: function (result) {
            }
        });
    }

    function FillAssignUsersNamesToSessionsOnLoad() {
        debugger;
        var getTnaID;
        var getTrainingID;
        var obj;

        var trainingID = $("#hidden-TrainingID").val();
        var tnaID = $("#hidden-TnaID").val();
        if (trainingID == undefined && tnaID == undefined) {

            var obj = {
                TNAID: @TNAID_ViewBag,
                TrainingID: @TrainingID_ViewBag,
            };
        }

        else {
            var obj = {
                TNAID: tnaID,
                TrainingID: trainingID
            };
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSessionUsersOnLoad", "TrainingLead")",
            contentType: "application/json; charset=utf-8",
        data: JSON.stringify(obj),
        dataType: "json",
        success: function (response) {
            debugger;
            if (response.Status) {
                $.each(response.data, function (key, value) {
                    var tnaid = value.TNAID;
                    var trainingid = "#training-" + value.TrainingID;
                    var userid = value.UserID;
                    var userName = value.EmployeeName;
                    var sessionid = value.SessionID;
                    var departmentid = value.DepartmentID;


                    $("#div-main-TNA-Details #div-tna-" + tnaid + " ul#" + sessionid + " li#li-dropUser").prepend('<div id="' + userid + '-' + departmentid + '" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;">' + userName + ' | '+value.DepartmentName+'<i class="zmdi zmdi-delete" onclick="modal_Open_DeleteUser(this)" style="float:right; margin-right:20px;"></i></div>');

                    var countt = $("#div-main-TNA-Details ul#" + sessionid + " #li-dropUser").find("div").length;
                    var count_UserNames = $("#div-main-TNA-Details #div-tna-" + tnaid + " ul#" + sessionid + " #li-dropUser div").length;


                    var finalCount = parseInt(count_UserNames) - parseInt(1);
                    $(".heading span").text('Participants: ' + finalCount);



                    var totalParticipantsAllowed = $("#AllowedParticipants_" + value.SessionID).text();
                    var totalParticipantsAllowed_Split = totalParticipantsAllowed.split(':');
                    var TotalParticipantsAllowed_Final = totalParticipantsAllowed_Split[1].trim();

                    if (parseInt(TotalParticipantsAllowed_Final) == finalCount) {

                        //AlertToast('error', "You are Reached to Allowed Limits Participants, You are not allow to move more participants in this session.");
                        //alert("You are Reached to Allowed Limits Participants, You are not allow to move more participants in this session.");
                        $("#div-main-TNA-Details ul#" + sessionid + " #li-dropUser").find("div#div-DropUser").remove(); // .append('<div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>');
                    }
                    else {

                    }

                });
                AllDepartmentsAssignedUsers();
            }
            else {
                $("#MainDepartmentDiv").empty();
                AlertToast('error', response.Message);
                //$("#div-main-TNA-Details").prepend('<div>No sessions available.</div>');
            }

        },
        error: function () {
        }
    });
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev, target) {
        ev.preventDefault();
        debugger
        var dragID = ev.dataTransfer.getData("text");
        var dragID_Split = dragID.split("-");
        var dragID_UserID = dragID_Split[0];
        var dragID_DepartmentID = dragID_Split[1];
        var DeptName = $("#" + dragID_DepartmentID).text().split('|')[0];
        var tnaID = ev.target.parentElement.parentElement.parentElement.id;
        var tnaID_Split = tnaID.split("-");
        var tnaID_Final = tnaID_Split[2];

        var trainingID = ev.target.parentElement.parentElement.parentElement.children[1].id;
        var trainingID_Split = trainingID.split("-");
        var trainingID_Final = trainingID_Split[2];

        var sessionID = ev.target.parentElement.parentElement.parentElement.children[1].children[1].id;
        var sessionID_Split = sessionID.split("-");
        var sessionID_Final = sessionID_Split[1];

        var nodeCopy = document.getElementById(dragID);
        ev.target.append(nodeCopy.textContent + " | " + DeptName);
        debugger
        var totalParticipantsAllowed = ev.target.parentElement.parentElement.parentElement.children[1].children[2].textContent;
        var totalParticipantsAllowed_Split = totalParticipantsAllowed.split(':');
        var TotalParticipantsAllowed_Final = totalParticipantsAllowed_Split[1].trim();

        var parentDiv_SessionID = ev.target.parentElement.parentElement.id;
        $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser div").last().attr('id', dragID_UserID + '-' + dragID_DepartmentID);
        $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser div").last().append('<i class="zmdi zmdi-delete" onclick="modal_Open_DeleteUser(this)" style="float:right; margin-right:20px;"></i>');
        $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser div").removeAttr('ondrop');
        $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser div").removeAttr('ondragover');

        var countt = $("#div-main-TNA-Details ul#" + sessionID_Final + " #li-dropUser").find("div").length;
        var count_UserNames = $("#div-main-TNA-Details #div-tna-"+tnaID_Final+" ul#" + sessionID_Final + " #li-dropUser div").length;
        debugger
        if (TotalParticipantsAllowed_Final == count_UserNames) {
            AlertToast('error', "You are Reached to Allowed Limits Participants, You are not allow to move more participants in this session.");
            //alert("You are Reached to Allowed Limits Participants, You are not allow to move more participants in this session.");
        }
        else {

               $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser").append('<div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>');

        }

        var check= InsertUsers(tnaID_Final, trainingID_Final, sessionID_Final, dragID_UserID, dragID_DepartmentID);
        if (check == false) {
           // AllDepartmentsAssignedUsers();
            $("#div-main-TNA-Details ul#" + parentDiv_SessionID + " #li-dropUser").find("div#" + dragID_UserID + "-" + dragID_DepartmentID).remove();
            $("#div-main-TNA-Details ul#" + sessionid + " #li-dropUser").append('<div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>');
        }

        $("#accordion .card #department-" + dragID_DepartmentID + " .card-body ul").find("li#" + dragID + "").css('display', "none");
        var getCountRight= $(".heading i").text().split(':')[1];
        var IndividualDepatCount = $("#DepartmentCount-" + dragID_DepartmentID).text().split(':')[1];
        $("#DepartmentCount-" + dragID_DepartmentID).text(" Participants :" + (parseInt(IndividualDepatCount) - 1));
        $(".heading span").text('Participants: ' + count_UserNames);
        $("#P_CounterRight").text('Participants: ' + (parseInt(getCountRight) - 1));
       // $("#div-main-TNA-Details #div-tna-"+tnaID_Final+" ul#" + sessionID_Final + "").prev().prev().find(".participants-counts").text(count_UserNames);
    }

    function InsertUsers(tnaID_Final, trainingID_Final, sessionID_Final, dragID_UserID, dragID_DepartmentID){
        var retu = false;
        var obj = {
            TNAID: tnaID_Final,
            TrainingID: trainingID_Final,
            SessionID: sessionID_Final,
            UserID: dragID_UserID,
            DeptID: dragID_DepartmentID
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("InsertUsersToSessions", "TrainingLead")",
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/InsertUsersToSessions",
            contentType: "application/json; charset=utf-8",
        data: JSON.stringify(obj),
        dataType: "json",
            async:false,
        success: function (response) {
            if (response.Status) {

                AlertToast('success', response.Message);
                retu = true;

            }
            else {
                retu = false;
                AlertToast('error', response.Message);

            }
        },
        error: function (xhr) {
        },
        });
        return retu;
    }

    function modal_Open_DeleteUser(eve) {
        $("#modal-Confirm-DeleteUser").modal('show');

        var getTrainingID = $("#hidden-TrainingID").val();
        var getTnaID = $("#hidden-TnaID").val();

        var userID = eve.parentElement.id;
        var userID_split = userID.split('-');
        var userID_Final = userID_split[0];
        var departmentID_Final = userID_split[1];
        var sessionID = eve.parentElement.parentElement.parentElement.id;

        $("#hidden-UserID-ForDelete").val(userID_Final);
        $("#hidden-DepartmentID-ForDelete").val(departmentID_Final);
        $("#hidden-SessionID-ForDelete").val(sessionID);
        $("#hidden-TnaID-ForDelete").val(getTnaID);
        $("#hidden-TrainingID-ForDelete").val(getTrainingID);
    }

    function DeleteUser() {
        var getUserID_FromHidden = $("#hidden-UserID-ForDelete").val();
        var getDepartmentID_FromHidden = $("#hidden-DepartmentID-ForDelete").val();
        var getSessionID_FromHidden = $("#hidden-SessionID-ForDelete").val();
        var getTnaID_FromHidden = $("#hidden-TnaID-ForDelete").val();
        var getTrainingID_FromHidden = $("#hidden-TrainingID-ForDelete").val();

        var obj = {
            TNAID: getTnaID_FromHidden,
            TrainingID: getTrainingID_FromHidden,
            UserID: getUserID_FromHidden,
            DeptID: getDepartmentID_FromHidden,
            SessionID : getSessionID_FromHidden
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteUserFromSession", "TrainingLead")",
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/DeleteUserFromSession",
            contentType: "application/json; charset=utf-8",
        data: JSON.stringify(obj),
        dataType: "json",
        success: function (response) {
            if (response.Status) {
                AlertToast('success', response.Message);
                debugger
                var tnaid = "#div-tna-" + getTnaID_FromHidden;
                var trainingid = "#training-" + getTrainingID_FromHidden;
                var userid = getUserID_FromHidden;
                var sessionid = getSessionID_FromHidden;
                var departmentid = getDepartmentID_FromHidden;
                var count_UserNames = $("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + getSessionID_FromHidden + " #li-dropUser div").length;
                var finalCount = parseInt(count_UserNames) - parseInt(1);
                $(".heading span").text('Participants: ' + finalCount);
              //  $("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + sessionid + "").prev().prev().find(".participants-counts").text(finalCount);

                var totalParticipantsAllowed = $("#AllowedParticipants_" + sessionid).text();// .child[2].text();
                var totalParticipantsAllowed_Split = totalParticipantsAllowed.split(':');
                var TotalParticipantsAllowed_Final = totalParticipantsAllowed_Split[1].trim();
                var check = parseInt(TotalParticipantsAllowed_Final) - parseInt(finalCount);

                if(check ==  1){
                    $("#div-main-TNA-Details ul#" + sessionid + " #li-dropUser").append('<div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>');
                    var count_DropDiv = $("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + getSessionID_FromHidden + " #li-dropUser div#div-DropUser").length;
                    if(count_DropDiv > 1){
                        $("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + getSessionID_FromHidden + " #li-dropUser div#div-DropUser").last().remove();
                    }
                }
                else{

                }
                $("#div-main-TNA-Details ul#" + sessionid + " #li-dropUser").find("div#"+getUserID_FromHidden+"-"+getDepartmentID_FromHidden).remove();
                var count_UserNames2 = $("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + getSessionID_FromHidden + " #li-dropUser div").length;
                var finalCount2 = parseInt(count_UserNames2) - parseInt(1);
                $(".heading span").text('Participants: ' + finalCount2);
                //$("#div-main-TNA-Details #div-tna-"+getTnaID_FromHidden+" ul#" + sessionid + "").prev().prev().find(".participants-counts").text(finalCount2);
                AllDepartmentsAssignedUsers();
            }
            else {
                AlertToast('error', response.Message);
            }
        },
        error: function (xhr) {
        },
        });
    $("#modal-Confirm-DeleteUser").modal('hide');
    }


    //For Emails of Session
    $(".btnPublish").click(function () {
        debugger
        $(".cstm_loader").css({
            "display": "block"
        });
        try {

            var tnaID = $(this).attr("tnaid");
            var trainingID = $(this).attr("trainingid");
            var sessionID = $(this).attr("sessionid");


            $.ajax({
                type: "GET",
                url: '@Url.Action("PublishSession", "TrainingLead")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/UpdateTopic",
                data: {
                    TNAID: tnaID,
                    TrainingID: trainingID,
                    SessionID: sessionID
                },
                //processData: false,
                //contentType: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger
                    if (response.Status) {
                        $(".cstm_loader").css({
                            "display": "none"
                        });
                        AlertToast('success', response.Message);
                        @*setTimeout(function () {
                            window.location.href = '@Url.Content("~/TrainingLead/ActiveTrainings")'
                            //window.location.href = "/"+ $('#tna_prefix').val() +"/TrainingLead/TNAs"
                        }, 3000);*@
                        //BindTopicGrid();
                        //$("#TopicModal").modal("hide");
                    }
                    else {
                        $(".cstm_loader").css({
                            "display": "none"
                        });
                        AlertToast('error', response.Message);
                        ////$("#TopicModal").modal("hide");
                        //$("#btnUpdate").removeAttr("disabled", "");

                    }


                },
                error: function (xhr) {
                    $(".cstm_loader").css({
                        "display": "none"
                    });
                }

            });
        }
        catch (err)
        {
            $(".cstm_loader").css({
                "display": "none"
            });
            console.log(err.message);
        }


    });


</script>

