﻿
@{
    ViewBag.Title = "ClosedSessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<script src="~/Scripts/Session.js"></script>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Closed Sessions</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Closed Sessions</li>
                            }
                        }
                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> Closed Session  <small></small> </h2>
                    
                    </div>



                    <div class="body">
                        <div id="SessionsGrid" class="cum_grid"></div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
</section>


<script>

    $(document).ready(function () {
        GetAllSessionsData();
    });

    function GetAllSessionsData() {
        $.ajax({
            url: '@Url.Action("GetAllClosedSessions", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/GetAllSessions",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger

                if (response != "null") {

                    var sessionData = JSON.parse(response);

                    BindSessionGrid(sessionData);
                }
                else {
                    BindSessionGrid(null);

                }

            },
            error: function (xhr) {
                debugger
            }
        });
    }


    function BindSessionGrid(DataSource)
    {
        debugger
        $("#SessionsGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 10
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            onCellPrepared: function (e, options) {
                debugger
                if (e.rowType == 'data') {
                    if (e.column.dataField == 'IsClose' && e.data.IsClose == true) {
                        e.cellElement.addClass('red_row');
                    }
                    if (e.column.dataField == 'IsClose' && e.data.IsClose == false) {
                        e.cellElement.addClass('green_row');
                    }
                }
            },
            columns: [
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "TrainingName",
                    caption: "TrainingName",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "TNAName",
                    caption: "TNAName",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    //alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "EndDate",
                    caption: "End Date",
                    //alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "IsClose",
                    caption: "Is Closed",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "ID",
                    caption: "Action",
                    alignment: "center",
                    width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            
                            .append($("<a class='SessionEdit' _id=" + options.value + " title='Detail View'><i class='fa fa-eye'></i></a>"))                           
                            .appendTo(container);
                    }
                }
            ]
        });
    }

    function applyValidation() {

        //For TNAs SelectBox
        $("#TNAList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TNAList").find(".dx-texteditor-input").attr('require', '*Please Select TNAs.');
        //For Trainings SelectBox
        $("#TrainingList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TrainingList").find(".dx-texteditor-input").attr('require', '*Please Select Trainings.');
        //For Trainers SelectBox
        $("#TrainerList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TrainerList").find(".dx-texteditor-input").attr('require', '*Please Select Trainers.');
        //For Geographys SelectBox
        //$("#GeographyList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        //$("#GeographyList").find(".dx-texteditor-input").attr('require', '*Please Select Geographys.');
    }






    $('body').on('click', '.SessionEdit', function () {

        var sessionID = $(this).attr('_id');
        window.location.href = "ClosedSessionDetail?id=" + sessionID;      

    });

</script>