﻿@model TNA_ViewModel.Model.TNA_VM.ActiveTrainingsSessions_mdl
@{
    ViewBag.Title = "ClosedSessionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<input type="hidden"  name="sessionid" id="sessionid" value="@Model.SessionID" />
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Closed Sessions Detail</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Closed Sessions Detail</li>
                            }
                        }
                      
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> Closed Session Detail  <small></small> </h2>

                    </div>



                    <div class="body">
                        <div class="row dragDrop_row">
                            <div class="col-md-12">
                                <div class="" id="div-main-TNA-Details">
                                                          

                                  

                                </div>
                            </div>
                        </div>

                        <div id="buttonDP" class="text-right mb-10">
                            <button type="button" id="btnDownload" class="btnPublish btn btn-raised bg-red  waves-effect tna_purpl_btn"><i class="far fa-file-pdf"></i> Download</button> 
                            <button id="btnPrint" class="btn btn-raised btn_light waves-effect"><i class="fas fa-print"></i> Print</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/Scripts/print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#buttonDP').css({"display":"none"});
      
        LoadSessionDetail();
    });
   
    var jsondata=[];
    var userdata=[];
    var objt = {};
    

    function LoadSessionDetail() {
        var _sessionID = $('#sessionid').val();
        $.ajax({
            url: '@Url.Action("GetDetailofSessionbyID", "TrainingLead")',
            type: 'POST',
            data: { SessionID: _sessionID },
            success: function (response) {
                debugger
                 jsondata = JSON.parse(response);
            objt = {
                    TNAID:jsondata[0].TNAID,
                    TrainingID : jsondata[0].TrainingID,
                    SessionId:jsondata[0].SessionID
                }

                userdata= LoadsessionUsers(objt);
                PopulatedataintoHTML(jsondata, userdata);
                if (jsondata.length>0) {
                    $('#buttonDP').css({ "display": "block" });
                }
            },
            error: function (response) {


            }

        });
    }

    function LoadsessionUsers(objt) {

        var responseData=[];
        $.ajax({
            url: '@Url.Action("GetUsersDetailofSession", "TrainingLead")',
            type: 'POST',
            async: false,
            data: objt,
            success: function (response) {
                debugger
                responseData = JSON.parse(response.data);

            },
            error: function (response) {
                responseData = null;

            }

        });

        return responseData;
    }

    function PopulatedataintoHTML(dataSource, userdata) {
        var html = '';
        html += '<div class="dragDrop_bx" >' +
                    '<p class="heading">Training Name :' + dataSource[0].TrainingName +
                        '<span style="float:right; font-weight:bold; margin-right:30px;" > Participants :' +
                            '<span class="participants-counts">' + userdata.length + '</span>' +
                        '</span>' +
                    '</p>' +
                    '<div class="div-container-trainingname">' +
                     '<p ><strong>TNA Name : </strong>' + dataSource[0].TNAName + '</p>' +
                      '<p ><strong>Trainer Name : </strong>' + dataSource[0].FullName + '</p>' +
                        '<p><strong>Training Descriptions : </strong>' + dataSource[0].Description + '</p>' +
                        '<p ><strong>Session Name : </strong>' + dataSource[0].SessionName + '</p>' +
                        '<p id="AllowedParticipants"><strong>Total Participants Allowed : </strong>' + dataSource[0].Participants + '</p>' +
                        '<p><strong>Session Start Date : </strong>' + dataSource[0].SessionStart + '  ' + dataSource[0].StartTime + '<br /><strong>Session End Date : </strong>' + dataSource[0].SessionEnd + '  ' + dataSource[0].EndTime + '</p>' +
                    '</div>' +
                    '<ul class="main_box cstm_ulbx" >' +

                        '<li id="li-dropUser">' +

                           '<div class="table-responsive">'+
                                        '<table id="userTable" class="table">'+
                                            '<tr>'+
                                                '<th>Employee Name</th>'+
                                                '<th>Department</th>' +
                                                '<th>Feedback</th>' +
                                                '<th>Attendance</th>' +
                                            '</tr>'+
                                        '</table>'+
                                    '</div>'+

                        '</li>' +
                    '</ul>' +
               '</div>';

        $('#div-main-TNA-Details').append(html);
       
        $.each(userdata, function (key, value) {

            if (value.Attendence) {

                $('#userTable').append('<tr><td>' + value.ReporteeName + '</td><td>' + value.DepartmentName + '</td><td>' + (value.Feedback!=null ? value.Feedback :" ")  + '</td><td><i class="fas fa-check"></i></td></tr>');
            }

            else {
                $('#userTable').append('<tr><td>' + value.ReporteeName + '</td><td>' + value.DepartmentName + '</td><td>' + (value.Feedback != null ? value.Feedback : " ") + '</td><td><i class="fas fa-times"></i></td></tr>');
            }
        });

      

    }


    function Download(){

        window.location.href = '@Url.Action("downloadInvoice","TrainingLead")?Ids=' + JSON.stringify(objt);
    }

    $('#btnDownload').on('click', function () {
        Download();
    });

    $('#btnPrint').on('click', function () {
        onPrintClick();
    });

    function onPrintClick() {
        $(".cstm_loader").css({
            "display": "block"
        });

        $.ajax({

            url: '@Url.Action("downloadInvoice","TrainingLead")?Ids=' + JSON.stringify(objt),
            method: "GET",            
            success: function (response) {
                printJS('/TNA/Content/Upload/SessionPDF.pdf');
                //printJS('/Content/Upload/SessionPDF.pdf');
                $(".cstm_loader").css({
                    "display": "none"
                });
            },
            error: function () {
                AlertToast("error", "Failed to load Print Screen.");
                $(".cstm_loader").css({
                    "display": "none"
                });
            }
        });

    }
</script>