﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .state-tooltip {
        height: 90px;
    }

        .state-tooltip > img {
            width: 60px;
            height: 40px;
            display: block;
            margin: 0 5px 0 0;
            float: left;
        }

        .state-tooltip > h4 {
            line-height: 40px;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .state-tooltip .caption {
            font-weight: 500;
        }

        .state-tooltip sup {
            font-size: 0.8em;
            vertical-align: super;
            line-height: 0;
        }
</style>

<h2>Dashboard</h2>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" />

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="display: -webkit-box" class="market-updates">
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-2">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-eye"> </i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4>TNA</h4>
                                <h3 id="TNA" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-1">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4>Training</h4>
                                <h3 id="Training" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-3">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4>Session</h4>
                                <h3 id="Session" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="card">

                    <div class="body">


                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div style="margin-left: 17px;background: white;" class="col">
                <div id="chart1"></div>
            </div>
            <div style="background: white;" class="col">
                <div id="chart2"></div>
            </div>
        </div>

</section>

<script>


    function getTraining() {
        $.ajax({
        url:'@Url.Action("getTraining", "TrainingLead")',
        type:'GET',
        dataType: 'json',
        success: function (response) {

            if (response.Status) {

                BindTrainingChart(JSON.parse(response.dataList));
            }

            else {
                BindTrainingChart(null);
            }

        },
        error: function (response) {
            BindTrainingChart(null);
        }
        });
    }

    $(function () {
        GetCounterValue();
        numericCounter();
        getTraining();
        CurrentMonthTraining();
        CurrentMonthSession();


    });


    function GetCounterValue() {
        $.ajax({
            url: '@Url.Action("GetCounterValue", "TrainingLead")',
            type: 'GET',
            async:false,
            success: function (response) {

                if (response.Status) {

                    var CounterVal = JSON.parse(response.data);
                    $('#TNA').html(CounterVal[0].TotalTNA);
                    $('#Training').html(CounterVal[0].TotalTraining);
                    $('#Session').html(CounterVal[0].TotalSession);
                }

            },
            error: function (response) {

            }

        });
    }


    function CurrentMonthTraining() {
        $.ajax({
            url: '@Url.Action("CurrentMonthTraining", "TrainingLead")',
            type: 'GET',
            success: function (response) {

                if (response.Status) {

                    BindCurrentMonthTraining(JSON.parse(response.dataList));
                }

                else {
                    BindCurrentMonthTraining(null);
                }

            },
            error: function (response) {
                BindCurrentMonthTraining(null)
            }

        });
    }
    function CurrentMonthSession() {
        $.ajax({
            url: '@Url.Action("CurrentMonthSession", "TrainingLead")',
            type: 'GET',
            success: function (response) {

                if (response.Status) {

                    BindCurrentMonthSession(JSON.parse(response.dataList));
                }

                else {
                    BindCurrentMonthSession(null);
                }

            },
            error: function (response) {
                BindCurrentMonthSession(null)
            }

        });
    }
    function BindCurrentMonthTraining(dataSource) {
        $("#chart1").dxChart({
            dataSource: dataSource,
            commonPaneSettings: {
                border: {
                    visible: true
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: {
                type: "scatter",
                valueField: "CDay",
                argumentField: "TrainingName",
                point: {
                    size: 20
                }
            },
            //customizePoint: function () {

            //    var color, hoverStyle;
            //    switch (this.tag) {
            //        case "Star":
            //            color = "red";
            //            hoverStyle = { border: { color: "red" } };
            //            break;
            //        case "Satellite":
            //            color = "gray";
            //            hoverStyle = { border: { color: "gray" } };
            //    }
            //    return { color: color, hoverStyle: hoverStyle };
            //},
            "export": {
                enabled: true
            },
            legend: {

                    visible: false

            },
            argumentAxis: {
                label: {
                    rotationAngle: 20,
                    overlappingBehavior: "rotate"
                }
            },
            valueAxis: {

                title: "Day of Month"
            },
            title: "Trainings of Current Month",

            tooltip: {
                enabled: true
            }
        });
    }
    function BindCurrentMonthSession(dataSource) {
        $("#chart2").dxChart({
            dataSource: dataSource,
            commonPaneSettings: {
                border: {
                    visible: true
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: {
                type: "scatter",
                valueField: "CDay",
                argumentField: "SessionName",
                point: {
                    size: 20
                }
            },
            customizePoint: function () {

                var color, hoverStyle;
                hoverStyle = { border: { color: "red" } };
                color = "red";
                //switch (this.tag) {
                //    case "Star":
                //
                //
                //        break;
                //    case "Satellite":
                //        color = "gray";
                //        hoverStyle = { border: { color: "gray" } };
                //}
                return { color: color, hoverStyle: hoverStyle };
            },
            "export": {
                enabled: true
            },
            legend: {

                visible: false

            },
            argumentAxis: {
                label: {
                    rotationAngle: 20,
                    overlappingBehavior: "rotate"
                }
            },
            valueAxis: {

                title: "Day of Month"
            },
            title: "Session of Current Month",

            tooltip: {
                enabled: true
            }
        });
    }

    function BindTrainingChart(dataSource) {
        var data = [{
            "TrainingName": "Net Training",
            "SessionName": "sess",
            "NoOfParticipants": 10
        },
{
    "TrainingName": "Net Training",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 2",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 2",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 4",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 4",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training1",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training1",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training1",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 22",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 22",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 33",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 33",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 33",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 33",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 33",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 44",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 44",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training11",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training11",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training11",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 222",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 222",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 333",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 333",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 333",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 333",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 333",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 444",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 444",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training111",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training111",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training111",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 2222",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 2222",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 3333",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 3333",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 3333",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 3333",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 3333",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 4444",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 4444",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},




{
    "TrainingName": "Net Training1111",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training1111",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training1111",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 22222",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 22222",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 33333",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 33333",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 33333",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 33333",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 33333",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 44444",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 44444",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training12",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training12",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training12",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 212",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 212",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 312",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 312",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 312",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 312",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 312",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 412",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 412",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training21",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training21",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training21",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 221",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 221",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 321",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 3",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 321",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 321",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 321",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 421",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 421",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training34",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training43",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training34",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 234",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 234",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 334",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 334",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 334",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 334",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 334",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 434",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 434",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},




{
    "TrainingName": "Net Training45",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training4545",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training45",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 245",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 245",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 345",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 345",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 345",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 345",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 345",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 445",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 445",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training56",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training56",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training56",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 256",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 256",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 356",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 356",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 356",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 356",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 356",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 456",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 456",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},



{
    "TrainingName": "Net Training65",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training65",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training65",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 265",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 265",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 365",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 365",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 365",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 365",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 365",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 465",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 465",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},




{
    "TrainingName": "Net Training78",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training78",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training78",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 278",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 278",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 378",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 378",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 378",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 378",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 378",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 478",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 478",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},





{
    "TrainingName": "Net Training87",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training87",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training87",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 287",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 287",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 387",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 387",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 387",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 387",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 387",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 487",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 487",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},






{
    "TrainingName": "Net Training89",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Training89",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Training89",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 289",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 289",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 389",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 389",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 389",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 389",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 389",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 49",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 48",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},






{
    "TrainingName": "Net Trainingrtr",
    "SessionName": "sess",
    "NoOfParticipants": 10
},
{
    "TrainingName": "Net Trainingfd",
    "SessionName": "sess 2 ",
    "NoOfParticipants": 15
},
{
    "TrainingName": "Net Trainingfd",
    "SessionName": "sess 3 ",
    "NoOfParticipants": 13
},
{
    "TrainingName": "training 2fdf",
    "SessionName": "sesion 1",
    "NoOfParticipants": 20
},
{
    "TrainingName": "training 2fdf",
    "SessionName": "sesion 2",
    "NoOfParticipants": 25
},
{
    "TrainingName": "training 3fdf",
    "SessionName": "sesion 1",
    "NoOfParticipants": 50
},
{
    "TrainingName": "training 3fdf",
    "SessionName": "sesion 2",
    "NoOfParticipants": 28
},
{
    "TrainingName": "training 3fdf",
    "SessionName": "sesion 3",
    "NoOfParticipants": 18
},
{
    "TrainingName": "training 3fdf",
    "SessionName": "sesion 4",
    "NoOfParticipants": 15
},
{
    "TrainingName": "training 3fdf",
    "SessionName": "sesion 5",
    "NoOfParticipants": 22
},
{
    "TrainingName": "training 4343",
    "SessionName": "sesion 1",
    "NoOfParticipants": 10
},
{
    "TrainingName": "training 4434",
    "SessionName": "sesion 2",
    "NoOfParticipants": 24
},






        ];

        $("#chart").dxChart({
            palette: "bright",
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "TrainingName",
                valueField: "NoOfParticipants",
                type: "bar",


                label: {
                    visible: true,

                }
            },
            seriesTemplate: {
                nameField: "SessionName",

            },
            argumentAxis: {
                visualRange: {

                    //startValue: data[0].TrainingName,
                    //endValue: data[10].TrainingName,
                }
            },
            zoomAndPan: {
                argumentAxis: "both"
            },
            scrollBar: {
                visible: true
            },
            title: {
                text: "Last Six Months Session",
                subtitle: {
                    text: "(Participants per Session)"
                }
            },
            "export": {
                enabled: true
            },
            valueAxis: {

                valueType: "numeric",
                grid: {
                    opacity: 10
                },
                label: {
                    customizeText: function () {
                        return this.valueText + " P";
                    }
                }
            },
            legend: {
                visible:false,
                //verticalAlignment: "bottom",
                //horizontalAlignment: "center"
            },
            tooltip: {
                enabled: true,
                shared: true,
                customizeTooltip: function (info) {

                    return {
                        html: "<h4 style='text-transform: capitalize;'>" +
                        info.argumentText + "</h4><div><span class='caption'>Session</span>: " +
                         info.seriesName +
                        "</div><div><span class='caption'>No. of Participants</span>: " +
                       info.value +
                        "</div>" + "</div>"
                    };
                    //return {
                    //    html: "<div><div class='tooltip-header'>" +
                    //    info.argumentText + "</div>" +
                    //    "<div class='tooltip-body'><div class='series-name'>" +
                    //    info.seriesName +
                    //    ": </div><div class='value-text'>" +
                    //    info.value +
                    //    "</div></div></div>"
                    //};
                }
            },
        });
    }

    function numericCounter() {
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    }
</script>