﻿
@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;

}

<script src="~/Scripts/Session.js"></script>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<div id="popupSessionForm"></div> 
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active"> Active Session </li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active"> Active Session </li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> Active Session <small></small> </h2>
                        <button type="button" id="btnSession" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i> CREATE SESSION</button>
                    </div>



                    <div class="body">
                        <div id="SessionsGrid" class="cum_grid"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Small Size -->
<div class="modal fade" id="DeleteSession" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete Session</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>"SESSION"</b> ?.
            </div>
            <div class="modal-footer">
                <button sessionid="" type="button" class="btnDelete btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CancelSession" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete Session</h4>
            </div>
            <div class="modal-body">
                Are you sure want to cancel <b>"SESSION"</b> ?.
            </div>
            <div class="modal-footer">
                <button sessionid="" type="button" class="btnCancel btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        GetAllSessionsData();
    });

    function GetAllSessionsData() {
        $.ajax({
            url: '@Url.Action("GetAllSessions", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/GetAllSessions",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger

                if (response != "null") {

                    var sessionData = JSON.parse(response);

                    BindSessionGrid(sessionData);
                }
                else {
                    BindSessionGrid(null);

                }

            },
            error: function (xhr) {
                debugger
            }
        });
    }


    function BindSessionGrid(DataSource)
    {
        debugger
        $("#SessionsGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 10
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            onCellPrepared: function (e, options) {
                debugger
                if (e.rowType == 'data') {
                    if (e.column.dataField == 'IsClose' && e.data.IsClose == true) {
                        e.cellElement.addClass('red_row');
                    }
                    if (e.column.dataField == 'IsClose' && e.data.IsClose == false) {
                        e.cellElement.addClass('green_row');
                    }
                }
            },
            columns: [
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "TrainingName",
                    caption: "TrainingName",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "TNAName",
                    caption: "TNAName",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    //alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "EndDate",
                    caption: "End Date",
                    //alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "IsClose",
                    caption: "Is Closed",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "ID",
                    caption: "Action",
                    alignment: "center",
                    width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                           
                            .append($("<a class='SessionEdit' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                            .append($("<a class='SessionDelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                            .appendTo(container);
                    }
                },
                {
                    dataField: "ID",
                    caption: "Cancel",
                    alignment: "center",
                    width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .append($("<a class='SessionCancel' _id=" + options.value + " title='Cancel'><i class='fa fa-times'></i></a>"))
                            .appendTo(container);
                    }
                }
            ]
        });
    }

    function applyValidation() {

        //For TNAs SelectBox
        $("#TNAList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TNAList").find(".dx-texteditor-input").attr('require', '*Please Select TNAs.');
        //For Trainings SelectBox
        $("#TrainingList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TrainingList").find(".dx-texteditor-input").attr('require', '*Please Select Trainings.');
        //For Trainers SelectBox
       

        $("#TypeList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#TypeList").find(".dx-texteditor-input").attr('require', '*Please Select Type');
        //For Geographys SelectBox
        //$("#GeographyList").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        //$("#GeographyList").find(".dx-texteditor-input").attr('require', '*Please Select Geographys.');
    }



    $("#btnSession").click(function () {

        $.ajax({
            url: '@Url.Action("NewSessionForm", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/NewSessionForm",
            type: "GET",
            data: {},
            success: function (response) {
                debugger
                $("#popupSessionForm").html("");
                $("#popupSessionForm").html(response);
                $("#SessionModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                debugger
            }
        });
    });


    $('body').on('click', '.SessionEdit', function () {

        var sessionID = $(this).attr('_id');

        $.ajax({
            url: '@Url.Action("EditSession", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/EditSession",
            type: "GET",
            data: {
                ID: sessionID
            },
            success: function (response) {
                debugger
                $("#popupSessionForm").html(response);
                $("#SessionModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                debugger
            }
        });

    });



    $('body').on('click', '.SessionDelete', function () {

        $('.btnDelete').attr("sessionid", $(this).attr('_id'));
        $("#DeleteSession").modal("show");

    });

    $('body').on('click', '.SessionCancel', function () {

        $('.btnCancel').attr("sessionid", $(this).attr('_id'));
        $("#CancelSession").modal("show");

    });

    $(".btnCancel").click(function () {
        
        var sessionID = $(this).attr('sessionid');

        $.ajax({
            url: '@Url.Action("CancelSession", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/DeleteSession",
            type: "GET",
            data: {
                ID: sessionID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    $("#CancelSession").modal("hide");
                    AlertToast('success', response.Message);
                    GetAllSessionsData();


                }
                else {
                    $("#CancelSession").modal("hide");
                    AlertToast('error', response.Message);
                }

                //BindSessionGrid();
                //$("#DeleteSession").modal("hide");

            },
            error: function (xhr) {
                debugger
            }
        });
    });

    $(".btnDelete").click(function () {

        var sessionID = $(this).attr('sessionid');

        $.ajax({
            url: '@Url.Action("DeleteSession", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/DeleteSession",
            type: "GET",
            data: {
                ID: sessionID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    $("#DeleteSession").modal("hide");
                    AlertToast('success', response.Message);
                    GetAllSessionsData();
                    
                  
                }
                else {
                    $("#DeleteSession").modal("hide");
                    AlertToast('error', response.Message);
                }

                //BindSessionGrid();
                //$("#DeleteSession").modal("hide");

            },
            error: function (xhr) {
                debugger
            }
        });
    });






</script>