﻿
@{
    ViewBag.Title = "TNAs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
@*<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Admin Portal</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> TNA Records <small></small> </h2>
                        <button type="button" id="btnTraining" onclick="location.href='@Url.Action("AddTNA","TrainingLead")'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE TNA</button>
                    </div>

                    @* TNA Record Grid *@
                    @*<div id="TNAsGrid"></div>

                </div>
            </div>
        </div>

    </div>
</section>*@

<div id="popupTNAForm"></div>  <!-- Dev-Extreme TNA Form Model-->

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">TNA</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">TNA</li>
                            }
                        }
                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> TNA Records </h2>
                        <button type="button" id="btnTNA"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i> CREATE TNA</button>
                        @*<button type="button" id="btnTNA" onclick="location.href='@Url.Action("AddTNA","TrainingLead")'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn">CREATE TNA</button>*@
                        @*<button type="button" id="btnTraining" onclick="location.href='/'+$('#tna_prefix').val()+'/TrainingLead/AddTNA'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn">CREATE TNA</button>*@
                    </div>

                    @* TNA Record Grid *@
                    <div class="body">
                        <div id="TNAsGrid"></div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>



<!-- Small Size -->
<div class="modal fade tna_modal" id="DeleteTNA" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete TNA</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>"TNA"</b> ?.
            </div>
            <div class="modal-footer">
                <button tnaid="" type="button" class="btnDelete btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {


        GetTNAsGridData();


    });


    function GetTNAsGridData() {
        $.ajax({
            url: '@Url.Action("AllTNA", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/AllTNA",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                //debugger

                if (response.Status) {
                    var dataList = JSON.parse(response.TNAs);
                    BindTNAsGrid(dataList);
                }
                else {
                    AlertToast('error', response.Message);
                    BindTNAsGrid(null);
                }

            }
        });

    }

    $("#btnTNA").click(function(){
        debugger
        try
        {
            $.ajax({
                url: '@Url.Action("NewTNAForm", "TrainingLead")',
                //url: "/" + $('#tna_prefix').val() + "/TrainingLead/AllTNA",
                type: "GET",
                data: {},
                success: function (response) {
                    debugger

                    $("#popupTNAForm").html("");
                    $("#popupTNAForm").html(response);
                    $("#TNAModal").modal("show");
                    $('.modal-backdrop').removeClass('modal-backdrop');

                },
                error: function (xhr) {
                    debugger
                    console.log(xhr.status + ' : ' + xhr.statusText);
                }
            });

        }
        catch(err)
        {
            console.log(err.message);
        }
    })
               
    
    function BindTNAsGrid(DataSource)
    {
        $("#TNAsGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 10
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },

            columns: [
                {
                    dataField: "TNAName",
                    caption: "TNA Name",
                    alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "LastSubmissionDate",
                    caption: "End Date",
                    alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                },
                {
                    dataField: "IsActive",
                    caption: "Is Active",
                    alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "ID",
                    caption: "Action",
                    alignment: "center",
                    width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: function (container, options) {
                        trainingid = options.value;

                        if ($('#tna_prefix').val() == "") {
                            url = "/TrainingLead/EditTNA/" + trainingid + "";
                        }
                        else {
                            url = "/" + $('#tna_prefix').val() + "/TrainingLead/EditTNA/" + trainingid + "";
                        }

                        $("<div>")
                            .append($("<a class='TNAEdit' href='" + url + "' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                            .append($("<a class='TNADelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                            .appendTo(container);
                    }
                }
            ]
        });
    }

    $('body').on('click', '.TNADelete', function () {

        $('.btnDelete').attr("tnaid", $(this).attr('_id'));
        $("#DeleteTNA").modal("show");

    });


    $(".btnDelete").click(function () {

        var tnaID = $(this).attr('tnaid');

        $.ajax({
            url: '@Url.Action("DeleteTNA", "TrainingLead")',
            //url: "/" + $('#tna_prefix').val() + "/TrainingLead/DeleteTNA",
            type: "GET",
            data: {
                ID: tnaID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast('success', response.Message);
                    GetTNAsGridData();
                    $("#DeleteTNA").modal("hide");
                }
                else {
                    AlertToast('error', response.Message);
                }

            },
            error: function (xhr) {
                debugger
            }
        });
    });

</script>