﻿@{
    var thiscontroller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _currentuser = thiscontroller.CurrentUser;

    var username = _currentuser.User.FirstName + " " + _currentuser.User.LastName;

}



<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sanofi - TNA</title>
    <!-- Favicon-->
  
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/all-themes.css" />

    <!-- JQuery DataTable Css -->
    @*<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">*@

    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css">

    <!-- Font Awsm -->
    <link rel="stylesheet" href="~/assets/fontawesome-free-5.7.2-web/css/all.css">

    <!-- Alert Toast CSS-->
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />

    <!-- Validator CSS-->
    <link href="~/Content/validator.css" rel="stylesheet" />

    <!-- MT Style -->
    <link href="~/assets/css/mtstyles.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">


    @Styles.Render("~/Content/DevExtremeBundle")


    


    <style>
        @@keyframes spin {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .img_load {
            /*left: 21.5%;*/
            -webkit-animation: spin 0.8s infinite linear;
            animation: spin 0.8s infinite linear;
            width: 100px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@
    <!-- Validator JS-->
    <script src="~/Scripts/jquery.validator.js"></script>
</head>

<body class="theme-red">
    <div class="cstm_loader">
        <div class="loader">
            @*<div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>*@

            <img class="img_load" src="~/assets/images/load_img.png" />

            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Search  -->
    <div class="search-bar">
        <div class="search-icon"> <i class="zmdi zmdi-search"></i> </div>
        <input type="text" placeholder="Search...">
        <div class="close-search"> <i class="zmdi zmdi-close"></i> </div>
    </div>
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="col-12">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" style="color:white;cursor:default">TRAINING NEED ASSESSMENTS</a>
            </div>
            <!--  <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="zmdi zmdi-search"></i></a></li>
              </ul>-->
            <div class="cstm-logout">
                <div class="info-container">
                    @{

                        switch (_currentuser.User.RoleID)
                        {
                            case 1:
                                <div class="name" data-toggle="dropdown">Super Admin</div>
                                break;
                            case 2:
                                <div class="name" data-toggle="dropdown">Training Lead</div>
                                break;
                            case 3:
                                <div class="name" data-toggle="dropdown">Line Manager</div>
                                break;
                            case 4:
                                <div class="name" data-toggle="dropdown">Trainer</div>
                                break;
                            default:
                                <div class="name" data-toggle="dropdown">Co-Ordinator</div>
                                break;
                        }
                    }                   
                                      
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <ul class="dropdown-menu pull-right">
                            <!--<li><a href="profile.html"><i class="material-icons">person</i>Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li class="divider"></li>-->
                            <li><a style="font-size: smaller;">@_currentuser.User.FullName</a></li>
                            <li><a href="@Url.Action("Logout", "Login")">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (_currentuser.User.RoleID == 3)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0);" data-toggle="dropdown"><i class="fa fa-bell"></i></a></li>
                </ul>
            }
            
        </div>

    </nav>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                
                <!-- <img src="assets/images/random-avatar1.jpg" width="48" height="48" alt="User" /> -->
                <img src="~/assets/images/osw-logo-header-white-smallx2.png" alt="User" style="height: 40px;border-radius: 0px;">
                <button class="cstm-navbar-toogle">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu dragDrop_main_bx">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>

                @foreach (var menu in _currentuser.MenuList.OrderBy(x => x.MenuOrder).Where(y => y.Grouped == 0).ToList())
                {
                    //class="toggled" for div selected
                    <li class="">
                        @{
                            if (menu.URL == "#")
                            {
                                string navURl = "/" + TNAApp_ViewModel.Model.vt_Common.GetPathPrefix() + menu.URL;
                                navURl = navURl.Replace("//", "/");
                                <a class="toggled waves-effect waves-block">
                                    <i class="@menu.Icon"></i>
                                    <span>@menu.Menu</span>
                                </a>
                                if (_currentuser.MenuList.OrderBy(x => x.MenuOrder).Where(y => y.Grouped == menu.ID).ToList().Count > 0)
                                {
                                    <ul class="ml-menu">

                                        @foreach (var menu2 in _currentuser.MenuList.OrderBy(x => x.MenuOrder).Where(y => y.Grouped == menu.ID).ToList())
                                        {
                                            string nav_URl = "/" + TNAApp_ViewModel.Model.vt_Common.GetPathPrefix() + menu2.URL;
                                            nav_URl = nav_URl.Replace("//", "/");
                                            <li class="active open"><a href="@nav_URl">@menu2.Menu</a> </li>

                                        }
                                    </ul>
                                }

                            }

                            else
                            {
                                string navURl = "/" + TNAApp_ViewModel.Model.vt_Common.GetPathPrefix() + menu.URL;
                                navURl = navURl.Replace("//", "/");
                                <a href="@navURl" class="toggled waves-effect waves-block">
                                    <i class="@menu.Icon"></i>
                                    <span>@menu.Menu</span>
                                </a>
                                if (_currentuser.MenuList.OrderBy(x => x.MenuOrder).Where(y => y.Grouped == menu.ID).ToList().Count > 0)
                                {
                                    <ul class="ml-menu">

                                        @foreach (var menu2 in _currentuser.MenuList.OrderBy(x => x.MenuOrder).Where(y => y.Grouped == menu.ID).ToList())
                                        {
                                            string nav_URl = "/" + TNAApp_ViewModel.Model.vt_Common.GetPathPrefix() + menu2.URL;
                                            nav_URl = nav_URl.Replace("//", "/");
                                            <li class="active open"><a href="@nav_URl">@menu2.Menu</a> </li>

                                        }
                                    </ul>
                                }

                            }

                        }

</li>
                }

                @*<li class="active open">
                    <a href="index.html" class="toggled waves-effect waves-block"><i class="fas fa-igloo"></i> <span>Dashboard</span></a>*@
                <!----
                    <ul class="ml-menu">
                        <li class="active"><a href="index-2.html">Dashboard 1</a> </li>
                        <li><a href="index2.html">Dashboard 2</a></li>
                    </ul>
                -->
                @*</li>
                    <li> <a href="javascript:;"><i class="material-icons">group</i><span>User Management</span></a></li>
                    <li> <a href="javascript:;"><i class="material-icons">email</i><span>Email Management</span></a></li>
                    <li> <a href="javascript:;"><i class="material-icons">show_chart</i><span>Reports</span></a></li>*@
            </ul>
        </div>
        <!-- #Menu -->
    </aside>

    @RenderBody();


    <!-- Jquery Core Js -->

    @*<script src="~/assets/bundles/libscripts.bundle.js"></script>*@ <!-- Lib Scripts Plugin Js -->
    @*<script src="~/assets/bundles/vendorscripts.bundle.js"></script>*@ <!-- Lib Scripts Plugin Js -->
    @*<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->*@
    <!-- Jquery DataTable Plugin Js -->
    @*<script src="~/assets/bundles/datatablescripts.bundle.js"></script>*@ <!-- Lib Scripts Plugin Js -->
    @*<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>*@
   
     <!-- Toaster JS -->
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/toastNotifications.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    <script>

        $(document).ready(function () {
            $('.list li a[href*="/#"]').each(function () {
                $(this).attr("href", "#")
            });

        $(".cstm-navbar-toogle").click(function(){
            $("body").toggleClass("overlay-open");
        });
        $(".cstm-navbar-toogle").click(function () {
            $(".overlay").css("display","none");
        });

        $(function () {
            //debugger
            var url = window.location.pathname;
            var activePage = url.substring(url.lastIndexOf('/') + 1);
            $('.list > li > a').each(function () {
                var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);

                if (activePage == currentPage) {
                    $(this).parent().addClass('active open');
                }
            });
        });


        $(".ml-menu").parent("li").click(function () {
            //$(this).find("a").attr("aria-expanded", "true");
            //$(this).find("a").attr("data-toggle", "collapse");
            $(this).find("ul").toggle();
        });
        });
       
       
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            var top = 250;
            if (scroll >= top) {
                $(".navbar").addClass("stuck");
            } else {
                $(".navbar").removeClass("stuck");
                $('#customCss').remove();
            }
        });

        $(window).on('load', function () {
            $(".cstm_loader").css({
                "display": "none"
            });
        });

    </script>
    

</body>


</html>