﻿
@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Scripts/mdtimepicker.css" rel="stylesheet" />
<script src="~/Scripts/mdtimepicker.js"></script>
<script src="~/Scripts/Session.js"></script>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<div id="popupSessionForm"></div>  <!-- Dev-Extreme Topic Form Model-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("TrainingCalendar", "Trainer")">Calendar</a></li>
                        <li class="breadcrumb-item active">Session Records</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Session Records <small></small> </h2>
                        @*<button type="button" id="btnSession" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE SESSION</button>*@
                    </div>




                    <div id="SessionsGrid" class="cum_grid body"></div>


                </div>
            </div>
        </div>

    </div>
</section>


<!-- Small Size -->
<div class="modal fade" id="AddorEditDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <input type="hidden" name="ID" id="ID" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Session Name<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input type="text" readonly="readonly" name="SessionName" id="SessionName" validate = "SessionForm" require = "*Session Name is required"   class = "form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">Session Start Date<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="dxStartDate" class=""></div>
                                        <input type="hidden" name="StartDate" id="StartDate" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">Session End Date<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="dxEndDate" class=""></div>
                                        <input type="hidden" name="EndDate" id="EndDate"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">Session Start Time<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input class="form-control" type="text" onpaste="return false;" validate = "SessionForm" require = "*Start Time is required"  id="dxStartTime" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">Session End Time<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input class="form-control" type="text" onpaste="return false;"  validate = "SessionForm" require = "*End Time is required" id="dxEndTime" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">Feedback Submission Date<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <div id="dxFeedbackDate" class=""></div>
                                        <input type="hidden" name="FeedbackDate" id="FeedbackDate" />
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Venue<span class="stericField"> *</span></label>
                                    <div class="form-line">
                                        <input type="text" name="Venue" id="Venue" validate="SessionForm" require="*Venue is required" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i>Save</button>
                <button type="button" class="btn waves-effect tna_purpl_btn_modal btn_dark" data-dismiss="modal">CLOSE</button>
            </div>

        </div>
    </div>
</div>


<script>
    $("#btnSave").click(function () {
        

        if (validate("SessionForm") == true) {
                 debugger
            var Validate_Feed_Back = $("#dxFeedbackDate").dxDateBox('instance')._options.validationError;
            var Validate_Start_Date = $("#dxStartDate").dxDateBox('instance')._options.validationError;
            var Validate_End_Date =  $("#dxEndDate").dxDateBox('instance')._options.validationError;
                    
            if (Validate_Feed_Back != null || Validate_Start_Date != null || Validate_End_Date != null) {
                AlertToast('warning', 'You are required before submission of form resolve all validation error.');
            }
            else {
                var sttime = $('#dxStartTime').val();
                var edtime = $('#dxEndTime').val();
                if (edtime > sttime) {

                    var dataObject = {
                        ID:$('#ID').val(),
                        StartDate: $("#StartDate").val(),
                        EndDate: $("#EndDate").val(),
                        StartTime: $("#dxStartTime").val(),
                        EndTime: $("#dxEndTime").val(),
                        FeedbackDate: $("#FeedbackDate").val(),
                        Venue: $("#Venue").val(),
                    };
                    var jsonData = JSON.stringify(dataObject);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddorEditDetailsofSession", "Trainer")',
                        //url: "/" +$('#tna_prefix').val() + "/TrainingLead/CreateSession",
                        data: jsonData,                       
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            
                            if (response.Status) {
                                AlertToast('success', response.Message);
                                $("#AddorEditDetails").modal("hide");
                                GetAllSessionsData();
                            }
                            else {
                                AlertToast('error', response.Message);
                                //$("#TopicModal").modal("hide");
                            }
                        },
                        complete:function(){
                            GetAllSessionsData();
                            StartandEndTimeSetting();
                        }

                    });
                }
                else {
                    AlertToast('error', 'End time should be greater than start time.');
                }
                
            }
            


        }
        else {
            AlertToast('error', 'Fill the required fields.');
        }

    });

    $(document).ready(function () {
        GetAllSessionsData();
        StartandEndTimeSetting();

    });

    function StartandEndTimeSetting() {
        $('#dxStartTime').mdtimepicker({
            format: 'hh:mm'
        });
        $('#dxEndTime').mdtimepicker({
            format: 'hh:mm'
        });

        $('#dxEndTime').mdtimepicker().on('change', function (e, date) {
            
            var start = $('#dxStartTime').val();
            var end = $('#dxEndTime').val();
            if (end < start) {
                AlertToast('error', 'End time should be greater than start time.');
            }

        });

        $('#dxStartTime').mdtimepicker().on('change', function (e, date) {
            
            var start = $('#dxStartTime').val();
            var end = $('#dxEndTime').val();
            if (end < start) {
                AlertToast('error', 'End time should be greater than start time.');
            }

        });
    }
    var sessionData;

    function GetAllSessionsData() {
        $.ajax({
            url: '@Url.Action("GetAllSessions", "Trainer")',
            //url: "/" + $('#tna_prefix').val() + "/Trainer/GetAllSessions",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                


                if (response.Status) {
                    sessionData = JSON.parse(response.DataList);
                    BindSessionGrid(sessionData);
                }
                else {
                    AlertToast('error', response.Message);
                    BindSessionGrid(null);
                }
            },
            error: function (xhr) {
                
            }
        });
    }


    function BindSessionGrid(DataSource)
    {
        $("#SessionsGrid").dxDataGrid({
            dataSource: DataSource,
            columnAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 10
            },
                onCellPrepared: function (e, options) {
                    
                    if (e.rowType == 'data') {
                        
                        if (e.column.dataField == 'IsClosed' && e.data.IsClosed == true) {
                            e.cellElement.addClass('red_row');
                        }
                        if (e.column.dataField == 'IsClosed' && (e.data.IsClosed == false || e.data.IsClosed==null)) {
                            e.cellElement.addClass('green_row');
                        }
                    }
                },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            scrolling: {
                mode: "virtual"
            },
            columnFixing: {
                enabled: true
            },
            columns: [
                {

                    dataField: "ID",
                    caption: "Action",
                    fixed: true,
                    alignment: "center",
                    width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: function (container, options) {
                        
                        if ($('#tna_prefix').val() == "") {
                            url = "/Trainer/AssignedSessionUsers/" + options.value + "";
                        }
                        else {
                            url = "/" + $('#tna_prefix').val() + "/Trainer/AssignedSessionUsers/" + options.value + "";
                        }

                        $("<div>")
                            .append($("<a class='SessionUsers' _id=" + options.value + "  href='" + url + "' title='View Users' target='_blank'><i class='fa fa-users'></i></a>"))
                            .append($("<a class='SessionEdit' _id=" + options.value + " title='Add/Edit Details' target='_blank'><i class='fa fa-edit'></i></a>"))

                            .appendTo(container);
                    }
                },
                      {

                          dataField: "ID",
                          caption: "Publish",
                          fixed: true,
                          alignment: "center",
                          width: "auto",
                          allowHeaderFiltering: false,
                          allowFiltering: false,
                          cellTemplate: function (container, options) {
                              
                              if ($('#tna_prefix').val() == "") {
                                  url = "/Trainer/AssignedSessionUsers/" + options.value + "";
                              }
                              else {
                                  url = "/" + $('#tna_prefix').val() + "/Trainer/AssignedSessionUsers/" + options.value + "";
                              }

                              $("<div>")

                                   .append($("<a class='SessionPublish' _id=" + options.value + " title='Publish' target='_blank'><i class='fa fa-envelope'></i></a>"))
                                  .appendTo(container);
                          }
                      },
                  {
                      dataField: "TNAName",
                      caption: "TNA",
                      //alignment: "center",
                      //width: "auto",
                  },
                    {
                        dataField: "TrainingName",
                        caption: "Training",
                        //alignment: "center",
                        //width: "auto",
                    },
                {
                    dataField: "SessionName",
                    caption: "Session",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "Multimedia",
                    caption: "Multimedia",
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "Stationary",
                    caption: "Stationary",
                    //alignment: "center",
                    //width: "auto",
                },
                 {
                     dataField: "IsClosed",
                     caption: "IsClosed",
                     alignment: "center",
                     cellTemplate: function (container, options) {
                         debugger
                         if (options.value==null) {
                             $("<div>")
                                  .append($("<span>NO</span>"))
                                  .appendTo(container);

                         }

                         else {
                             $("<div>")
                                 .append($("<span>YES</span>"))
                                 .appendTo(container);
                         }
                    }
                 },

                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    //alignment: "center",
                    //width: "auto",
                    dataType: "date",
                    format:"dd-MM-YYYY"

                },
                {
                    dataField: "EndDate",
                    caption: "End Date",
                    dataType: "date",
                    format: "dd-MM-YYYY"
                   
                },
                
                
            ]
        });
    }

    function applyValidation() {

        //For TNAs SelectBox
        $("#dxStartDate").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#dxStartDate").find(".dx-texteditor-input").attr('require', '*Please Select StartDate.');
        //For Trainings SelectBox
        $("#dxEndDate").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#dxEndDate").find(".dx-texteditor-input").attr('require', '*Please Select EndDate.');
        //For Trainers SelectBox
        $("#dxFeedbackDate").find(".dx-texteditor-input").attr('validate', 'SessionForm');
        $("#dxFeedbackDate").find(".dx-texteditor-input").attr('require', '*Please Select Feedback Date.');
        
    }

    //For Emails of Session
    $('body').on('click', '.SessionPublish', function () {
        $(".cstm_loader").css({
            "display": "block"
        });
        
        var sessionID = $(this).attr('_id');       
        var obj = {};
        obj = sessionData.find(x=>x.ID == parseInt(sessionID));
        if (obj != null)
        {

            if (obj.StartDate == null && obj.EndDate == null) {
                $(".cstm_loader").css({
                    "display": "none"
                });
                AlertToast('error', 'You can not publish Incomplete Session.');
            }

            else {

            if (obj.IsClosed == true) {
                $(".cstm_loader").css({
                    "display": "none"
                });
                AlertToast('error', 'Session is set to closed, you can not publish closed session.');
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("PublishSession", "TrainingLead")',
                    data: {
                        TNAID: obj.TNAID,
                        TrainingID: obj.TrainingID,
                        SessionID: sessionID
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        
                        if (response.Status) {
                            AlertToast('success', response.Message);
                        }
                        else {
                            AlertToast('error', response.Message);
                        }
                    },
                    error: function (xhr) {

                    },
                    complete: function () {
                        $(".cstm_loader").css({
                            "display": "none"
                        });
                    }
                });
            }
           
        }
    }
        else {
            AlertToast('error', 'Reload Page and Try Again.');
        }
    });


    $('body').on('click', '.SessionUsers', function () {
        
        var sessionID = $(this).attr('_id');

        if ($('#tna_prefix').val() == "") {
            url = "/Trainer/AssignedSessionUsers/" + sessionID;
        }
        else {
            url = "/" + $('#tna_prefix').val() + "/Trainer/AssignedSessionUsers/" + sessionID;
        }
        window.location.href = url;

    });

    $('body').on('click', '.SessionEdit', function () {
        
        var sessionID = $(this).attr('_id');
        var obj = {};
        obj=   sessionData.find(x=>x.ID == parseInt(sessionID));
        if (obj.StartDate == null && obj.EndDate == null) {
           
            $('#smallModalLabel').text('Add Details');
            $('#ID').val(parseInt(sessionID))
            $('#SessionName').val(obj.SessionName)
            $('#AddorEditDetails').modal('toggle');
            $('#AddorEditDetails').modal('show');

            //Date Pickers
            var d = new Date();
            var defaultDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
            var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();

            $("#StartDate").val(moment(obj.LastDateforLM).format("DD/MM/YYYY"));
            $("#EndDate").val(moment(obj.LastDateforLM).format("DD/MM/YYYY"));
            $("#FeedbackDate").val(moment(obj.LastDateforLM).format("DD/MM/YYYY"));
            dxEndTimePicker(d,d);
            dxStartTimePicker(d);
            dxStartDatePicker(obj.LastDateforLM, obj.LastDateforLM, obj.TNAEndDate);
            dxEndDatePicker(obj.LastDateforLM, obj.LastDateforLM, obj.TNAEndDate);
            dxFeedbackDatePicker(obj.LastDateforLM, obj.LastDateforLM);
        }
        else {
           
            $("#StartDate").val(moment(obj.StartDate).format("DD/MM/YYYY")),
           $("#EndDate").val(moment(obj.EndDate).format("DD/MM/YYYY")),         
           $("#FeedbackDate").val(moment(obj.FeedbackDate).format("DD/MM/YYYY")),
           $("#Venue").val(obj.Venue),

            $('#smallModalLabel').text('Edit Details');
            $('#ID').val(parseInt(sessionID))
            $('#SessionName').val(obj.SessionName)
            $('#AddorEditDetails').modal('toggle');
            $('#AddorEditDetails').modal('show');

            //var S_Date = obj.StartDate.split("/");
            //var E_Date = obj.EndDate.split("/");
            //var F_Date = obj.FeedbackDate.split("/");

            //var Start_Date = new Date(S_Date[0], S_Date[1] - 1, S_Date[2]);
            //var End_Date = new Date(E_Date[0], E_Date[1] - 1, E_Date[2]);
            //var Feedback_Date = new Date(F_Date[0], F_Date[1] - 1, F_Date[2]);

            dxStartDatePicker(obj.StartDate, obj.TNAStartDate, obj.TNAEndDate);
            dxEndDatePicker(obj.EndDate, obj.StartDate, obj.TNAEndDate);
            dxFeedbackDatePicker(obj.FeedbackDate, obj.EndDate, obj.TNAEndDate);
            var edt= moment(obj.EndTime).format('HH:mm');            
            var srt = moment(obj.StartTime).format('HH:mm');
            $("#dxStartTime").val(srt);
            $("#dxEndTime").val(edt);
        }
        @*$.ajax({
            url: '@Url.Action("EditSession", "TrainingLead")',
            type: "GET",
            data: {
                ID: sessionID
            },
            success: function (response) {
                
                $("#popupSessionForm").html(response);
                $("#SessionModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                
            }
        });*@

    });


    @*$("#btnSession").click(function () {

        $.ajax({
            url: '@Url.Action("NewSessionForm", "TrainingLead")',
            type: "GET",
            data: {},
            success: function (response) {
                
                $("#popupSessionForm").html("");
                $("#popupSessionForm").html(response);
                $("#SessionModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                
            }
        });
    })*@


   


    @*
    $('body').on('click', '.SessionDelete', function () {

        $('.btnDelete').attr("sessionid", $(this).attr('_id'));
        $("#DeleteSession").modal("show");

    });

    $(".btnDelete").click(function () {

        var sessionID = $(this).attr('sessionid');

        $.ajax({
            url: '@Url.Action("DeleteSession", "TrainingLead")',
            type: "GET",
            data: {
                ID: sessionID
            },
            success: function (response) {
                
                if (response.Status) {
                    AlertToast('success', response.Message);
                    GetAllSessionsData();
                    $("#DeleteSession").modal("hide");
                }
                else {
                    AlertToast('error', response.Message);
                }

                //BindSessionGrid();
                //$("#DeleteSession").modal("hide");

            },
            error: function (xhr) {
                
            }
        });
    });*@






</script>