﻿
@{
    ViewBag.Title = "AllClosedSession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AllClosedSession", "LineManager")">Feedback</a></li>
                        @*<li class="breadcrumb-item active">Feedback</li>*@
                    </ul>
                </div>
            </div>
        </div>

       

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Feedback<small></small> </h2>
                    </div>
                </div>
                <div class="body">
                    <div id="sessionGrid" class="cum_grid"></div>

                </div>
            </div>
        </div>
    </div>
    
</section>

<script>
    $(document).ready(function () {
        GetClosedSessionList();
        BindSessionGrid(null);
    });
    
    function GetClosedSessionList() {
        $.ajax({
            url: '@Url.Action("GetClosedSessionList", "LineManager")',
            type: 'GET',
            data: {},
            success: function (response) {
               debugger
                if (response.Status) {
                    BindSessionGrid(JSON.parse(response.data));
                }

                else {
                    var DataSource = [];
                    BindSessionGrid(DataSource);
                }

            },
            error: function () { }
        });
    };

    function BindSessionGrid(dataSource) {

        $("#sessionGrid").dxDataGrid({
            dataSource: dataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            //export: {
            //    enabled: true,
            //    fileName: "Participants Report"
            //},
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: false, allowSearch: true },
            searchPanel: { visible: true },
            columnFixing: {enabled: true},
            columns: [
                {
                    dataField: "SessionID",
                    caption: "Action",
                    alignment: "center",
                    width: "auto",
                    fixed: true,
                    allowFiltering: false,
                     cellTemplate: function (container, info) {
                        debugger
                       $("<div>")
                              .append($("<a onclick='ViewParticipants(" + info.value + "," + info.data.TNAID + "," + info.data.TrainingID + ")' title='Detail View'><i class='fa fa-eye'></i></a>"))
                              .appendTo(container);
                   }
                },
                {
                    dataField: "TNAName",
                    caption: "TNA Name",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "TrainingName",
                    caption: "Training Name",
                    width: "150",
                    alignment: "left"
                },                 
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    alignment: "center",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "Participants",
                    caption: "No. of Participants",
                    alignment: "center",
                    width: "100",
                    alignment: "left"
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    width: "150",
                    alignment: "left",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                },
                {
                    dataField: "EndDate",
                    caption: "End Date",
                    width: "150",
                    alignment: "left",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                },
                {
                    dataField: "FeedbackSubmitDate",
                    caption: "Feedback Submit Date",
                    width: "250",
                    alignment: "left",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                },
                {
                    dataField: "StartTime",
                    caption: "Start Time",
                    width: "150",
                    alignment: "left",
                    
                },
                {
                    dataField: "EndTime",
                    caption: "End Time",
                    width: "150",
                    alignment: "left",
                    
                },
            ]
        });
    };


    function ViewParticipants(sessionID, TNAID, TrainingID) {
       
        window.location.href = "Participants?SessionID=" + sessionID + "&TNAID=" + TNAID + "&TrainingID=" + TrainingID;
       
    }
</script>