﻿@model List<TNA_ViewModel.Model.TNA_VM.GetDepartUsers>
@{
    ViewBag.Title = "AssignUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
}

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                   
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AllClosedSession", "LineManager")">Feedback</a></li>
                        <li class="breadcrumb-item active">Assign Users in Training</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row dragDrop_row">

                            <div class="col-md-6">

                                <div class="dragDrop_main_bx" id="div-main-TNA-Details">


                                    <div class="row mb-3 mr-0 ml-0">
                                            <div class="col-md-9 mt-2 pl-0">
                                                <label class="form-label">Search</label>
                                                <div class="form-line">
                                                    <div id="TNAList"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pr-0">
                                                <label class="form-label"></label>
                                                <button onclick="SearchTNA()" class="btn  btn-raised bg-red  waves-effect Header_Right_Btntna_purpl_btn"><i class="far fa-paper-plane"></i> Search</button>
                                            </div>
                                        </div>
                                       
                                        <div class="accordion" id="accordionExample"> 

                                           
                                        </div>
                                   

                                </div>
                            </div>
                    @if (Model != null)
                    {
                            <div class="col-md-6">

                                <div class="dragDrop_main_bx">

                                    <div class="dragDrop_bx">
                                        
                                            <p class="heading" id="onChange_Training_Name">@Model.FirstOrDefault().DepartmentName</p>

                                            <ul class="main_box" id="List_of_Employee">
                                                @{
                                                    if (Model != null)
                                                    {
                                                        for (int a = 0; a < Model.Count; a++)
                                                        {
                                                            <li id="@Model[a].ReporteeID">@Model[a].ReporteeName</li>
                                                           
                                                            
                                                        }
                                                    }
                                                }


                                            </ul>
                                        <button type="button" onclick="Add_Remove_Participants_From_Training()" id="btn_Add_Remove_Participants" disabled="true" style="width: 100%;" class="btn tna_purpl_btn_modal waves-effect">Submit</button>            
                                    </div>

                                   

                                </div>
                              
                            </div>
                   }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Small Size -->
<div class="modal fade" id="modal-Confirm-DeleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete ?
            </div>
            <div class="modal-footer">
                <button id="btn-DeleteUser" type="button" class="btnDelete btn btn-link waves-effect" onclick="DeleteUser()">Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    var dropDownTNAList = "";
    var Default_Employee_Array;
    var objectt=[];
    var Global_Dep_Name="@Model.FirstOrDefault().DepartmentName";
    var Global_Obj_of_IDs={};
    Global_Obj_of_IDs.Participants_IDs=[];
    $(document).ready(function () {
        debugger
        Default_Employee_Array = @Html.Raw(Json.Encode(Model.ToList()));
        GetAllTrainings();
        GetTNAList();


        //GetUsersListOfCurrentTNA();
    });

    function GetTNAList() {
        $.ajax({
            url: '@Url.Action("GetTNADeptWise", "LineManager")',
            type: 'GET',
            data: {},
            async:false,
            success: function (response) {
                debugger
                if (response.Status) {
                    BindTNADropDown(JSON.parse(response.TNAList));
                }

                else {
                    var emptyDatasource = [];
                    BindTNADropDown(emptyDatasource);
                }

            },
            error: function () { }
        });
    };

    function BindTNADropDown(dataSource) {
       dropDownTNAList = $("#TNAList").dxSelectBox({
            dataSource: dataSource,
            showClearButton: true,
            placeholder: "Search / Select Training",
            displayExpr: "TrainingName",
            valueExpr: "Value",
            searchEnabled: true,
            onValueChanged: function (data) {
                checkisNull();
            }
        }).dxSelectBox("instance");
    }

    function GetAllTrainings() {
        $.ajax({
            url: '@Url.Action("GetAllTrainingsCurrentUser", "LineManager")',
            //url: "/" + $('#tna_prefix').val() + "/LineManager/GetAllTrainingsCurrentUser",
            type: 'GET',
            data: {},
            success: function (result) {
               
            debugger
            $.each(result.lst_LM, function (key, value) {
               
                var ob= {
                    Training_ID:value.TrainingId,
                    TNA_ID:value.TnaId,
                    Participants_Count:value.ParticipantsCount
                }
                objectt.push(ob);
                debugger
                    var tnaid = result.lst_LM[key].TnaId;
                    var tnaName = result.lst_LM[key].TNAName;
                    var trainingId = result.lst_LM[key].TrainingId;
                    var trainingName = result.lst_LM[key].TrainingName;
                    var description = result.lst_LM[key].Description;
                    var startDate = result.lst_LM[key].StartDate;
                    var endDate = result.lst_LM[key].EndDate;
                    var LastDateForLM = result.lst_LM[key].LastDateforLM;
                    var str_StartDate = null;

                    var tem = null;
                    var str_StartDate_FromDB = null;
                    if (startDate != null) {
                        str_StartDate = new Date(parseInt(startDate.substr(6)));
                        tem = new Date(str_StartDate);
                        str_StartDate_FromDB = ('0' + (tem.getDate())).slice(-2) + '/' + ('0' + (tem.getMonth() + 1)).slice(-2) + '/' + tem.getFullYear();
                    }

                    var str_EndDate = null;
                    var tem2 = null;
                    var str_EndDate_FromDB = null;
                    if (startDate != null) {
                        str_EndDate = new Date(parseInt(endDate.substr(6)));
                        tem2 = new Date(str_EndDate);
                        str_EndDate_FromDB = ('0' + (tem2.getDate())).slice(-2) + '/' + ('0' + (tem2.getMonth() + 1)).slice(-2) + '/' + tem2.getFullYear();
                    }

                    var str_LastDateforLM = null;
                    var tem3 = null;
                    var str_LastDateforLM_FromDB = null;
                    if (LastDateForLM != null) {
                        str_LastDateforLM = new Date(parseInt(LastDateForLM.substr(6)));
                        tem3 = new Date(str_LastDateforLM);
                        str_LastDateforLM_FromDB = ('0' + (tem3.getDate())).slice(-2) + '/' + ('0' + (tem3.getMonth() + 1)).slice(-2) + '/' + tem3.getFullYear();
                    }


                    var append2 = '<div class="dragDrop_bx" style="cursor:pointer;" title="Click to Expande Training Detail" id="div-tna-' + tnaid + '-'+trainingId+'" onclick="Get_Participants_Via_Training(event,' + tnaid + ',' + trainingId + ',' + value.LM_Limit + ',' + value.ParticipantsCount + ')" type="button" data-toggle="collapse" data-target="#collapse' + key + '" aria-expanded="false" aria-controls="collapseOne"><p class="heading" id="heading-' + trainingId + '">' + trainingName + ' (' + tnaName + ') <br><span style="font-weight:bold;">Participants : <span class="participants-counts">'+value.ParticipantsCount+'</span></span></p><div id="collapse' + key + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"><div class="div-container-trainingname" id="training-' + trainingId + '"><p><strong>Training Name : </strong> ' + trainingName + '</p><p><strong>Description : </strong>' + description + '</p><p><strong>TNA Start Date : </strong>' + str_StartDate_FromDB + ' &nbsp;&nbsp;<strong>TNA End Date : </strong>' + str_EndDate_FromDB + ' &nbsp;&nbsp;<strong> Last Date For Assign Emp. : </strong>' + str_LastDateforLM_FromDB + '</p><p><strong>Limit : </strong>' + value.LM_Limit + '</p></div></div></div>';
                    $('#accordionExample').append(append2);
                    $("#hidden-TnaID-ForDelete").val(tnaid);
                   // FillAssignUsersNamesInTrainingsOnLoad(tnaid, trainingId);
                });
            },
            error: function (result) {
            }
        });
    }

    //Search
    

    function Get_Participants_Via_Training(ev,tna_id, training_id,Limit,ParticipantsCount)
    {
        debugger
        var myProp = 'Training_ID';
        if(myProp in Global_Obj_of_IDs){
            if (training_id!=Global_Obj_of_IDs.Training_ID) {
                $('#heading-'+Global_Obj_of_IDs.Training_ID).children('span').text("Participants : "+objectt.find(x=>x.Training_ID==Global_Obj_of_IDs.Training_ID).Participants_Count);
               
            }
        }
       
        $('#heading-'+training_id).children('span').text("Participants : "+objectt.find(x=>x.Training_ID==training_id).Participants_Count);
      
       
          Global_Obj_of_IDs={};       
       
        

        var Tr_Name=ev.currentTarget.innerText.split('\n')[0];
      
        var obj = {
            TNAID: tna_id,
            TrainingID: training_id
        };
        debugger
        if ($("#"+ev.currentTarget.id).attr("aria-expanded")=="true") {
            $('#onChange_Training_Name').text(Global_Dep_Name);
            $("#List_of_Employee").empty();
            var html="";
            $('#btn_Add_Remove_Participants').attr("disabled",true);
            $.each(Default_Employee_Array, function (key, value) {
                
                html+="<li id='"+value.ReporteeID+"'>"+value.ReporteeName+"</li>";
            });

            $("#List_of_Employee").append(html);
           
        }

        else {
            Global_Obj_of_IDs.TNA_ID=tna_id;
            Global_Obj_of_IDs.Training_ID=training_id;
            Global_Obj_of_IDs.Limit=Limit;

            $('#btn_Add_Remove_Participants').attr("disabled",false);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAssignUsersOnLoad", "LineManager")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (response) {
                debugger
                $('#onChange_Training_Name').text(Global_Dep_Name+" || "+Tr_Name);
                $("#List_of_Employee").empty();
                if (response.getData.length==0) {
                    var html="";
                   
                    $.each(Default_Employee_Array, function (key, value) {
                        html+="<li>"+
                            "<div class='form-group form-float mb-0'>"+
                            "<input type='checkbox' onchange='Checkbox_Change(event)' id='active-"+value.ReporteeID+"' value='"+value.ReporteeID+"' class='chk-col-blue'>"+
                            "<label class='form-label' for='active-"+value.ReporteeID+"'>"+value.ReporteeName+"</label>"+
                            "</div>"+
                            "</li>";
                        
                        
                    });

                   
                    $("#List_of_Employee").append(html);
                }

                else 
                { 
                    response.getData=JSON.parse(response.getData);
                    var IsAllow=response.getData[0].IsAllow;
                    var html="";
                    var count=0;
                    for (var i = 0; i < Default_Employee_Array.length; i++)
                    {
                        var isExist=false;
                        for (var j = 0; j < response.getData.length; j++) 
                        {
                            if (Default_Employee_Array[i].ReporteeID == response.getData[j].UserID){
                                isExist=true;
                                break;
                            }
                        }
                        if (isExist) 
                        {
                            if (IsAllow == 1) {
                                if (response.getData[j].SessionID==null) {
                                    html+="<li>"+
                                                                                   "<div class='form-group form-float mb-0'>"+
                                                                                   "<input type='checkbox' checked onchange='Checkbox_Change(event)' id='active-"+response.getData[j].UserID+"' value='"+response.getData[j].UserID+"' class='chk-col-blue'>"+
                                                                                   "<label class='form-label' for='active-"+response.getData[j].UserID+"'>"+response.getData[j].UserName+"</label>"+
                                                                                   "</div>"+
                                                                                   "</li>";
                                    count++;
                                }

                                else {
                                    html+="<li>"+
                                                                               "<div class='form-group form-float mb-0'>"+
                                                                               "<input type='checkbox' disabled checked onchange='Checkbox_Change(event)' id='active-"+response.getData[j].UserID+"' value='"+response.getData[j].UserID+"' class='chk-col-blue'>"+
                                                                               "<label class='form-label' for='active-"+response.getData[j].UserID+"'>"+response.getData[j].UserName+"</label>"+
                                                                               "</div>"+
                                                                               "</li>";
                                    count++;
                                }
                            }

                            else
                            {
                                html+="<li>"+
                                                                              "<div class='form-group form-float mb-0'>"+
                                                                              "<input type='checkbox' disabled checked onchange='Checkbox_Change(event)' id='active-"+response.getData[j].UserID+"' value='"+response.getData[j].UserID+"' class='chk-col-blue'>"+
                                                                              "<label class='form-label' for='active-"+response.getData[j].UserID+"'>"+response.getData[j].UserName+"</label>"+
                                                                              "</div>"+
                                                                              "</li>";
                                count++;
                            }

                           
                            
                            $('#heading-'+training_id).children('span').text("Participants : "+count);
                        }

                        else 
                        { 
                            if (IsAllow == 1){
                                html+="<li>"+
                                                     "<div class='form-group form-float mb-0'>"+
                                                     "<input type='checkbox' onchange='Checkbox_Change(event)' id='active-"+Default_Employee_Array[i].ReporteeID+"' value='"+Default_Employee_Array[i].ReporteeID+"' class='chk-col-blue'>"+
                                                     "<label class='form-label' for='active-"+Default_Employee_Array[i].ReporteeID+"'>"+Default_Employee_Array[i].ReporteeName+"</label>"+
                                                     "</div>"+
                                                     "</li>";
                            }
                            else{
                                html+="<li>"+
                                                     "<div class='form-group form-float mb-0'>"+
                                                     "<input type='checkbox' disabled onchange='Checkbox_Change(event)' id='active-"+Default_Employee_Array[i].ReporteeID+"' value='"+Default_Employee_Array[i].ReporteeID+"' class='chk-col-blue'>"+
                                                     "<label class='form-label' for='active-"+Default_Employee_Array[i].ReporteeID+"'>"+Default_Employee_Array[i].ReporteeName+"</label>"+
                                                     "</div>"+
                                                     "</li>";
                            }

                          
                        }
                  }

                    $("#List_of_Employee").append(html);
                }
               

            },
            error: function () {
            }
        });
        }
       
    }
    function Checkbox_Change(ev){
        

        if ($("#"+ev.currentTarget.id).is(":checked")) {
            var current_Count=$('#heading-'+Global_Obj_of_IDs.Training_ID).children('span').text().split(':')[1].replace(/\s+/g, '');
            current_Count= parseInt(current_Count)+ 1;
            $('#heading-'+Global_Obj_of_IDs.Training_ID).children('span').text("Participants : "+current_Count);
           
        

        }

        else {
           
            var current_Count=$('#heading-'+Global_Obj_of_IDs.Training_ID).children('span').text().split(':')[1].replace(/\s+/g, '');
            current_Count= parseInt(current_Count) - 1;
            $('#heading-'+Global_Obj_of_IDs.Training_ID).children('span').text("Participants : "+current_Count);
          
        }
       
   
        
    }
    function checkisNull() {
        //var _TNAName = $('#SearchbyTNA').val();
        var _TNAName = dropDownTNAList._options.value;
        if (_TNAName == "" || _TNAName == null) {
            $('#accordionExample').empty();
            GetAllTrainings();
            $('#onChange_Training_Name').text(Global_Dep_Name);
            $("#List_of_Employee").empty();
            var html="";
            $('#btn_Add_Remove_Participants').attr("disabled",true);
            $.each(Default_Employee_Array, function (key, value) {
                
                html+="<li id='"+value.ReporteeID+"'>"+value.ReporteeName+"</li>";
            });

            $("#List_of_Employee").append(html);
        }
        else {



        }
    }
    function SearchTNA() {

        var _TrainingName = dropDownTNAList._options.value;

        if (_TrainingName != "" && _TrainingName != null) {

            $('#onChange_Training_Name').text(Global_Dep_Name);
            $("#List_of_Employee").empty();
            var html="";
            $('#btn_Add_Remove_Participants').attr("disabled",true);
            $.each(Default_Employee_Array, function (key, value) {
                
                html+="<li id='"+value.ReporteeID+"'>"+value.ReporteeName+"</li>";
            });

            $("#List_of_Employee").append(html);

            $.ajax({
                url: '@Url.Action("GetSearchTrainings", "LineManager")',
                type: 'GET',
                data: { TNAName: _TrainingName },
                success: function (result) {
                    debugger
                    $('#accordionExample').empty();
                    $.each(result.lst_LM, function (key, value) {
                        var tnaid = result.lst_LM[key].TnaId;
                        var tnaName = result.lst_LM[key].TNAName;
                        var trainingId = result.lst_LM[key].TrainingId;
                        var trainingName = result.lst_LM[key].TrainingName;
                        var description = result.lst_LM[key].Description;
                        var startDate = result.lst_LM[key].StartDate;
                        var endDate = result.lst_LM[key].EndDate;
                        var LastDateForLM = result.lst_LM[key].LastDateforLM;
                        var str_StartDate = null;

                        var tem = null;
                        var str_StartDate_FromDB = null;
                        if (startDate != null) {
                            str_StartDate = new Date(parseInt(startDate.substr(6)));
                            tem = new Date(str_StartDate);
                            str_StartDate_FromDB = ('0' + (tem.getDate())).slice(-2) + '/' + ('0' + (tem.getMonth() + 1)).slice(-2) + '/' + tem.getFullYear();
                        }

                        var str_EndDate = null;
                        var tem2 = null;
                        var str_EndDate_FromDB = null;
                        if (startDate != null) {
                            str_EndDate = new Date(parseInt(endDate.substr(6)));
                            tem2 = new Date(str_EndDate);
                            str_EndDate_FromDB = ('0' + (tem2.getDate())).slice(-2) + '/' + ('0' + (tem2.getMonth() + 1)).slice(-2) + '/' + tem2.getFullYear();
                        }

                        var str_LastDateforLM = null;
                        var tem3 = null;
                        var str_LastDateforLM_FromDB = null;
                        if (LastDateForLM != null) {
                            str_LastDateforLM = new Date(parseInt(LastDateForLM.substr(6)));
                            tem3 = new Date(str_LastDateforLM);
                            str_LastDateforLM_FromDB = ('0' + (tem3.getDate())).slice(-2) + '/' + ('0' + (tem3.getMonth() + 1)).slice(-2) + '/' + tem3.getFullYear();
                        }

                        var append2 = '<div class="dragDrop_bx" style="cursor:pointer;" title="Click to Expande Training Detail" id="div-tna-' + tnaid + '-'+trainingId+'" onclick="Get_Participants_Via_Training(event,' + tnaid + ',' + trainingId + ',' + value.LM_Limit + ',' + value.ParticipantsCount + ')" type="button" data-toggle="collapse" data-target="#collapse' + key + '" aria-expanded="false" aria-controls="collapseOne"><p class="heading" id="heading-' + trainingId + '">' + trainingName + ' (' + tnaName + ') <br><span style="font-weight:bold;">Participants : <span class="participants-counts">'+value.ParticipantsCount+'</span></span></p><div id="collapse' + key + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"><div class="div-container-trainingname" id="training-' + trainingId + '"><p><strong>Training Name : </strong> ' + trainingName + '</p><p><strong>Description : </strong>' + description + '</p><p><strong>TNA Start Date : </strong>' + str_StartDate_FromDB + ' &nbsp;&nbsp;<strong>TNA End Date : </strong>' + str_EndDate_FromDB + ' &nbsp;&nbsp;<strong> Last Date For Assign Emp. : </strong>' + str_LastDateforLM_FromDB + '</p><p><strong>Limit : </strong>' + value.LM_Limit + '</p></div></div></div>';
                        $('#accordionExample').append(append2);
                        $("#hidden-TnaID-ForDelete").val(tnaid);
                       
                    });
                },
                error: function (result) {
                }
            });
        }
        else {
            AlertToast('error', "Please select training.");
        }

    }
    //End Search


    function Add_Remove_Participants_From_Training(){

        Global_Obj_of_IDs.Participants_IDs=[];
       
        
        $('input[type=checkbox]').each(function () {
          
            if (this.checked) {
                Global_Obj_of_IDs.Participants_IDs.push($(this).val());

              
            }
            
        });
   
            if (Global_Obj_of_IDs.Participants_IDs.length > parseInt(Global_Obj_of_IDs.Limit) ) {
                AlertToast('error', 'Participants limit has been exceed.');
            }
            else {
                objectt.find(x=>x.Training_ID==Global_Obj_of_IDs.Training_ID).Participants_Count=Global_Obj_of_IDs.Participants_IDs.length;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertUsersToTraining", "LineManager")",
                    contentType: "application/json; charset=utf-8",
                data: JSON.stringify(Global_Obj_of_IDs),
                dataType: "json",
                success: function (response) {
                    if (response.Status) {
                        AlertToast('success', response.Message);

                    }
                    else {
                        AlertToast('error', response.Message);

                    }
                },
                error: function () {
                },
            });
        }
  
       
            
        
       
    }
   


    function modal_Open_DeleteUser(eve) {
        debugger
        $("#modal-Confirm-DeleteUser").modal('show');

        var userID = eve.parentElement.id;

        var tnaID = eve.parentElement.parentElement.parentElement.parentElement.parentElement.id;
        var tnaID_Split = tnaID.split("-");
        var tnaID_AfterSplit = tnaID_Split[2];
        //var tnaID_AfterSplit = $("#hidden-TnaID-ForDelete").val();

        var trainingID = eve.parentElement.parentElement.parentElement.previousSibling.id;
        var trainingID_Split = trainingID.split("-");
        var trainingID_AfterSplit = trainingID_Split[1];
        debugger
        $("#hidden-UserID-ForDelete").val(userID);
        $("#hidden-TnaID-ForDelete").val(tnaID_AfterSplit);
        $("#hidden-TrainingID-ForDelete").val(trainingID_AfterSplit);

    }


</script>



