﻿@model List<TNA_ViewModel.Model.TNA_VM.GetDepartUsers>
@{
    ViewBag.Title = "AssignUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="icon" href="favicon.ico" type="image/x-icon">
}
<link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                   
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AllClosedSession", "LineManager")">Feedback</a></li>
                        <li class="breadcrumb-item active">Assign Users in Training</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row dragDrop_row">

                            <div class="col-md-6">

                                <div class="dragDrop_main_bx" id="div-main-TNA-Details">


                                    <div class="row mb-3 mr-0 ml-0">
                                            <div class="col-md-9 mt-2 pl-0">
                                                <label class="form-label">Search</label>
                                                <div class="form-line">
                                                    <div id="TNAList"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pr-0">
                                                <label class="form-label"></label>
                                                <button onclick="SearchTNA()" class="btn  btn-raised bg-red  waves-effect Header_Right_Btntna_purpl_btn"><i class="far fa-paper-plane"></i> Search</button>
                                            </div>
                                        </div>
                                       
                                        <div class="accordion" id="accordionExample"> 

                                           
                                        </div>
                                   

                                </div>
                            </div>
                    @if (Model != null)
                    {
                            <div class="col-md-6">

                                <div class="dragDrop_main_bx">

                                    <div class="dragDrop_bx">
                                        
                                            <p class="heading">@Model.FirstOrDefault().DepartmentName</p>

                                            <ul class="main_box">
                                                @{
                                                    if (Model != null)
                                                    {
                                                        for (int a = 0; a < Model.Count; a++)
                                                        {
                                                            <li id="@Model[a].ReporteeID" draggable="true" ondragstart="drag(event)" class="draggable">@Model[a].ReporteeName</li>
                                                        }
                                                    }
                                                }


                                            </ul>
                                    </div>

                                   

                                </div>
                            </div>
                   }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="CreateTrainingModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateTrainingModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control">
                                <label class="form-label">Name</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control">
                                <label class="form-label">Topic</label>
                            </div>
                        </div>

                        <select class="form-control show-tick">
                            <option value="">-- Please Select Type--</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">UPDATE</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
           
        </div>
    </div>
</div>

<!-- Small Size -->
<div class="modal fade" id="modal-Confirm-DeleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete this <b>"USER"</b> ?
            </div>
            <div class="modal-footer">
                <button id="btn-DeleteUser" type="button" class="btnDelete btn btn-link waves-effect" onclick="DeleteUser()">Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
                <input type="hidden" id="hidden-UserID-ForDelete" />
                <input type="hidden" id="hidden-TnaID-ForDelete" />
                <input type="hidden" id="hidden-TrainingID-ForDelete" />
            </div>
        </div>
    </div>
</div>

<script>
    var dropDownTNAList = "";
    $(document).ready(function () {
       
        GetAllTrainings();
        GetTNAList();

       
        //GetUsersListOfCurrentTNA();
    });
   
    function GetTNAList() {
        $.ajax({
            url: '@Url.Action("GetTNADeptWise", "LineManager")',
            type: 'GET',
            data: {},
            async:false,
            success: function (response) {
                debugger
                if (response.Status) {
                    BindTNADropDown(JSON.parse(response.TNAList));
                }

                else {
                    var emptyDatasource = [];
                    BindTNADropDown(emptyDatasource);
                }
                
            },
            error: function () { }
        });
    };

    function BindTNADropDown(dataSource) {
       dropDownTNAList = $("#TNAList").dxSelectBox({
            dataSource: dataSource,
            showClearButton: true,
            placeholder: "Search / Select Training",
            displayExpr: "TrainingName",
            valueExpr: "Value",
            searchEnabled: true,
            onValueChanged: function (data) {
                checkisNull();
            }
        }).dxSelectBox("instance");
    }

    function GetAllTrainings() {
        $.ajax({
            url: '@Url.Action("GetAllTrainingsCurrentUser", "LineManager")',
            //url: "/" + $('#tna_prefix').val() + "/LineManager/GetAllTrainingsCurrentUser",
            type: 'GET',
            data: {},
            success: function (result) {
            debugger
                $.each(result.lst_LM, function (key, value) {
                    var tnaid = result.lst_LM[key].TnaId;
                    var tnaName = result.lst_LM[key].TNAName;
                    var trainingId = result.lst_LM[key].TrainingId;
                    var trainingName = result.lst_LM[key].TrainingName;
                    var description = result.lst_LM[key].Description;
                    var startDate = result.lst_LM[key].StartDate;
                    var endDate = result.lst_LM[key].EndDate;
                    var LastDateForLM = result.lst_LM[key].LastDateforLM;
                    var str_StartDate = null;
                   
                    var tem = null;
                    var str_StartDate_FromDB = null;
                    if (startDate != null) {
                        str_StartDate = new Date(parseInt(startDate.substr(6)));
                        tem = new Date(str_StartDate);
                        str_StartDate_FromDB = ('0' + (tem.getDate())).slice(-2) + '/' + ('0' + (tem.getMonth() + 1)).slice(-2) + '/' + tem.getFullYear();
                    }

                    var str_EndDate = null;
                    var tem2 = null;
                    var str_EndDate_FromDB = null;
                    if (startDate != null) {
                        str_EndDate = new Date(parseInt(endDate.substr(6)));
                        tem2 = new Date(str_EndDate);
                        str_EndDate_FromDB = ('0' + (tem2.getDate())).slice(-2) + '/' + ('0' + (tem2.getMonth() + 1)).slice(-2) + '/' + tem2.getFullYear();
                    }

                    var str_LastDateforLM = null;
                    var tem3 = null;
                    var str_LastDateforLM_FromDB = null;
                    if (LastDateForLM != null) {
                        str_LastDateforLM = new Date(parseInt(LastDateForLM.substr(6)));
                        tem3 = new Date(str_LastDateforLM);
                        str_LastDateforLM_FromDB = ('0' + (tem3.getDate())).slice(-2) + '/' + ('0' + (tem3.getMonth() + 1)).slice(-2) + '/' + tem3.getFullYear();
                    }
                    //var append = '<div class="dragDrop_bx" id="div-tna-' + tnaid + '"><p class="heading">' + tnaName + ' <span style="float:right; font-weight:bold; margin-right:30px;">Participants : <span class="participants-counts">0</span></span></p><ul class="main_box"><li>' + trainingName + '</li><li>' + description + '</li><li>' + str_StartDate_FromDB + ' - ' + str_EndDate_FromDB + '</li><li style="background-color:#37474f; color:white; text-align:center;">Drop Users Below ... </li><li id="li-dropUser"><div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div></li></ul></div>';
                    //$('#div-main-TNA-Details').append(append);
                   
                    var append2 = '<div class="dragDrop_bx" id="div-tna-' + tnaid + '" type="button" data-toggle="collapse" data-target="#collapse' + key + '" aria-expanded="true" aria-controls="collapseOne"><p class="heading" id="heading-' + trainingId + '">' + trainingName + ' (' + tnaName + ') <br><span style="font-weight:bold;" onclick="OpenModal(this)">Participants : <span class="participants-counts">0</span></span></p><div id="collapse' + key + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"><div class="div-container-trainingname" id="training-' + trainingId + '"><p><strong>Training Name : </strong> ' + trainingName + '</p><p><strong>Description : </strong>' + description + '</p><p><strong>TNA Start Date : </strong>' + str_StartDate_FromDB + ' &nbsp;&nbsp;<strong>TNA End Date : </strong>' + str_EndDate_FromDB + ' &nbsp;&nbsp;<strong> Last Date For Assign Emp. : </strong>' + str_LastDateforLM_FromDB + '</p></div><ul class="main_box" id="training-' + trainingId + '"><li style="background-color:#b5bcbf; color:white; text-align:center;">Drop Users Below ... </li><li id="li-dropUser"><div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div></li></ul></div></div>';
                    $('#accordionExample').append(append2);
                    $("#hidden-TnaID-ForDelete").val(tnaid);
                    FillAssignUsersNamesInTrainingsOnLoad(tnaid, trainingId);
                });
            },
            error: function (result) {
            }
        });
    }

    //Search

    function checkisNull() {
        //var _TNAName = $('#SearchbyTNA').val();
        var _TNAName = dropDownTNAList._options.value;
        if (_TNAName == "" || _TNAName == null) {
            $('#accordionExample').empty();
            GetAllTrainings();
        }
        else {



        }
    }
    function SearchTNA() {

        var _TrainingName = dropDownTNAList._options.value;
       
        if (_TrainingName != "" && _TrainingName != null) {
            $.ajax({
                url: '@Url.Action("GetSearchTrainings", "LineManager")',
                //url: "/" + $('#tna_prefix').val() + "/LineManager/GetAllTrainingsCurrentUser",
                type: 'GET',
                data: { TNAName: _TrainingName },
                success: function (result) {
                    debugger
                    $('#accordionExample').empty();
                    $.each(result.lst_LM, function (key, value) {
                        var tnaid = result.lst_LM[key].TnaId;
                        var tnaName = result.lst_LM[key].TNAName;
                        var trainingId = result.lst_LM[key].TrainingId;
                        var trainingName = result.lst_LM[key].TrainingName;
                        var description = result.lst_LM[key].Description;
                        var startDate = result.lst_LM[key].StartDate;
                        var endDate = result.lst_LM[key].EndDate;
                        var LastDateForLM = result.lst_LM[key].LastDateforLM;
                        var str_StartDate = null;

                        var tem = null;
                        var str_StartDate_FromDB = null;
                        if (startDate != null) {
                            str_StartDate = new Date(parseInt(startDate.substr(6)));
                            tem = new Date(str_StartDate);
                            str_StartDate_FromDB = ('0' + (tem.getDate())).slice(-2) + '/' + ('0' + (tem.getMonth() + 1)).slice(-2) + '/' + tem.getFullYear();
                        }

                        var str_EndDate = null;
                        var tem2 = null;
                        var str_EndDate_FromDB = null;
                        if (startDate != null) {
                            str_EndDate = new Date(parseInt(endDate.substr(6)));
                            tem2 = new Date(str_EndDate);
                            str_EndDate_FromDB = ('0' + (tem2.getDate())).slice(-2) + '/' + ('0' + (tem2.getMonth() + 1)).slice(-2) + '/' + tem2.getFullYear();
                        }

                        var str_LastDateforLM = null;
                        var tem3 = null;
                        var str_LastDateforLM_FromDB = null;
                        if (LastDateForLM != null) {
                            str_LastDateforLM = new Date(parseInt(LastDateForLM.substr(6)));
                            tem3 = new Date(str_LastDateforLM);
                            str_LastDateforLM_FromDB = ('0' + (tem3.getDate())).slice(-2) + '/' + ('0' + (tem3.getMonth() + 1)).slice(-2) + '/' + tem3.getFullYear();
                        }
                        //var append = '<div class="dragDrop_bx" id="div-tna-' + tnaid + '"><p class="heading">' + tnaName + ' <span style="float:right; font-weight:bold; margin-right:30px;">Participants : <span class="participants-counts">0</span></span></p><ul class="main_box"><li>' + trainingName + '</li><li>' + description + '</li><li>' + str_StartDate_FromDB + ' - ' + str_EndDate_FromDB + '</li><li style="background-color:#37474f; color:white; text-align:center;">Drop Users Below ... </li><li id="li-dropUser"><div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div></li></ul></div>';
                        //$('#div-main-TNA-Details').append(append);

                        var append2 = '<div class="dragDrop_bx" id="div-tna-' + tnaid + '" type="button" data-toggle="collapse" data-target="#collapse' + key + '" aria-expanded="true" aria-controls="collapseOne"><p class="heading" id="heading-' + trainingId + '">' + trainingName + ' (' + tnaName + ') <br> <span style="font-weight:bold;" onclick="OpenModal(this)">Participants : <span class="participants-counts">0</span></span></p><div id="collapse' + key + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"><div class="div-container-trainingname" id="training-' + trainingId + '"><p><strong>Training Name : </strong> ' + trainingName + '</p><p><strong>Description : </strong>' + description + '</p><p><strong>TNA Start Date : </strong>' + str_StartDate_FromDB + ' &nbsp;&nbsp;<strong>TNA End Date : </strong>' + str_EndDate_FromDB + ' &nbsp;&nbsp;<strong> Last Date For Assign Emp. : </strong>' + str_LastDateforLM_FromDB + '</p></div><ul class="main_box" id="training-' + trainingId + '"><li style="background-color:#b5bcbf; color:white; text-align:center;">Drop Users Below ... </li><li id="li-dropUser"><div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div></li></ul></div></div>';
                        $('#accordionExample').append(append2);
                        $("#hidden-TnaID-ForDelete").val(tnaid);
                        FillAssignUsersNamesInTrainingsOnLoad(tnaid, trainingId);
                    });
                },
                error: function (result) {
                }
            });
        }
        else {
            AlertToast('error', "Please select training.");
        }

    }
    //End Search

    function FillAssignUsersNamesInTrainingsOnLoad(tnaID, trainingID) {
        debugger
        var obj = {
            TNAID: tnaID,
            TrainingID: trainingID
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAssignUsersOnLoad", "LineManager")",
            //url: "/" + $('#tna_prefix').val() + "/LineManager/GetAssignUsersOnLoad",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (response) {
                $.each(response.getData, function (key, value) {
                    var tnaid = response.getData[key].TNAID;
                    var trainingid = "#training-" + response.getData[key].TrainingID;
                    var userid = response.getData[key].UserID;
                    var userName = response.getData[key].UserName;

                    $('#div-tna-' + tnaid + ' ' + trainingid + '').next('ul.main_box').find("li#li-dropUser").prepend('<div id="' + userid + '" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;">' + userName + '<i class="zmdi zmdi-delete" onclick="modal_Open_DeleteUser(this)" style="float:right; margin-right:20px;"></i></div>');
                    var count_UserNames = $('#div-tna-' + tnaid + ' ' + trainingid + '').next('ul.main_box').find("li#li-dropUser div").length;
                    var count_UserName_Minus = parseInt(count_UserNames) - parseInt(1);
                    //$("#div-main-TNA-Details #div-tna-" + tnaid + " .heading span .participants-counts").text(count_UserName_Minus);
                    $("#div-main-TNA-Details #div-tna-" + tnaid + " #heading-" + response.getData[key].TrainingID + " span .participants-counts").text(count_UserName_Minus);
                });

            },
            error: function () {
            }
        });
    }


    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev, target) {
        debugger;
        ev.preventDefault();

        var trainingID = ev.target.parentElement.parentElement.previousSibling.attributes.id.textContent;
        var trainingID_Split = trainingID.split("-");
        var trainingID_AfterSplit = trainingID_Split[1];

        var tnaID = ev.target.parentElement.parentElement.parentElement.parentElement.attributes.id.textContent
        var tnaID_Split = tnaID.split("-");
        var tnaID_AfterSplit = tnaID_Split[2];

        //var tnaID_AfterSplit = $("#hidden-TnaID-ForDelete").val();

        var dropID = ev.target.attributes.id.textContent;
        var UserID_draggable = ev.dataTransfer.getData("text");

        var getStatus = CheckUserAssignAlready(tnaID_AfterSplit, trainingID_AfterSplit, UserID_draggable);

        if (getStatus == "Exist") {
            AlertToast('error', "User Already Exists.");
        }
        else {
            debugger
            var nodeCopy = document.getElementById(UserID_draggable).cloneNode(true);
            ev.target.append(nodeCopy.textContent);
            var parentDiv_ID = ev.target.parentNode.parentNode.parentNode.attributes.id.value;
            $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser div").last().attr('id', UserID_draggable);
            $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser div").last().append('<i class="zmdi zmdi-delete" onclick="modal_Open_DeleteUser(this)" style="float:right; margin-right:20px;"></i>');
            $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser div").removeAttr('ondrop');
            $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser div").removeAttr('ondragover');
            var count_UserNames = $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser div").length;
            $("#" + parentDiv_ID + " #training-" + trainingID_AfterSplit + " #li-dropUser").append('<div id="div-DropUser" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;"></div>');
           
            $("#" + ev.path[4].id + " #heading-" + trainingID_AfterSplit + " span .participants-counts").text(count_UserNames);
            InsertUsers(tnaID_AfterSplit, trainingID_AfterSplit, UserID_draggable);
        }
      
    }

    function CheckUserAssignAlready(tnaID_AfterSplit, getTrainingID_FromHidden, getUserID_FromHidden) {
        debugger
        var tnaid = "#div-tna-" + tnaID_AfterSplit;
        var trainingid = "#training-" + getTrainingID_FromHidden;
        var userid = getUserID_FromHidden;
        var status;
        var checkID = $(tnaid + ' ' + trainingid + '').next('ul.main_box').find("li#li-dropUser").find("#" + getUserID_FromHidden).attr('id');
       
        if (typeof checkID === 'undefined') {
            //alert("Not Exist");
            status = "False";
        }
        else if(checkID.length > 1) {
            //alert("exist");
            status = "Exist";
        } else {
            status = "False";
        }


        
        return status;
    }

    function InsertUsers(tnaID, trainingID, userID) {
        var obj = {
            TNAID: tnaID,
            TrainingID: trainingID,
            UserID: userID
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("InsertUsersToTraining", "LineManager")",
            //url: "/" + $('#tna_prefix').val() + "/LineManager/InsertUsersToTraining",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (response) {
                if (response.Status) {
                    AlertToast('success', response.Message);
                  
                }
                else {
                    AlertToast('error', response.Message);

                }
            },
            error: function () {
            },
        });
    }

    function modal_Open_DeleteUser(eve) {
        debugger
        $("#modal-Confirm-DeleteUser").modal('show');

        var userID = eve.parentElement.id;

        var tnaID = eve.parentElement.parentElement.parentElement.parentElement.parentElement.id;
        var tnaID_Split = tnaID.split("-");
        var tnaID_AfterSplit = tnaID_Split[2];
        //var tnaID_AfterSplit = $("#hidden-TnaID-ForDelete").val();

        var trainingID = eve.parentElement.parentElement.parentElement.previousSibling.id;
        var trainingID_Split = trainingID.split("-");
        var trainingID_AfterSplit = trainingID_Split[1];
        debugger
        $("#hidden-UserID-ForDelete").val(userID);
        $("#hidden-TnaID-ForDelete").val(tnaID_AfterSplit);
        $("#hidden-TrainingID-ForDelete").val(trainingID_AfterSplit);

    }

    function DeleteUser() {
        debugger
        var getUserID_FromHidden = $("#hidden-UserID-ForDelete").val();
        var getTnaID_FromHidden = $("#hidden-TnaID-ForDelete").val();
        var getTrainingID_FromHidden = $("#hidden-TrainingID-ForDelete").val();

        var obj = {
            TNAID: getTnaID_FromHidden,
            TrainingID: getTrainingID_FromHidden,
            UserID: getUserID_FromHidden
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteUserFromTnaTraining", "LineManager")",
            //url: "/" + $('#tna_prefix').val() + "/LineManager/DeleteUserFromTnaTraining",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (response) {
                if (response.Status) {
                    //$('#accordionExample').empty();
                    //GetAllTrainings();
                    AlertToast('success', response.Message);
                    
                    debugger
                    var tnaid = "#div-tna-" + getTnaID_FromHidden;
                    var trainingid = "#training-" + getTrainingID_FromHidden;
                    
                    var userid = '#'+getUserID_FromHidden;
                    $(tnaid + ' ' + trainingid).find(userid).remove();
                    var trainingIDForDelete = "training-" + getTrainingID_FromHidden;
                   // $(tnaid).find(trainingid).next('ul.main_box').find("li#li-dropUser").find("#" + getUserID_FromHidden).remove();
                    //$(trainingid).next('ul.main_box').find("li#li-dropUser").find("#" + getUserID_FromHidden).remove(); //.prepend('<div id="' + userid + '" style="height:26px; border-bottom:solid 1px grey; padding-left:10px;">' + userName + '<i class="zmdi zmdi-delete" onclick="modal_Open_DeleteUser(this)" style="float:right; margin-right:20px;"></i></div>');
                    var count_UserNames = $(tnaid + " " + trainingid +"").next('ul.main_box').find("li#li-dropUser div").length;
                    var count_UserName_Minus = parseInt(count_UserNames) - parseInt(1);
                    $("#div-main-TNA-Details " + tnaid + " #heading-" + getTrainingID_FromHidden + " .participants-counts").text(count_UserName_Minus);
                }
                else {
                    AlertToast('error', response.Message);
                }
            },
            error: function () {
            },
        });
        $("#modal-Confirm-DeleteUser").modal('hide');
    }

</script>



