﻿
@{
    ViewBag.Title = "ParticipantsWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AllClosedSession", "LineManager")">Feedback</a></li>
                        <li class="breadcrumb-item active">Participants Wise Report</li>
                    </ul>
                </div>
            </div>
        </div>
       
         <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Participants Wise Report <small></small> </h2>
                      
                    </div>
                    <div class="container cstm-container">
                        <div class="row">
                            <div class="col-md-2">
                                <lable>Employee's List</lable>
                            </div>
                            <div class="col-md-5">
                                <div id="employeeList"></div>
                            </div>
                            <div class="col-md-2 sec-btn">
                                <button type="button" id="btnReport" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">Report</button>
                            </div>
                        </div>
                    </div>
                        
                        
                        
                    </div>
                    <div id="employeeReportGrid" class="cum_grid body"></div>                     


                </div>
            </div>
        </div>

        </div>
    </section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>

    $(document).ready(function () {
        GetEmployeeList();
        BindReportGrid(null);
    });

    var dropDownEmpList;
    function GetEmployeeList(){
        $.ajax({
            url:'@Url.Action("GetEmployeeList", "LineManager")',
            type: 'GET',
            data: {},
            async:false,
            success: function (response) {
                if (response.Status) {
                    BindEmployeeDropDown(JSON.parse(response.data));
                }

                else {
                    var emptyDataSource = [];
                    BindEmployeeDropDown(emptyDataSource);
                }
                
            },
            error: function () { }
        });
    };

    function GetReportbyEmpID(EmpID){

        $.ajax({
            url: '@Url.Action("GetParticipantsWiseReport", "LineManager")',
            type: 'GET',
            data: {EmpID:EmpID},
            async: false,
            success: function (response) {
                if (response.Status) {

                    BindReportGrid(JSON.parse(response.data));
                    AlertToast('success', response.Message);
                }

                else {
                    BindReportGrid(null);
                    AlertToast('error', response.Message);
                }
            },
            error: function () { }
        });
    };

    function BindReportGrid(dataSource) {

        $("#employeeReportGrid").dxDataGrid({
            dataSource: dataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            export: {
                enabled: true,
                fileName: "Participants Report"
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: false, allowSearch: true },
            searchPanel: { visible: true },
            columns: [
                {
                    dataField: "TNAName",
                    caption: "TNA Name",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "TrainingName",
                    caption: "Training Name",
                    width: "150",
                    alignment: "left"
                },
                 {
                     dataField: "TopicName",
                     caption: "Topic Name",
                     width: "150",
                     alignment: "left"
                 },
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    alignment: "center",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    width: "250",
                    alignment: "left",
                    dataType: "date",
                    format:"dd/MM/yyyy",
                },
                 {
                     dataField: "EndDate",
                     caption: "EndDate",
                     alignment: "center",
                     width: "250",
                     dataType: "date",
                     alignment: "left",
                     format:"dd/MM/yyyy",
                 },
                {
                    dataField: "StartTime",
                    caption: "Start Time",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "EndTime",
                    caption: "End Time",
                    alignment: "center",
                    width: "150",
                    alignment: "left"
                },
                 {
                     dataField: "TrainerName",
                     caption: "Trainer Name",
                     alignment: "center",
                     width: "250",
                     alignment: "left",
                    
                 },
                   {
                       dataField: "TrainerFeedback",
                       caption: "Trainer Feedback",
                       alignment: "center",
                       width: "300",
                       alignment: "left",
                      
                   },
                   {
                       dataField: "Attendance",
                       caption: "Attendance",
                       alignment: "center",
                       width: "100",
                       alignment: "center",
                       dataType: "boolean"
                       
                   },
            ]
        });
    };

    function BindEmployeeDropDown(dataSource) {
        dropDownEmpList = $("#employeeList").dxSelectBox({
            dataSource: dataSource,
            placeholder: "Search / Select",
            displayExpr: "ReporteeName",
            valueExpr: "ReporteeID",
            searchEnabled: true,
        }).dxSelectBox("instance");
    }

    $('#btnReport').click(function () {
        GetReportbyEmpID(dropDownEmpList._options.value);
    });
</script>