﻿@model TNA_ViewModel.Model.TNA_VM.SessionParticipants_mdl
@{
    ViewBag.Title = "Participants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
<style>
    input[type=checkbox] {
    left:0!important;
    }
  body{
	font-family: 'Open Sans', sans-serif;
}
  label {
    margin-top: -6px!important;
    margin-left: -5px!important;
    text-align: center!important;
}
.main-div h2 {
    font-size: 12px;
    color: #333333;
    line-height: 27px;
    margin-top: 8px;
    width: 100%;
}

.main-div h2 span {
    color: #555;
    margin-left: 11px;
    font-weight: 700;
}
.mt-20{
	margin-top: 20px;
}
.main-text {
    /* width: 50%;
    margin: 0 auto; */
}
.mt-40{
	margin-top: 20px;
}
.pretty .state label:after, .pretty .state label:before{
	width: 20px!important;
    height: 20px!important;
}

.pretty .state label {
    text-indent: 2.5em;
}
.main-side .main-text {
    margin-top: 10px;
}
.pretty .state label {
    font-weight: 600;
}
.pretty .state label:before {
    border-color: #272727;
}
.pad-cstm{
	/*padding: 0px 90px;*/
}  
 /* span {
        color: #0049a5;
        font-size: 18px;
        margin-left: -15px;
    }
      
    * {
        padding-top: 4px;
    }

    div {
        margin: 5px;
        padding-top: 18px;
        margin-left: 30px;
        font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    }*/
</style>

<link href="~/Content/star-rating.css" media="all" rel="stylesheet" />
<script src="~/Scripts/star-rating.js" type="text/javascript"></script>>

@Html.HiddenFor(model => model.TrainingID)
@Html.HiddenFor(model=>model.TNAID)
@Html.HiddenFor(model => model.SessionID)
<input type="hidden" name="UserID" id="UserID" value="" />
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AllClosedSession", "LineManager")">Feedback</a></li>
                        <li class="breadcrumb-item active">Participants</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Participants<small></small> </h2>
                    </div>
                </div>
                <div class="body">
                    <div id="participantsGrid" class="cum_grid"></div>
                    <button type="button" class="btnSubmit btn tna_purpl_btn_modal waves-effect">Submit</button>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Rating Chart</h4>
            </div>
            <div class="modal-body">
                <form id="rateForm">
                    <div class="container-fluid main-div pad-cstm">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <h2><span>1.</span> How satisfied are you with the content & concept provided during the training / workshop? </h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="first" value="1" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="first" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="first" value="3" />


                                                <div class="state p-info">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="first" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">
                                                <input type="checkbox" name="first" value="5" />
                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h2><span>2.</span> How satisfied are you with the level of details provided during the training / workshop? </h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="second" value="1" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="second" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="second" value="3" />


                                                <div class="state p-info">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="second" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="second" value="5" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <h2><span>3.</span> How satisfied are you with the length of the training / workshop?  </h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="third" value="1" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="third" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="third" value="3" />


                                                <div class="state p-info">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="third" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="third" value="5" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <h2><span>4.</span> How did you find the concepts & frameworks to help you understand the critical aspects of this training / workshop?  </h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fourth" value="1" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fourth" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fourth" value="3" />


                                                <div class="state p-info">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fourth" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fourth" value="5" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <h2><span>5.</span> How do you think the overall outputs of this training / workshop will be useful for better development of yourself and / or your team ( if any)?</h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fifth" value="1" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fifth" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fifth" value="3" />


                                                <div class="state p-info">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fifth" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="fifth" value="5" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <h2><span>6.</span>How likely is it that you would recommend this training / workshop to your other colleagues / peers?</h2>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: inline;font-size: 10px">Not likely at all</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="0" />


                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">1</label>
                                            <div class="pretty p-default two">
                                                <input type="checkbox" name="sixth" value="1" />
                                                <div class="state p-danger">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">2</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="2" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">3</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="3" />


                                                <div class="state p-error">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">4</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="4" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">5</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="5" />


                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                    
                              
                                   </div>
                                <div class="row mt-20">
                                    
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">6</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="6" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">7</label>
                                            <div class="pretty p-default two">

                                                <input type="checkbox" name="sixth" value="7" />


                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">8</label>
                                            <div class="pretty p-default two">
                                                <input type="checkbox" name="sixth" value="8" />
                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: table-row">9</label>
                                            <div class="pretty p-default two">
                                                <input type="checkbox" name="sixth" value="9" />
                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="text-left pull-center color1">
                                            <label style="display: inline;font-size: 10px">Extremely likely</label>
                                            <div class="pretty p-default two">
                                                <input type="checkbox" name="sixth" value="10" />
                                                <div class="state p-success">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3 mt-40 main-side">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-text">
                                            <div class="pretty p-default">
                                                <input type="checkbox" checked/>
                                                <div class="state p-danger">
                                                    <label>1. Unsatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="main-text">
                                            <!-- success -->
                                            <div class="pull-center">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" checked/>
                                                    <div class="state p-error">
                                                        <label>
                                                            2.Somewhat

                                                            unsatisfied
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="main-text">
                                            <!-- info -->
                                            <div class="pull-center">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" checked/>
                                                    <div class="state p-info">
                                                        <label>3.Neutral</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="main-text">
                                            <!-- error -->
                                            <div class="pull-center">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" checked/>
                                                    <div class="state p-primary">
                                                        <label>
                                                            4. Somewhat

                                                            satisfied
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="main-text">
                                            <!-- danger -->
                                            <div class="pull-center">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" checked/>
                                                    <div class="state p-success">
                                                        <label>
                                                            5. Highly

                                                            satisfied
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group" style="margin-top:10px">
                        <button type="submit" class="btn tna_purpl_btn_modal waves-effect">Save</button>
                        <button type="button" class="btn tna_purpl_btn_modal waves-effect btn_dark" data-dismiss="modal">Close</button>

                    </div>
                  </form>
               
            </div>
            <div class="modal-footer">
               
            
            </div>
        </div>
    </div>
</div>

   <div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p class="stericField">Are you sure you want to submit.</p>
            </div>
            <div class="modal-footer">

                <button  type="button" class="btnYes btn tna_purpl_btn_modal waves-effect">Yes</button>
                <button type="button" class="btn tna_purpl_btn_modal waves-effect btn_dark" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>

    function GetValFromCheckBox(group) {
        debugger
        var Val="";
        //var group1 = "input:checkbox[name='first']";

        $(group).each(function (key, value) {
            if ($($(group)[key]).is(":checked")) {
               
                Val = $($(group)[key]).val();
            }
           
        });

        return Val;
    }
    function SetValFromCheckBox(group,val) {
        debugger
        var Val = "";
        //var group1 = "input:checkbox[name='first']";

        $(group).each(function (key, value) {

            if ($($(group)[key]).val() == val) {
                $($(group)[key]).prop('checked', true);
            }

            else {
                if (val==null) {
                    $($(group)[key]).prop('required', true);
                }

                else {
                    $($(group)[key]).prop('required', false);
                }
               
            }

            

        });

        return Val;
    }
   //function validateCheckbox(group){
   //    if ($(group).length > 0) {

   //    }

   //    else {
            
   //    }
    // }


    $("#rateForm").on("submit", function (event) {
        // validateCheckbox('div.checkbox-group.required :checkbox:checked');
        debugger
      
        event.preventDefault();
        var formData = {
            Rate1: GetValFromCheckBox("input:checkbox[name='first']"),
            Rate2: GetValFromCheckBox("input:checkbox[name='second']"),
            Rate3: GetValFromCheckBox("input:checkbox[name='third']"),
            Rate4: GetValFromCheckBox("input:checkbox[name='fourth']"),
            Rate5: GetValFromCheckBox("input:checkbox[name='fifth']"),
            Rate6: GetValFromCheckBox("input:checkbox[name='sixth']"),
            SessionID: $('#SessionID').val(),
            TNAID: $('#TNAID').val(),
            TrainingID: $('#TrainingID').val(),
            UserID: $('#UserID').val()
        };

        SaveFeedback(formData);

    });

    $("input:checkbox").on('click', function () {
        
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
            $(group).prop('required', false);
            $box.prop("required", true);
        } else {
            $box.prop("checked", false);
            $(group).prop('required', true);
        }

        if (true) {

        }
    });

   $(function () {

       $('input:checkbox').prop('required', true);

       
    });
   
</script>


<script>

    function SaveFeedback(formData) {
        $.ajax({
            url: '@Url.Action("SaveFeedback","LineManager")',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: "application/json charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast("success", "Feedback Save Successfully.");
                    $('#rateForm').trigger("reset");
                    $('#rateModal').modal('hide');
                }
                else {
                    AlertToast("error", response.Message);

                }
            },
            error: function (response) {
                AlertToast("error", "Try Again Fail to Save Feedback.");
            }
        });
    }
    $(document).ready(function () {


        GetParticipantsList();
        BindParticipantsGrid(null);
    });

    function GetParticipantsList() {
        var dataobj = {
            TrainingID: $('#TrainingID').val(),
            TNAID: $('#TNAID').val(),
            SessionID: $('#SessionID').val()
        }
        var jsonData = JSON.stringify(dataobj);
        $.ajax({
            url: '@Url.Action("GetParticipantsList", "LineManager")',
            type: 'POST',
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
               debugger
                if (response.Status) {
                    BindParticipantsGrid(JSON.parse(response.data));
                }

                else {
                    var DataSource = [];
                    BindParticipantsGrid(DataSource);
                }

            },
            error: function () { }
        });
    };

    function BindParticipantsGrid(dataSource) {

        $("#participantsGrid").dxDataGrid({
            dataSource: dataSource,
            columnAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            //export: {
            //    enabled: true,
            //    fileName: "Participants Report"
            //},
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: false, allowSearch: true },
            searchPanel: { visible: true },
            columns: [

                {
                    dataField: "ReporteeName",
                    caption: "Name",                   
                    alignment: "left"
                },
                  {
                      dataField: "Attendence",
                      caption: "Attendance",                  
                      alignment: "left",
                      cellTemplate: function (container, info) {
                          debugger

                          if (info.value) {
                              $("<div>")

                                     .append($("<i title='Present' style='color:green' class='fa fa-check'></i>"))
                                     .appendTo(container);
                          }

                          else {
                              $("<div>")

                                      .append($("<i title='Absent ' style='color:red' class='fa fa-times'></i>"))
                                      .appendTo(container);
                          }
                          
                      }
                  },
                    {
                        dataField: "Feedback",
                        caption: "Trainer Feedback",                       
                        alignment: "left"
                    },
               {
                   dataField: "SessionID",
                   caption: "Action",
                   alignment: "center",                 
                   allowFiltering: false,
                   cellTemplate: function (container, info) {
                       debugger
                       if (info.data.Attendence) {
                           $("<div>")
                             .append($("<a href='javascript:void(0);' onclick='RateParticipants(" + info.data.UserID + ")' title='Rate'><i class='fa fa-star'></i></a>"))
                             .appendTo(container);
                       }
                      
                       
                      
                   }
               },


            ]
        });
    };

    function RateParticipants(UserID) {
        $('#rateForm').trigger("reset");

        $('#UserID').val(UserID);
        var objGetValue = {
            SessionID: $('#SessionID').val(),
            TNAID: $('#TNAID').val(),
            TrainingID: $('#TrainingID').val(),
            UserID: $('#UserID').val()
        };
        debugger
        GetFeedbackValue(objGetValue);
        $('#rateModal').modal({
            backdrop: 'static',
            keyboard: false
        });

    }

    function GetFeedbackValue(objGetValue){
      $.ajax({
            url: '@Url.Action("GetFeedbackValue", "LineManager")',
            type: 'POST',
            data: JSON.stringify(objGetValue),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger
                if (response.Status) {
                    var data = JSON.parse(response.data)[0];
                    SetValFromCheckBox("input:checkbox[name='first']", data.Rate1);
                    SetValFromCheckBox("input:checkbox[name='second']", data.Rate2);
                    SetValFromCheckBox("input:checkbox[name='third']", data.Rate3);
                    SetValFromCheckBox("input:checkbox[name='fourth']", data.Rate4);
                    SetValFromCheckBox("input:checkbox[name='fifth']", data.Rate5);
                    SetValFromCheckBox("input:checkbox[name='sixth']", data.Rate6);
                    
                    //$('#input-1').rating("update", data.Rate1);
                    //$('#input-2').rating("update", data.Rate2);
                    //$('#input-3').rating("update", data.Rate3);
                    //$('#input-4').rating("update", data.Rate4);
                    //$('#input-5').rating("update", data.Rate5);
                    //$('#input-6').rating("update", data.Rate6);

                    //$('#input-1').val(data.Rate1);
                    //$('#input-2').val(data.Rate2);
                    //$('#input-3').val(data.Rate3);
                    //$('#input-4').val(data.Rate4);
                    //$('#input-5').val(data.Rate5);
                    //$('#input-6').val(data.Rate6);

                    //$('#input-1').prev().css("width", GetValueinPercentage(data.Rate1));
                    //$('#input-2').prev().css("width", GetValueinPercentage(data.Rate2));
                    //$('#input-3').prev().css("width", GetValueinPercentage(data.Rate3));
                    //$('#input-4').prev().css("width", GetValueinPercentage(data.Rate4));
                    //$('#input-5').prev().css("width", GetValueinPercentage(data.Rate5));
                    //$('#input-6').prev().css("width", GetValueinPercentage(data.Rate6));
                }
                else {

                }
            },
            error: function () {

            }
      });
    }

    function GetValueinPercentage(value)
    {
        var result = (parseFloat(value) * 100) / 5;
        return result+"%";
    }

   $(function(){
       $('.btnSubmit').click(function () {
           $('#alertModal').modal({
               backdrop:'static',
               keyboard: false
           });
       });


   });

   $('.btnYes').click(function () {
       debugger
           $.ajax({
               url:'@Url.Action("SubmitSessionFeedback", "LineManager")',
               type:'Get',
               data:{ID:parseInt($('#SessionID').val())},
               success: function (response) {

                   if (response.Status) {
                       AlertToast("success", response.Message);
                       $('#alertModal').modal('hide');
                       setTimeout(function () {
                           window.location.href='@Url.Action("AllClosedSession", "LineManager")'
                       }, 3000);
                   }
                   else {
                       AlertToast("warninig", response.Message);
                   }
                   
               },
               error: function () {
                   AlertToast("warninig", "Some went wrong.");
               }
           });
       });
</script>
<!---
    
    <form id="rateForm">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rate 1<span class="stericField"> *</span></label>
                                        <div class="form-line">
                                            <input required type="text" id="input-1" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rate 2<span class="stericField"> *</span></label>

                                        <div class="form-line">
                                            <input required type="text" id="input-2" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rate 3<span class="stericField"> *</span></label>
                                        <div class="form-line">

                                            <input required type="text" id="input-3" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="form-label">Rate 4<span class="stericField"> *</span></label>
                                        <div class="form-line">
                                            <input required type="text" id="input-4" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="form-label">Rate 5<span class="stericField"> *</span></label>
                                        <div class="form-line">
                                            <input required type="text" id="input-5" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="form-label">Rate 6<span class="stericField"> *</span></label>
                                        <div class="form-line">
                                            <input required type="text" id="input-6" class="rating" value="" data-min=0 data-max=5 data-step=0.5 title="">
                                        </div>
                                    </div>
                                </div>
                              

                            </div>
                        </div>
                    </div>
                </form>
    -->