﻿
@{
    ViewBag.Title = "Participants In Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("ParticipantsInSession", "LineManager")">Participants in Session</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>

       

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Participants in Session<small></small> </h2>
                    </div>
                </div>
                <div class="body">
                    <div id="sessionGrid" class="cum_grid"></div>

                </div>
            </div>
        </div>
    </div>
    
</section>
<div class="modal fade" id="modal-Confirm-DeleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete this <b>"USER"</b> ?
            </div>
            <div class="modal-footer">
                <button id="btn-DeleteUser" type="button" class="btnDelete btn btn-link waves-effect" onclick="DeleteFromSessionandTraining()">Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>              
            </div>
        </div>
    </div>
</div>
<script>
    var dataDelete = {};
    $(document).ready(function () {
        GetParticpantsInSessionList();
    
    });

    function GetParticpantsInSessionList() {
        $.ajax({
            url: '@Url.Action("GetParticpantsInSessionList", "LineManager")',
            type: 'GET',
            data: {},
            success: function (response) {
               debugger
               if (response.Success) {

                    BindSessionGrid(JSON.parse(response.data));
                }

                else {
                    var DataSource = [];
                    BindSessionGrid(DataSource);
                }

            },
            error: function () { }
        });
    };

    function BindSessionGrid(dataSource) {

        $("#sessionGrid").dxDataGrid({
            dataSource: dataSource,
            columnAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            //export: {
            //    enabled: true,
            //    fileName: "Participants Report"
            //},
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: false, allowSearch: true },
            searchPanel: { visible: true },
            columnFixing: {enabled: true},
            columns: [
                {
                    dataField: "Session_ID",
                    caption: "Action",
                    alignment: "center",
                    fixed: true,
                    allowFiltering: false,
                     cellTemplate: function (container, info) {
                        debugger
                       $("<div>")
                              .append($("<a onclick='showDeleteModal(" + info.data.SP_ID + "," + info.value + "," + info.data.TNA_ID + "," + info.data.Training_ID + "," + info.data.ReporteeID + ")' title='Remove from session'><i class='fa fa-trash'></i></a>"))
                              .appendTo(container);
                   }
                },
                {
                    dataField: "ReporteeName",
                    caption: "Reportee Name",

                },
                 {
                     dataField: "SessionName",
                     caption: "Session Name",
                     alignment: "center",

                 },
                  {
                      dataField: "TNAName",
                      caption: "TNA Name"

                  },
                {
                    dataField: "TrainingName",
                    caption: "Training Name"

                },

                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                },
                {
                    dataField: "EndDate",
                    caption: "End Date",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                },
                {
                    dataField: "StartTime",
                    caption: "Start Time",

                },
                {
                    dataField: "EndTime",
                    caption: "End Time",

                },
            ]
        });
    };


    function showDeleteModal(SP_ID, Session_ID, TNA_ID, Training_ID, Reportee_ID) {
        dataDelete = {};

       $('#modal-Confirm-DeleteUser').modal('show');
       dataDelete = { SPID: SP_ID, SessionID: Session_ID, TNAID: TNA_ID, TrainingID: Training_ID, ReporteeID: Reportee_ID };


    }

    function DeleteFromSessionandTraining() {
      $.ajax({
            url: '@Url.Action("DeleteFromSessionandTraining", "LineManager")',
            type: 'Post',
            data: JSON.stringify(dataDelete),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result, status, xhr) {
                if (result.Success) {
                    AlertToast('success', "User deleted successfully.");
                }
                else {
                    AlertToast('error', "Some thing went wrong try again.");

                }
            },
            error: function (xhr, status, error) {
                AlertToast('error', "Some thing went wrong try again.");
            },
            complete: function (xhr, status) {
                $('#modal-Confirm-DeleteUser').modal('hide');
                GetParticpantsInSessionList();
            }

        });
    }
</script>