﻿
@{
    ViewBag.Title = "AssignedSessionUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 5)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("TrainingCalendar", "Cordinator")">Calendar</a></li>
                                <li class="breadcrumb-item active">Session Participants</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Session Participants</li>
                            }

                            else if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Session Participants</li>
                            }
                        }
                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h3></h3>
                        <h4></h4>
                        <h6 style="color:red"><marquee></marquee> </h6>
                    </div>

                    <div id="popupSessionForm"></div>  <!-- Dev-Extreme Topic Form Model-->

                    <div id="SessionsUsersGrid" class="cum_grid body"></div>
                    <div class="form-group">
                        <div class="row">
                           
                            <div class="col-9">
                                <button type="button" id="btnSubmit" class="input-group-text mb-3 tna_purpl_btn assign-setion-submit"><i class="far fa-paper-plane"></i>&nbsp; Submit</button>  @*Header_Right_Btn*@
                            </div>
                            
                            <div class="col-0">
                                <button id="btn_Closed" type="button" data-toggle="modal" data-target="#ClosedSession" data- class="input-group-text mb-3 tna_purpl_btn assign-setion-submit"><i class="fas fa-times-circle"></i>&nbsp; Close Session</button>
                            </div>
                        </div>
                        
                       
                    </div>
                   

                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade tna_modal" id="ClosedSession" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Closed Session</h4>
            </div>
            <div class="modal-body">
                Are you sure want to closed the Session ?.
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-link waves-effect" data-dismiss="modal"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        GetSessionAssignedUsers();

    });

    
    function GetSessionAssignedUsers() {
        //debugger
        $.ajax({
            url: '@Url.Action("GetSessionAssignedUsers", "Cordinator")',
            //url: "/" + $('#tna_prefix').val() + "/Cordinator/GetSessionAssignedUsers",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                //debugger

                if (response.Status == true) {

                    //var sessionusersData = JSON.parse(response.DataList);
                    $(".header > h3").text(response.DataList[0].SessionName);
                    $(".header > h4").text("Total Participants: " + response.DataList.length);
                    BindGrid_SessionAssignedUsers(response.DataList);
                }
                else {
                    AlertToast('error', response.Message);
                    BindGrid_SessionAssignedUsers(null);

                }

            },
            error: function (xhr) {
                debugger
            }
        });
    }

    function BindGrid_SessionAssignedUsers(DataSource) {
        //debugger
        $("#SessionsUsersGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 10
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            onCellPrepared: function (e) {
                debugger
                if (e.rowType == "data") {
                    if (e.data.SessionClosed) {
                        debugger
                        $("#SessionsUsersGrid").dxDataGrid("instance").option('editing.allowUpdating', false);
                        $("#btnSubmit").attr("disabled", "disabled");
                        $("#btn_Closed").attr("disabled", "disabled");
                        $(".header > h6 > marquee").text("Session is set to closed. You can't modify any thing.");
                    }
                    var today = new Date();
                    if (e.data.StartDate == null && e.data.EndDate==null) {
                        $("#SessionsUsersGrid").dxDataGrid("instance").option('editing.allowUpdating', false);
                        $("#btnSubmit").attr("disabled", "disabled");
                        $("#btn_Closed").attr("disabled", "disabled");
                        $(".header > h6 > marquee").text("You can't give attendance and feedback. Because session date time not set.");
                    }
                    else {
                        if (e.data.PublishEmail==false) {
                            $("#SessionsUsersGrid").dxDataGrid("instance").option('editing.allowUpdating', false);
                            $("#btnSubmit").attr("disabled", "disabled");
                            $("#btn_Closed").attr("disabled", "disabled");
                            $(".header > h6 > marquee").text("You can't give attendance and feedback. Because session publish email not sent to all participants.");
                        }

                        else {
                            if (moment(e.data.StartDate) > today || moment(e.data.EndDate) > today) {
                                $("#SessionsUsersGrid").dxDataGrid("instance").option('editing.allowUpdating', false);
                                $("#btnSubmit").attr("disabled", "disabled");
                                $("#btn_Closed").attr("disabled", "disabled");
                                $(".header > h6 > marquee").text("You can't give attendance and feedback. until when session to end.");
                            }
                        }
                       
                    }
                   
                }
            },
            editing: {
                mode: "cell",
                allowUpdating: true
            },
            columns: [
                {
                    dataField: "UserName",
                    caption: "Employee Name",
                    allowEditing: false,
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "Attendence",
                    caption: "Attendance",
                    dataType: "boolean"
                    //alignment: "center",
                    //width: "auto",
                },
                {
                    dataField: "Feedback",
                    caption: "Feedback",
                    //alignment: "center",
                    //width: "auto",
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                }
            ]
        });
    }



    $("#btnSubmit").click(function () {
        debugger
        $("#SessionsUsersGrid").dxDataGrid("instance").saveEditData();
        var UsersList = $("#SessionsUsersGrid").dxDataGrid("instance").option("dataSource");

        if (UsersList != null)
        {
            if (UsersList.length > 0) {

                var dataList = JSON.stringify(UsersList);

                $.ajax({
                    url: '@Url.Action("SubmitAttendenceFeedback", "Cordinator")',
                    //url: "/" + $('#tna_prefix').val() + "/Cordinator/SubmitAttendenceFeedback",
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    dataType: 'json',
                    data:  dataList,
                    success: function (response) {
                        debugger

                        if (response.Status == true) {

                            //var sessionusersData = JSON.parse(response.DataList);
                            AlertToast('success', response.Message);

                            GetSessionAssignedUsers();
                        }
                        else {
                            AlertToast('error', response.Message);


                        }

                    },
                    error: function (xhr) {
                        debugger
                    }
                });
            }
            else {
                AlertToast('error', 'There are no records for submit.');
            }
        }
    else
        {
            AlertToast('error', 'There are no records for submit.');
        }



    });


    $("#btnClose").click(function () {
        debugger
        var UsersList = $("#SessionsUsersGrid").dxDataGrid("instance").option("dataSource");
        if (UsersList != null)
        {
            $.ajax({
                url: '@Url.Action("CloseSession", "Cordinator")',
                //url: "/" + $('#tna_prefix').val() + "/Cordinator/SubmitAttendenceFeedback",
                //contentType: 'application/json; charset=utf-8',
                type: 'GET',

                success: function (response) {
                    debugger

                    if (response.Status == true) {

                        AlertToast('success', response.Message);
                        GetSessionAssignedUsers();
                    }
                    else {
                        AlertToast('error', response.Message);
                    }
                },
                error: function (xhr) {
                    debugger
                }
            });
        }

        else

        {
            AlertToast('error', 'Session can not closed because no users found.');
        }
    
    });

</script>
