﻿@model TNA_ViewModel.Model.TNA_VM.TopicForm

@{
    int ID = Model.ID;
}

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->

<div class="modal fade" id="TopicModal" data-backdrop="static" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @{

                    if (ID > 0)
                    {
                        <h4 class="modal-title" id="CreateTrainingModalLabel">Edit Topic</h4>
                    }
                    else
                    {
                        <h4 class="modal-title" id="CreateTrainingModalLabel">Create Topic</h4>
                    }
                }
               

            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Message)
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.IsActive)
                @Html.HiddenFor(m => m.Departments)
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Topic Name<span class="stericField"> *</span></label>
                                   

                                    <div class="form-line">
                                      
                                        @Html.TextBoxFor(m => m.TopicName, new { @class = "form-control", @placeholder = "", @validate = "TopicForm", @require = "*Topic Name is required" })
                                       

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Description<span class="stericField"> *</span></label>
                                    
                                    <div class="form-line">
                                       
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control no-resize", @rows = "4", @validate = "TopicForm", @require = "*Description is required" })
                                       

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-float mb-0">
                            
                            <input type="checkbox" id="active" checked="checked" class="chk-col-blue" />
                            @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label" })

                           


                        </div>



                        <div class="form-group  ">
                            <label class="form-label">Departments<span class="stericField"> *</span></label>
                            
                            <div id="DepartmentList"></div>

                        </div>


                        

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @{
                    if (Model.ID > 0)
                    {
                        <button id="btnUpdate" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> SAVE CHANGES</button>
                    }
                    else
                    {
                        <button id="btnSave" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> ADD TOPIC</button>
                    }
                }


                <button type="button" class="btn waves-effect tna_purpl_btn_modal btn_dark" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script>

    var BindDepart = [];
   
    
       
    $(document).ready(function () {
        debugger
        if ($('#ID').val()==0) {
            $("#IsActive").val(true);
        }
       
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {

            if (status == "False") {
                AlertToast("error", message);
            }

        }


        BindDepart = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Departments));
        debugger
        //To Check or Uncheck --> "IsActive Checkbox"
        if($("#IsActive").val() == "True" || $("#IsActive").val() == "true")
        {
            $('#active').prop('checked' , true);
        }
        else
        {
            $('#active').prop('checked' , false);
        }


        //Bind DropDown with Selected and Unselected Values
        if (BindDepart == null)
            GetAllDepartments(null);
        else
            GetAllDepartments(BindDepart);
    });



    //For Topic Form
    function GetAllDepartments(selectedValues) {
        $.ajax({
            url: '@Url.Action("GetAllDepartments", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/GetAllDepartments",
            type: "GET",
            data: {},
            success: function (response) {
                debugger
                LoadDept(response.DepartList, selectedValues);

            },
            error: function (xhr) {
                debugger
            }
        });
    }

    $("#btnSave").click(function () {
        
            $(".cstm_loader").css({
                "display": "block"
            });
   

        SaveTopic();
    });

    //Save Topic
    function SaveTopic() {

        debugger


        if (validate("TopicForm") == true)
        {
            $("#btnSave").attr("disabled","");

            if(BindDepart != null)
            {
                $('#DepartmentList').css('border-color', ''); //DropDown Removing Border Color

                var dataObject = {
                    ID: $("#ID").val(),
                    TopicName: $("#TopicName").val(),
                    Description: $("#Description").val(),
                    IsActive: $("#IsActive").val(),
                    Departments: BindDepart,
                };
                var jsonData = JSON.stringify(dataObject);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Addtopic", "Admin")',
                    //url: "/" + $('#tna_prefix').val() + "/Admin/AddTopic",
                    data: jsonData,
                    processData: false,
                    contentType: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $(".cstm_loader").css({
                            "display": "none"
                        });
                        
                        if (response.Status) {
                            AlertToast('success', response.Message);
                            $("#TopicModal").modal("hide");
                            BindTopicGrid();
                        }
                        else {
                            AlertToast('error', response.Message);
                            $("#btnSave").removeAttr("disabled","");
                            //$("#TopicModal").modal("hide");
                        }


                    }

                });
            }
            else
            {
                $(".cstm_loader").css({
                    "display": "none"
                });
                $('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
                AlertToast('error', 'Please Select Department.');
                $("#btnSave").removeAttr("disabled","");
            }

        }
        else
        {
            $(".cstm_loader").css({
                "display": "none"
            });
            $('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
            AlertToast('error', 'Fill the required fields.');
        }

    }

    $("#btnUpdate").click(function () {
        $(".cstm_loader").css({
            "display": "block"
        });
        UpdateTopic();
    });

    function UpdateTopic()
    {

        if (validate("TopicForm") == true)
        {
            debugger
            $("#btnUpdate").attr("disabled","");

            if(BindDepart != null)
            {
                $('#DepartmentList').css('border-color', ''); //DropDown Removing Border Color
                var dataObject = {
                    ID: $("#ID").val(),
                    TopicName: $("#TopicName").val(),
                    Description: $("#Description").val(),
                    IsActive: $("#IsActive").val(),
                    Departments: BindDepart,
                };
                var jsonData = JSON.stringify(dataObject);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateTopic", "Admin")',
                    //url: "/" + $('#tna_prefix').val() + "/Admin/UpdateTopic",
                    data: jsonData,
                    processData: false,
                    contentType: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $(".cstm_loader").css({
                            "display": "none"
                        });
                        debugger
                        if (response.Status) {
                            AlertToast('success', response.Message);
                            BindTopicGrid();
                            $("#TopicModal").modal("hide");
                        }
                        else {
                            AlertToast('error', response.Message);
                            //$("#TopicModal").modal("hide");
                            $("#btnUpdate").removeAttr("disabled","");

                        }


                    }

                });
            }
            else
            {
                $(".cstm_loader").css({
                    "display": "none"
                });
                $('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
                AlertToast('error', 'Please Select Department.');
                $("#btnUpdate").removeAttr("disabled","");
            }
        }
        else
        {
            $(".cstm_loader").css({
                "display": "none"
            });
            $('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
            AlertToast('error', 'Fill the required fields.');
        }
    }

    $(".form-line").click(function () {
        $(this).addClass("focused");
    })

    $(".form-line").focusout(function () {
        $(this).removeClass("focused");
    })

    $("#active").click(function () {
        var bit = $('#active:checked').length;
        if (bit > 0) {
            $("#IsActive").val(true);
        }
        else {
            $("#IsActive").val(false);
        }
    });

    //////////////
    

    var makeAsyncDataSource = function(dataSource){
        return new DevExpress.data.CustomStore({
            loadMode: "raw",
            key: "ID",
            load: function() {
                return dataSource;
            }
        });
    };


    function LoadDept(dataSource, selectedValues){
        debugger
        var dataGrid;
    
        $("#DepartmentList").dxDropDownBox({
            value: selectedValues,
            valueExpr: "ID",
            placeholder: "Select a value...",
            displayExpr: "DepartmentName",
            showClearButton: true,
            dataSource: makeAsyncDataSource(dataSource),
            contentTemplate: function(e){
                var value = e.component.option("value"),
                    $dataGrid = $("<div>").dxDataGrid({
                        dataSource: e.component.option("dataSource"),
                        columns: ["DepartmentName"],
                        hoverStateEnabled: true,
                        paging: { enabled: true, pageSize: 20 },
                        filterRow: { visible: true },
                        scrolling: { mode: "infinite" },
                        height: "100%",
                        selection: {mode: "multiple",showCheckBoxesMode:'always'
                        },
                        selectedRowKeys: value,
                        onSelectionChanged: function(selectedItems){
                            var keys = selectedItems.selectedRowKeys;
                            BindDepart = keys;
                            e.component.option("value", keys);
                        }
                    });
            
                dataGrid = $dataGrid.dxDataGrid("instance");
            
                e.component.on("valueChanged", function(args){
                    var value = args.value;
                    dataGrid.selectRows(value, false);
                });
            
                return $dataGrid;
            }
        });
    }

    /////////////

    //DropDown MultiSelect DevExtreme
    //START
    //function DDMulti_Department(dataSource, selectedValues) {

    //    var makeAsyncDataSource = function () {
    //        return new DevExpress.data.CustomStore({
    //            loadMode: "raw",
    //            key: "ID",
    //            load: function () {
    //                return dataSource;
    //            }
    //        });
    //    };

    //    $("#DepartmentList").dxDropDownBox({
    //        value: selectedValues,
    //        valueExpr: "ID",
    //        deferRendering: false,
    //        placeholder: "Select a value...",
    //        showClearButton: true,
    //        //cssclass: "form-control frm-cstm",
    //        displayExpr: "DepartmentName",
    //        //displayExpr: function (item) {
    //        //    return item.kol.trim();
    //        //},
    //        showClearButton: true,
    //        dataSource: makeAsyncDataSource(),
    //        contentTemplate: function (e) {
    //            var value = e.component.option("value"),
    //                $dataGrid = $("<div>").dxDataGrid({
    //                    dataSource: e.component.option("dataSource"),
    //                    columns: ["DepartmentName"],
    //                    filterRow: { visible: true },
    //                    scrolling: { mode: "infinite" },
    //                    selection: { mode: "multiple" },
    //                    selectedRowKeys: value,
    //                    height: "100%",
    //                    onSelectionChanged: function (selectedItems) {
    //                        var keys = selectedItems.selectedRowKeys;
    //                        BindDepart = keys;
    //                        e.component.option("value", keys);
    //                    }
    //                });

    //            dataGrid = $dataGrid.dxDataGrid("instance");

    //            e.component.on("valueChanged", function (args) {
    //                var value = args.value;
    //                dataGrid.selectRows(value, false);
    //            });

    //            return $dataGrid;
    //        }
    //    });
    //}
    //END


</script>
