﻿@model TNA_ViewModel.Model.TNA_VM.TrainingForm

@* Bootstrap Topic Modal *@
<div class="modal fade" id="TrainingModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateTrainingModalLabel">Training Form</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Message)
                @Html.HiddenFor(m => m.IsActive)
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TrainingName, new { @class = "form-label" })

                            <div class="form-line">
                                @Html.TextBoxFor(m => m.TrainingName, new { @class = "form-control", @placeholder = "" })
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="form-label">Topic</label>

                            <div class="form-line">
                                <div id="TopicsList"></div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="form-label">Type</label>

                            <div class="form-line">
                                <div id="TypeList"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Course Owner</label>

                            <div class="form-line">
                                <div id="CourseOwnerList"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control no-resize", @rows = "4" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Mode</label>

                            <div class="form-line">
                                <div id="ModeList"></div>
                            </div>
                        </div>

                        <div class="">
                            <label class="form-label">Attachments</label><br />
                            <input id="trainingFiles" type="file" name="" multiple class="btn btn  btn-raised bg-red  waves-effect" />
                        </div>

                        <div class="form-group">

                            <label class="form-label">Course Material</label>

                            <div class="form-line">
                                <div id="CourseMaterialList"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.iLearnURL, new { @class = "form-label" })
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.iLearnURL, new { @class = "form-control no-resize", @rows = "4" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CostPer, new { @class = "form-label" })
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.CostPer, new { @class = "form-control no-resize", @rows = "4" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Days, new { @class = "form-label" })
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.Days, new { @class = "form-control no-resize", @rows = "4" })

                            </div>
                        </div>

                        <div class="form-group form-float">
                            <input type="checkbox" id="active" checked="true" class="chk-col-blue" />
                            @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label" })
                        </div>



                        @*<div class="form-group  ">
                                <label class="form-label">Departments</label>
                                <div id="DepartmentList"></div>

                            </div>


                            <div class="">
                                <label class="form-label">Files</label><br />
                                <input id="trainingFiles" type="file" name="" multiple class="btn btn  btn-raised bg-red  waves-effect" />
                            </div>*@

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @{
                    if (Model.ID > 0)
                    {
                        <button id="btnUpdate" type="button" class="btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Sava Changes</button>
                    }
                    else
                    {
                        <button id="btnSave" type="button" class="btn btn-link waves-effect bg-red"><i class="far fa-paper-plane"></i> Add Topic</button>
                    }
                }


                <button type="button" class="btn btn-link waves-effect bg-grey color-black ml-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(".form-line").click(function () {
        $(this).addClass("focused");
    })

    $(".form-line").focusout(function () {
        $(this).removeClass("focused");
    })

    $("#active").click(function () {
        var bit = $('#active:checked').length;
        if (bit > 0) {
            $("#IsActive").val(true);
        }
        else {
            $("#IsActive").val(false);
        }
    })
</script>
