﻿@model TNA_ViewModel.Model.TNA_VM.UserForm


<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
@* Bootstrap Topic Modal *@

<div class="modal fade" id="UserModal" data-backdrop="static" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateTrainingModalLabel">User Form</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Message)
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.IsActive)
                @Html.HiddenFor(m => m.DepartmentID)
                @Html.HiddenFor(m => m.RoleID)
                @Html.HiddenFor(m => m.TypeID)
                @Html.HiddenFor(m => m.Geography)
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class = "form-label">LoginID<span class="stericField"> *</span></label>
                                    @*@Html.LabelFor(m => m.LoginID, "LoginID *", new { @class = "form-label" })*@
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*LoginID is required." })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Full Name<span class="stericField"> *</span></label>
                                    @*@Html.LabelFor(m => m.FullName, new { @class = "form-label" })*@
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*FullName is required.", @readonly = "true", @disabled = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Department<span class="stericField"> *</span></label>
                                   
                                    <div id="DepartmentList"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Line Manager<span class="stericField"> *</span></label>

                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.LineManagerName, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*LineManager Name is required.", @readonly = "true", @disabled = "" })
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Employee ID<span class="stericField"> *</span></label>
                                    @*@Html.LabelFor(m => m.EmployeeID, new { @class = "form-label" })*@
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.EmployeeID, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*EmployeeID is required.", @readonly = "true", @disabled = "" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email<span class="stericField"> *</span></label>
                                    @*@Html.LabelFor(m => m.Email, new { @class = "form-label" })*@
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*Email is required.", @readonly = "true", @disabled = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Role<span class="stericField"> *</span></label>
                                    <div id="RoleList"></div>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Type<span class="stericField"> *</span></label>                                    
                                    <div id="TypeList"></div>
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                @* For Trainer Geography *@
                                <div class="form-group">
                                    <label class="form-label">Area<span class="stericField"> *</span></label>
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @placeholder = "", @validate = "UserForm", @require = "*Location Name is required.", @readonly = "true", @disabled = "" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-0 form-float">
                                    <input type="checkbox" id="active" checked="true" class="chk-col-blue" />
                                    @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @{
                    if (Model.ID > 0)
                    {
                        <button id="btnUpdate" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> SAVE CHANGES</button>
                    }
                    else
                    {
                        <button id="btnSave" type="button" class="btn waves-effect tna_purpl_btn_modal"><i class="far fa-paper-plane"></i> ADD USER</button>
                    }
                }


                <button type="button" class="btn waves-effect tna_purpl_btn_modal btn_dark" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>



<script>
    var BindGeography = [];


    $(document).ready(function(){
      
        debugger;
        //For toaster
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {

            if (status == "False") {
                AlertToast("error", message);
            }

        }





        $("#active").click(function () {
            var bit = $('#active:checked').length;
            if (bit > 0) {
                $("#IsActive").val(true);
            }
            else {
                $("#IsActive").val(false);
            }
        });
        if ($('#ID').val()==0) {
            $("#IsActive").val(true);
        }

        //To Check or Uncheck --> "IsActive Checkbox"
        if($("#IsActive").val() == "True" || $("#IsActive").val() == "true" )
        {
            $('#active').prop('checked' , true);
        }
        else
        {
            $('#active').prop('checked' , false);
        }


        $(".form-line").click(function () {
            $(this).addClass("focused");
        })

        $(".form-line").focusout(function () {
            $(this).removeClass("focused");
        })


        if(@Model.ID > 0)
        {
            $("#LoginID").attr("disabled","");
            BindGeography = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Geography));

            getAllRoles(@Model.RoleID);
            getAllTypes(@Model.TypeID);
            getAllDepartments(@Model.DepartmentID);
            getAllAreaGeography(BindGeography);

            setTimeout(function () {
                DisableSelectBox("DepartmentList", true);
                if(@Model.RoleID != 4)
                {
                    //DisableSelectBox("TypeList", true);
                    DisableDropDown("AreaList", true);
                }

            }, 2000);
        }
        else
        { 
           
            getAllRoles(null);
            getAllTypes(null);
            getAllDepartments(null);
            getAllAreaGeography(BindGeography);

            setTimeout(function () {
                DisableSelectBox("DepartmentList", true);
               // DisableSelectBox("TypeList", true);
                DisableDropDown("AreaList", true);
            }, 2000);

        }


    });



    //Authenticate User with LoginID

    $("#LoginID").focusout(function(){
        //debugger
        var loginID = $("#LoginID").val();

        if(loginID == "")
        {
            AlertToast('error', "Please enter login id field.");
        }
        else
        {
            $.ajax({
                url: '@Url.Action("ValidateUser", "Admin")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/ValidateUser",
                type: "GET",
                data: {
                    LoginID: loginID
                },
                success: function (response) {
                    debugger
                    if (response.Status) {
                        AlertToast('success', response.Message);
                        $('#LoginID').css('border',''); //Input Field
                        //$('#LoginID').css('border-color', ''); //DropDown Removing Border Color
                        getAllDepartments(response.DepartmentID);
                        $('#EmployeeID').val(response.EmployeeID);
                        $('#FullName').val(response.FullName);
                        $('#LineManagerName').val(response.LineManagerName);
                        $('#Email').val(response.Email);
                        $('#Location').val(response.Location); 
                        
                        setTimeout(function () {
                            DisableSelectBox("DepartmentList", true);
                        }, 2000);
                    }
                    else {
                        AlertToast('error', response.Message);
                        //$('#LoginID').css('border-color', '#a94442'); //DropDown Border Color to Red
                        $('#LoginID').css('border','1px solid #a94442'); //Input Field
                        getAllDepartments(null);
                        $('#EmployeeID').val(response.EmployeeID);
                        $('#LineManagerName').val(response.LineManagerName);
                        $('#FullName').val(response.FullName);
                        $('#Email').val(response.Email);
                        $('#Location').val(response.Location); 
                        setTimeout(function () {
                            DisableSelectBox("DepartmentList", true);
                        }, 2000);
                    }

                },
                error: function (xhr) {
                    debugger
                }
            });
        }


    });


    $("#btnSave").click(function(){
        debugger


        if (validate("UserForm") == true)
        {

                var dataObject = {
                    ID: $("#ID").val(),
                    LoginID: $("#LoginID").val(),
                    FullName: $("#FullName").val(),
                    RoleID: $("#RoleID").val(),
                   // TypeID: getSelectBoxSelectedValue("TypeList"),
                    Email: $("#Email").val(),
                    EmployeeID: $("#EmployeeID").val(),
                    DepartmentID: getSelectBoxSelectedValue("DepartmentList"),
                    HarmonyID: $("#HarmonyID").val(),
                    WorkdayID: $("#WorkdayID").val(),
                    IsActive: $("#IsActive").val(),
                    Geography: BindGeography,
                    Location:$("#Location").val(),
                };

                var jsonData = JSON.stringify(dataObject);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddUser", "Admin")',
                    //url: "/" + $('#tna_prefix').val() + "/Admin/AddUser",
                    data: jsonData,
                    processData: false,
                    contentType: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response.Status) {
                            AlertToast('success', response.Message);
                            $("#UserModal").modal("hide");
                            BindUsersGrid();
                        }
                        else {
                            AlertToast('error', response.Message);
                            //$("#TopicModal").modal("hide");
                        }


                    }

                });

        }
        else
        {
            //$('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
            AlertToast('error', 'Fill the required fields.');
        }
    });

    $("#btnUpdate").click(function(){
        debugger


        if (validate("UserForm") == true)
        {

            var dataObject = {
                ID: $("#ID").val(),
                LoginID: $("#LoginID").val(),
                FullName: $("#FullName").val(),
                RoleID: $("#RoleID").val(),
              //  TypeID: getSelectBoxSelectedValue("TypeList"),
                Email: $("#Email").val(),
                EmployeeID: $("#EmployeeID").val(),
                DepartmentID: getSelectBoxSelectedValue("DepartmentList"),
                HarmonyID: $("#HarmonyID").val(),
                WorkdayID: $("#WorkdayID").val(),
                IsActive: $("#IsActive").val(),
                Geography: BindGeography,
                Location:$("#Location").val(),
            };

            var jsonData = JSON.stringify(dataObject);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateUser", "Admin")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/UpdateUser",
                data: jsonData,
                processData: false,
                contentType: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger
                    if (response.Status) {
                        AlertToast('success', response.Message);
                        $("#UserModal").modal("hide");
                        BindUsersGrid();
                    }
                    else {
                        AlertToast('error', response.Message);
                        //$("#TopicModal").modal("hide");
                    }


                }

            });

        }
        else
        {
            //$('#DepartmentList').css('border-color', '#a94442'); //DropDown Border Color to Red
            AlertToast('error', 'Fill the required fields.');
        }
    });









</script>