﻿@model TNA_ViewModel.Model.TNA_VM.TrainingForm
@{
    ViewBag.Title = "AddTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}
<script src="~/Scripts/Training.js"></script>

@*<h2>AddTraining</h2>*@
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home ">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                if (@Convert.ToInt32(Model.ID) > 0)
                                {
                                    <li class="breadcrumb-item active">Edit Training</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item active">Add Training</li>
                                }
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                if (@Convert.ToInt32(Model.ID) > 0)
                                {
                                    <li class="breadcrumb-item active">Edit Training</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item active">Add Training</li>
                                }
                            }
                        }
                      

                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
            @if (@Convert.ToInt32(Model.ID) > 0)
            {
               <h2> Edit Training <small></small> </h2>
            }
            else
            {
                <h2> Add Training <small></small> </h2>
            }


                    </div>
                    @*<form>*@
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.Message)
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.IsActive)
                    @Html.HiddenFor(m => m.Attachments)
                    @Html.HiddenFor(m => m.CourseMaterial)
                    @Html.HiddenFor(m => m.TopicID)
                    @Html.HiddenFor(m => m.CourseOwnerID)
                    @Html.HiddenFor(m => m.ModeID)
                    @Html.HiddenFor(m => m.TypeID)
                    <div class="col-md-12">
                        <div class="row clearfix">

                            <div class="form-group col-md-4">
                                @*@Html.LabelFor(m => m.TrainingName, new { @class = "form-label" })*@
                                <label class="form-label">Training Name<span class="stericField"> *</span></label>
                                <div class="tna_txtbox p-0">
                                    @Html.TextBoxFor(m => m.TrainingName, new { @class = "form-control", @placeholder = "", @validate = "TrainingForm", @require = "*TrainingName is required" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">

                                <label class="form-label">Select Topic<span class="stericField"> *</span></label>

                                <div class="">
                                    <div id="TopicsList" class=""></div>
                                </div>
                            </div>


                            @*<div class="form-group col-md-4">
                                <label class="form-label">Type<span class="stericField"> *</span></label>

                                <div class="">
                                    <div id="TypeList"></div>
                                </div>
                            </div>*@

                            <div class="form-group col-md-4">
                                <label class="form-label">Course Owner<span class="stericField"> *</span></label>

                                <div class="">
                                    <div id="CourseOwnerList"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @*@Html.LabelFor(m => m.Description, new { @class = "form-label" })*@
                                <label class="form-label">Description</label>
                                <div class="form-line">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control no-resize", @rows = "4"})

                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @*<label class="form-label">Mode</label>*@
                                <label class="form-label">Mode<span class="stericField"> *</span></label>
                                <div class="">
                                    <div id="ModeList"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Limit for L.M<span class="stericField"> *</span></label>
                                <div class="form-line">
                                    @Html.TextBoxFor(m => m.LM_Limit, new { @class = "form-control no-resize", @onkeypress = "allowNumbersOnly(event)", @onpaste = "return false;", @validate = "TrainingForm", @require = "*Limit is required" })

                                </div>
                            </div>


                            <div class="form-group col-md-4">

                                @*<label class="form-label">Course Material</label>*@
                                <label class="form-label">Course Material<span class="stericField"> *</span></label>
                                <div class="">
                                    <div id="CourseMaterialList"></div>
                                </div>
                            </div>
                           
                            <div class="form-group col-md-4">
                                @*@Html.LabelFor(m => m.iLearnURL, new { @class = "form-label" })*@
                                <label class="form-label">iLearnURL</label>
                                  <div class="form-line">
                                    @Html.TextBoxFor(m => m.iLearnURL, new { @class = "form-control no-resize" })

                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                @Html.Label("Total Cost", new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.TextBoxFor(m => m.CostPer, new { @class = "form-control no-resize", @onkeypress = "allowNumbersOnly(event)", @onpaste = "return false;"})

                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                @Html.Label("Length of training", new { @class = "form-label" })
                                <div class="form-line">
                                    @*@Html.TextBoxFor(m => m.Days, new { @class = "form-control no-resize", @type = "number", @onpaste = "return false;", @validate = "TrainingForm", @require = "*Days is required" })*@
                                    @Html.TextBoxFor(m => m.Days, new { @class = "form-control no-resize", @onkeypress = "allowNumbersOnly(event)", @onpaste = "return false;" })

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="">
                                    <input id="trainingFiles" type="file" name="" multiple class="btn btn  btn-raised bg-red  waves-effect tna_purpl_btn mt-0" />
                                </div>
                                <div class="file-wrap">

                                </div>
                            </div>

                            <div class="form-group form-float col-md-6">
                                <input type="checkbox" id="active" class="chk-col-blue" />
                                @Html.LabelFor(m => m.IsActive, new { @for = "active", @class = "form-label" })
                            </div>
                                                      

                        </div>
                        <div class="col-md-12 text-right">
                            @{
                                if (Model.ID > 0)
                                {
                                    <button id="btnUpdate" trainingid="@Model.ID" type="button" class="btn btn-raised bg-red  waves-effect p-3 tna_purpl_btn"><i class="far fa-paper-plane"></i> Save Changes</button>
                                }
                                else
                                {
                                    <button id="btnSave" trainingid="@Model.ID" type="button" class="btn btn-raised bg-red  waves-effect p-3 tna_purpl_btn"><i class="far fa-paper-plane"></i> Add Training</button>
                                }
                            }

                            <button type="button" id="btnReset" class="btn btn-raised bg-grey ml-2  waves-effect p-3">Reset Text</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>



<script>

    var BindAttachments = [];
    var BindCourseMaterial = [];

    $(document).ready(function () {
        
        setTimeout(function () {
            applyValidation();
        }, 3000);

        //For toaster
        var status = $("#Status").val();
        var message = $("#Message").val();

        if (status != "" && message != "") {

            if (status == "False") {
                AlertToast("error", message);
            }

        }


        var id = @Convert.ToInt32(Model.ID);

        if(id > 0)
        {

            debugger
            if($("#IsActive").val() === "True" || $("#IsActive").val()==="true"  )
            {
                $('#active').attr('checked' , true);
            }
            else
            {
                $('#active').attr('checked' , false);
            }

            topicid = parseInt($("#TopicID").val());
            typeid = parseInt($("#TypeID").val());
            modeid = parseInt($("#ModeID").val());
            courseownerid = parseInt($("#CourseOwnerID").val());
            if (@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Attachments))==null) {
                BindAttachments =[];
            }
            else {
                BindAttachments=  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Attachments));
            }
          
            BindCourseMaterial = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CourseMaterial));

            if(topicid != "")
                getAllTopics(topicid);
            else
                getAllTopics(null);

            //if(typeid != "")
            //    getAllTypes(typeid);
            //else
            //    getAllTypes(null);

            //For Mode SelectBox
            if(modeid != "")
                getAllModes(modeid);
            else
                getAllModes(null);

            //For CourseOwner SelectBox
            if(courseownerid != "")
                getAllCourseOwner(courseownerid);
            else
                getAllCourseOwner(null);

            getAllCourseMaterial(BindCourseMaterial);
            showSelectedFiles(BindAttachments);

            //To Check or Uncheck --> "IsActive Checkbox"


        }
        else
        {
            $("#IsActive").val(true);
            $('#active').prop('checked' , true);
            $("#CostPer").val("");
            $("#Days").val("");
            $("#LM_Limit").val("");

            getAllTopics(null); //Bind SelectBox for Topics
            //getAllTypes(null); //Bind SelectBox for Types
            getAllCourseOwner(null); //Bind SelectBox for Course Owner
            getAllModes(null); //Bind SelectBox for Modes
            getAllCourseMaterial(null); //Bind SelectBox for Course Material
            showSelectedFiles(BindAttachments); //Bind The Selected Files
        }


    });


    //Only enter numeric value in TextBox
    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }




    $("#btnReset").click(function(){
        debugger

        $("#ID").val(0);
        $("#TopicID").val("");
        $("#TrainingName").val("");
        $("#CourseOwnerID").val("");
        $("#ModeID").val("");
        //$("#TypeID").val("");
        $("#iLearnURL").val("");
        $("#Description").val("");
        $("#CostPer").val(0);
        $("#Days").val(0);
        $("#IsActive").val(false);
        $("#Attachments").val(null);
        $("#CourseMaterial").val(null);
        BindAttachments = [];
        BindCourseMaterial = [];
        getAllTopics(null); //Bind SelectBox for Topics
        getAllTypes(null); //Bind SelectBox for Types
        getAllCourseOwner(null); //Bind SelectBox for Course Owner
        getAllModes(null); //Bind SelectBox for Modes
        getAllCourseMaterial(null); //Bind SelectBox for Course Material
        showSelectedFiles(BindAttachments); //Bind The Selected Files
    })

    //For Applying  Validation
    function applyValidation()
    {

        //For Topic SelectBox
        $("#TopicsList").find(".dx-texteditor-input").attr('validate', 'TrainingForm');
        $("#TopicsList").find(".dx-texteditor-input").attr('require', '*Please Select Topics');
        //For Type SelectBox
        $("#TypeList").find(".dx-texteditor-input").attr('validate', 'TrainingForm');
        $("#TypeList").find(".dx-texteditor-input").attr('require', '*Please Select Type');
        //For Course Owner SelectBox
        $("#CourseOwnerList").find(".dx-texteditor-input").attr('validate', 'TrainingForm');
        $("#CourseOwnerList").find(".dx-texteditor-input").attr('require', '*Please Select Course Owner');
        //For Mode SelectBox
        $("#ModeList").find(".dx-texteditor-input").attr('validate', 'TrainingForm');
        $("#ModeList").find(".dx-texteditor-input").attr('require', '*Please Select Mode');
        //For Course Material SelectBox
        //$("#CourseMaterialList").find(".dx-texteditor-input").attr('validate', 'TrainingForm');
        //$("#CourseMaterialList").find(".dx-texteditor-input").attr('require', '*Please Select Course Material');
    }




    //For Upload Multiple Files
    $("#trainingFiles").change(function(e){
        debugger



        //for (var i = 0; i < e.target.files.length; i++) {
        //    var fileName = e.target.files[i].name;
        //    var isExsist = ValueExsist(fileName,BindAttachments);

        //    if(!isExsist)
        //    {
        //        BindAttachments.push(fileName);
        //    }
        //}

        var attachData = new FormData();
        var attachmentFiles =e.target.files;

        for (var i = 0; i < attachmentFiles.length; i++) {
            attachData.append(attachmentFiles[i].name, attachmentFiles[i]);
        }



        if(attachmentFiles.length > 0)
        {
            // Post and Save Files to Server
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadDocuments", "Admin")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/UploadDocuments",
                contentType: false,
                processData: false,
                data: attachData,
                success: function (result) {
                    debugger
                    if(result.Status)
                    {
                        BindAttachments = $.merge(BindAttachments,result.filesArray);
                        showSelectedFiles(BindAttachments);
                    }
                },
                error: function (xhr) {
                    debugger
                }
            });

        }

        // Bind Selected Files
        //showSelectedFiles(BindAttachments);
    });



    //For Save Training
    $("#btnSave").click(function(){

        SaveTraining();
    })

    function SaveTraining()
    {
        //debugger
        if (validate("TrainingForm") == true)
        {
            $("#btnSave").attr("disabled","");

            debugger
            var dataObject = {
                ID: $("#ID").val(),
                TopicID: $("#TopicID").val(),
                TrainingName: $("#TrainingName").val(),
                CourseOwnerID: $("#CourseOwnerID").val(),
                Description: $("#Description").val(),
                ModeID: $("#ModeID").val(),
                iLearnURL: $("#iLearnURL").val(),
                //TypeID: $("#TypeID").val(),
                CostPer: $("#CostPer").val(),
                Days: $("#Days").val(),
                IsActive: $("#IsActive").val(),
                CourseMaterial: BindCourseMaterial,
                Attachments: BindAttachments,
                LM_Limit:$("#LM_Limit").val()
                //filesattachment : attachData

            };
            var jsonData = JSON.stringify(dataObject);

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateTraining", "Admin")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/CreateTraining",
                data: jsonData,
                processData: false,
                contentType: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger
                    if (response.Status) {
                        AlertToast('success', response.Message);

                        setTimeout(function () {
                            window.location.href = '@Url.Content("~/Admin/Trainings")'
                            //window.location.href = "/"+ $('#tna_prefix').val() +"/Admin/Trainings"
                        }, 3000);

                    }
                    else {
                        $("#btnSave").removeAttr("disabled","");
                        AlertToast('error', response.Message);

                    }
                }

            });

        }
        else
        {
            AlertToast('error', 'Fill the required fields.');
        }
    }

    $("#active").click(function () {
        var bit = $('#active:checked').length;
        if (bit > 0) {
            $("#IsActive").val(true);
        }
        else {
            $("#IsActive").val(false);
        }
    })


    //For Update Training
    $("#btnUpdate").click(function(){
        debugger
        UpdateTraining();
    })

    function UpdateTraining()
    {
        debugger
        if (validate("TrainingForm") == true)
        {

            $("#btnUpdate").attr("disabled","");
            //if(BindDepart != null)
            //{
            //$('#DepartmentList').css('border-color', ''); //DropDown Removing Border Color


            debugger
            var dataObject = {
                ID: $("#ID").val(),
                TopicID: $("#TopicID").val(),
                TrainingName: $("#TrainingName").val(),
                CourseOwnerID: $("#CourseOwnerID").val(),
                Description: $("#Description").val(),
                ModeID: $("#ModeID").val(),
                iLearnURL: $("#iLearnURL").val(),
                //TypeID: $("#TypeID").val(),
                CostPer: $("#CostPer").val(),
                Days: $("#Days").val(),
                IsActive: $("#IsActive").val(),
                CourseMaterial: BindCourseMaterial,
                Attachments: BindAttachments,
                //filesattachment : attachData

            };
            var jsonData = JSON.stringify(dataObject);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateTraining", "Admin")',
                //url: "/" + $('#tna_prefix').val() + "/Admin/UpdateTraining",
                data: jsonData,
                processData: false,
                contentType: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger
                    if (response.Status) {
                        AlertToast('success', response.Message);

                        setTimeout(function () {
                            window.location.href = '@Url.Content("~/Admin/Trainings")'
                            //window.location.href = "/"+ $('#tna_prefix').val() +"/Admin/Trainings"
                        }, 3000);

                    }
                    else {
                        AlertToast('error', response.Message);

                    }

                    $("#btnUpdate").attr("disabled",false);
                }

            });

        }
        else
        {
            AlertToast('error', 'Fill the required fields.');
            $("#btnUpdate").attr("disabled",false);
        }
    }

    //$(window).on('load', function () {
    //    setTimeout(function(){
    //        $(".cstm_loader").css({
    //            "display": "none"
    //        });
    //    },1200)
       
    //});
</script>
