﻿
@{
    ViewBag.Title = "Calendar Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}


<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Calendar Report</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Calendar Report</li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Calendar Report<small></small> </h2>

                    </div>
                    <div class="container cstm-container">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Start Date</label>
                                <div id="StartDate"></div>
                            </div>
                            <div class="col-md-5">
                                <label>End Date</label>
                                <div id="EndDate"></div>
                            </div>
                            <div class="col-md-2 sec-btn" style="margin-top:18px">
                              
                                <button type="button" id="btnReport" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">Report</button>
                            </div>
                        </div>
                    </div>



                </div>
                <div id="calendarReportGrid" class="cum_grid body"></div>


            </div>
        </div>
    </div>

</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>
    var StartDate;
    var EndDate;
    $(document).ready(function () {

        GetReport(null, null);
        var now = new Date();
        StartDate = $("#StartDate").dxDateBox({
           // value: now,
            width: "100%",
            placeholder: "Select Start Date",
            displayFormat: "dd/MM/yyyy",
     showClearButton: true,
            onValueChanged: function (data) {
                EndDate.option("min", StartDate._options.value);
            }
        }).dxDateBox("instance");
        EndDate = $("#EndDate").dxDateBox({
          //  value: now,
            width: "100%",
            placeholder: "Select End Date",
            displayFormat: "dd/MM/yyyy",
            min: StartDate._options.value,
            showClearButton: true,
            onValueChanged: function (data) {

            }
        }).dxDateBox("instance");
        //BindReportGrid(null);
    });






    $('#btnReport').click(function () {
        debugger
   
            if (EndDate._options.validationError != null || StartDate._options.validationError != null) {
                if (StartDate._options.validationError != null) {
                    AlertToast('error', StartDate._options.validationError.message);
                }
                if (EndDate._options.validationError != null) {
                    AlertToast('error', EndDate._options.validationError.message);
                }

            } else {
                StartDate._options.value
                GetReport(moment(StartDate._options.value).format('LLLL'), moment(EndDate._options.value).format('LLLL'));
            }
        


    });

    function GetReport(startdate,enddate) {
        $.ajax({
            url: '@Url.Action("GetSessionbyStartandEndDate", "Admin")',
            type: 'GET',
            data: { Startdate: startdate, Enddate: enddate },
            async: false,
            success: function (response) {
                if (response.Success) {
                    debugger
                    BindReportGrid(JSON.parse(response.jsonList));
                }


                else {
                    AlertToast('error', response.Message);
                    BindReportGrid(null);
                }
            },
            error: function () { }
        });
    };

    function BindReportGrid(dataSource) {

        $("#calendarReportGrid").dxDataGrid({
            dataSource: dataSource,
            columnAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            export: {
                enabled: true,
                fileName: "Trainer Report"
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: true, allowSearch: true },
            searchPanel: { visible: true },
            columns: [
                {
                    dataField: "TnaName",
                    caption: "TNA Name",
                    alignment: "left"
                },
                {
                    dataField: "TrainingName",
                    caption: "Training Name",

                    alignment: "left"
                },
                 {
                     dataField: "TopicName",
                     caption: "Topic Name",

                     alignment: "left"
                 },
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    

                    alignment: "left"
                },
                 {
                     dataField: "NoOfParticipants",
                     caption: "No Of Participants",

                     alignment: "left"
                 },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    alignment: "left",
                    dataType: "date",
                    format:"dd/MM/yyyy",
                },
                 {
                     dataField: "EndDate",
                     caption: "EndDate",
                     alignment: "center",
                     dataType: "date",
                     alignment: "left",
                     format:"dd/MM/yyyy",
                 },
                {
                    dataField: "S_StartTime",
                    caption: "Start Time",
                    alignment: "left",

                },
                {
                    dataField: "S_EndTime",
                    caption: "End Time",
                    alignment: "center",
                    alignment: "left"
                },
                 {
                     dataField: "Trainer",
                     caption: "Trainer Name",
                     alignment: "center",
                     alignment: "left",

                 },

            ]
        });
    };




</script>

