﻿
@{
    ViewBag.Title = "EmailManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="~/Scripts/ckeditor.js"></script>
<script src="~/Scripts/sample.js"></script>
<link href="~/Scripts/samples.css" rel="stylesheet" />
<link href="~/Scripts/neo.css" rel="stylesheet" />*@

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    @*<h2>Topics</h2>*@
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Email Managemnt</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> Email Management <small></small> </h2>
                    </div>


                    <input id="ID_0" type="hidden" />
                    <input id="ID_1" type="hidden" />
                    <input id="ID_2" type="hidden" />

                    <div class="body">
                        <div class="container">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="Email1">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEmail1" aria-expanded="true" aria-controls="collapseEmail1">
                                                <h5><strong>Email 01 : </strong>Email to line managers when TNA initiate</h5>
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseEmail1" class="collapse " aria-labelledby="Email1" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 01 : </strong>Email to line managers when TNA initiate</h5>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-1')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[TNAName]</li>
                                                            <li>[DepartmentName]</li>
                                                            <li>[TrainingList]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email2">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail2" aria-expanded="false" aria-controls="collapseEmail2">
                                                <h5><strong>Email 02 : </strong>Email to training lead on last submission date</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail2" class="collapse" aria-labelledby="Email2" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 02 : </strong>Email to training lead on last submission date</h5>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-2')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[LastDate]</li>
                                                            <li>[TrainingName]</li>
                                                           

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email3">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail3" aria-expanded="false" aria-controls="collapseEmail3">
                                                <h5><strong>Email 03 : </strong>Email to trainer/co-ordinate when trainer assigned in session</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail3" class="collapse" aria-labelledby="Email3" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 03 : </strong>Email to trainer/co-ordinate when trainer assigned in session</h5>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-3')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[SessionName]</li>                                                           
                                                            <li>[TrainingName]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email4">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail4" aria-expanded="false" aria-controls="collapseEmail4">
                                                <h5><strong>Email 04 : </strong>Email to participants when session published</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail4" class="collapse" aria-labelledby="Email4" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 04 : </strong>Email to participants when session published</h5>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-4')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[TrainingName]</li>
                                                            <li>[TrainerName]</li>
                                                            <li>[Venue]</li>
                                                            <li>[StartDate]</li>
                                                            <li>[EndDate]</li>
                                                            <li>[StartTime]</li>
                                                            <li>[EndTime]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email5">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail5" aria-expanded="false" aria-controls="collapseEmail5">
                                                <h5><strong>Email 05 : </strong>Email to participants when session cancelled</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail5" class="collapse" aria-labelledby="Email5" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 05 : </strong>Email to participants when session cancelled</h5>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-5')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[SessionName]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email6">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail6" aria-expanded="false" aria-controls="collapseEmail6">
                                                <h5><strong>Email 06 : </strong>Email to participant when remove from session</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail6" class="collapse" aria-labelledby="Email6" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 06 : </strong>Email to participant when remove from session</h5>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-6')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[TrainingName]</li>
                                                            <li>[TrainerName]</li>
                                                            <li>[Venue]</li>
                                                            <li>[StartDate]</li>
                                                            <li>[EndDate]</li>
                                                            <li>[StartTime]</li>
                                                            <li>[EndTime]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email7">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail7" aria-expanded="false" aria-controls="collapseEmail7">
                                                <h5><strong>Email 07 : </strong>Email to participant when session closed for feedback against trainer</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail7" class="collapse" aria-labelledby="Email7" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 07 : </strong>Email to participant when session closed for feedback against trainer</h5>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-7')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[TrainingName]</li>
                                                            <li>[TrainerName]</li>
                                                            <li>[Venue]</li>
                                                            <li>[StartDate]</li>
                                                            <li>[EndDate]</li>
                                                            <li>[StartTime]</li>
                                                            <li>[EndTime]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="Email8">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEmail8" aria-expanded="false" aria-controls="collapseEmail8">
                                                <h5><strong>Email 08 : </strong>Email to line managers on session closed for feedback against participants</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseEmail8" class="collapse" aria-labelledby="Email8" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <h5><strong>Email 08 : </strong>Email to line managers on session closed for feedback against participants</h5>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="hidden" />
                                                                <label class="form-label">Subject<span class="stericField"> *</span></label>
                                                                <div class="form-line">
                                                                    <input class="form-control"  placeholder="" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Body<span class="stericField"> *</span></label>

                                                                <div class="form-line">
                                                                    <textarea  class="form-control" style="width:100%;height: 250px;padding-left: 2px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><div class="col-md-12">
                                                            <div class="form-group">


                                                                <div class="form-line">
                                                                    <button type="button" onclick="EmailContentSaveChanges(event,'Email-8')"  class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i>Save Changes</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-line">
                                                        <ul>
                                                            <li><label style="margin-top: 159px;" class="form-label">Placeholder of Email</label></li>
                                                        </ul>
                                                        <ul>
                                                            <li>[TrainingName]</li>
                                                            <li>[TrainerName]</li>
                                                            <li>[Venue]</li>
                                                            <li>[StartDate]</li>
                                                            <li>[EndDate]</li>
                                                            <li>[StartTime]</li>
                                                            <li>[EndTime]</li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             </div>
                     
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>

<script>

    $(document).ready(function () {
        GetCurrentEmailTemplates();
    });


  
    function EmailContentSaveChanges(ev,email_type)
    {
        debugger
        $.ajax({
            url: '@Url.Action("SaveEmailTemplate", "Admin")',
            type: 'POST',
            data: JSON.stringify(Create_data_obj(email_type)),        
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger
                if (response.Status) {

                    AlertToast("success", response.Message);
                }

                else {
                    AlertToast("error", response.Message);
                }
            },
            error: function(xhr,status,error) {
                debugger
            },
            complete:function(xhr,status) {
                debugger
            }
        });
    }

    //Create Post Data Obj
    function Create_data_obj(email_type) {
        var return_Obj = {};
        return_Obj.ID = 0;
        return_Obj.EmailType = email_type;
        return_Obj.Subject = "";
        return_Obj.Body = "";
        switch (email_type) {
            case 'Email-1':
                return_Obj.ID = $('#collapseEmail1').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail1').find('input:text').val();
                return_Obj.Body = $('#collapseEmail1').find('textarea').val();
                break;
            case 'Email-2':
                return_Obj.ID = $('#collapseEmail2').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail2').find('input:text').val();
                return_Obj.Body = $('#collapseEmail2').find('textarea').val();
                break;
            case 'Email-3':
                return_Obj.ID = $('#collapseEmail3').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail3').find('input:text').val();
                return_Obj.Body = $('#collapseEmail3').find('textarea').val();
                break;
            case 'Email-4':
                return_Obj.ID = $('#collapseEmail4').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail4').find('input:text').val();
                return_Obj.Body = $('#collapseEmail4').find('textarea').val();
                break;
            case 'Email-5':
                return_Obj.ID = $('#collapseEmail5').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail5').find('input:text').val();
                return_Obj.Body = $('#collapseEmail5').find('textarea').val();
                break;
            case 'Email-6':
                return_Obj.ID = $('#collapseEmail6').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail6').find('input:text').val();
                return_Obj.Body = $('#collapseEmail6').find('textarea').val();
                break;
            case 'Email-7':
                return_Obj.ID = $('#collapseEmail7').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail7').find('input:text').val();
                return_Obj.Body = $('#collapseEmail7').find('textarea').val();
                break;
            case 'Email-8':
                return_Obj.ID = $('#collapseEmail8').find('input:hidden').val();
                return_Obj.Subject = $('#collapseEmail8').find('input:text').val();
                return_Obj.Body = $('#collapseEmail8').find('textarea').val();
                break;
        }

        return return_Obj;
    }

    function GetCurrentEmailTemplates() {
        $.ajax({
            url: '@Url.Action("GetCurrentEmailTemplates", "Admin")',
            type: 'GET',
            data: {},
            success: function (response) {
                debugger
                if (response.Status) {

                    var Data = JSON.parse(response.data);
                    $.each(Data, function (key,value) {
                        switch (value.EmailType) {
                            case 'Email-1':
                                $('#collapseEmail1').find('input:hidden').val(value.ID);
                                $('#collapseEmail1').find('input:text').val(value.Subject);
                                $('#collapseEmail1').find('textarea').val(value.Body);
                                break;
                            case 'Email-2':
                                $('#collapseEmail2').find('input:hidden').val(value.ID);
                                $('#collapseEmail2').find('input:text').val(value.Subject);
                                $('#collapseEmail2').find('textarea').val(value.Body);
                                break;
                            case 'Email-3':
                                $('#collapseEmail3').find('input:hidden').val(value.ID);
                                $('#collapseEmail3').find('input:text').val(value.Subject);
                                $('#collapseEmail3').find('textarea').val(value.Body);
                                break;
                            case 'Email-4':
                                $('#collapseEmail4').find('input:hidden').val(value.ID);
                                $('#collapseEmail4').find('input:text').val(value.Subject);
                                $('#collapseEmail4').find('textarea').val(value.Body);
                                break;
                            case 'Email-5':
                                $('#collapseEmail5').find('input:hidden').val(value.ID);
                                $('#collapseEmail5').find('input:text').val(value.Subject);
                                $('#collapseEmail5').find('textarea').val(value.Body);
                                break;
                            case 'Email-6':
                                $('#collapseEmail6').find('input:hidden').val(value.ID);
                                $('#collapseEmail6').find('input:text').val(value.Subject);
                                $('#collapseEmail6').find('textarea').val(value.Body);
                                break;
                            case 'Email-7':
                                $('#collapseEmail7').find('input:hidden').val(value.ID);
                                $('#collapseEmail7').find('input:text').val(value.Subject);
                                $('#collapseEmail7').find('textarea').val(value.Body);
                                break;
                            case 'Email-8':
                                $('#collapseEmail8').find('input:hidden').val(value.ID);
                                $('#collapseEmail8').find('input:text').val(value.Subject);
                                $('#collapseEmail8').find('textarea').val(value.Body);
                                break;

                        }
                    });
                  
                }

                else {
                    AlertToast("error", response.Message);
                }
            },
            error: function () {

            }
        });
    }

    
 
	
</script>