﻿
@{
    ViewBag.Title = "Get Line Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #LineManagerGrid{
        width:100%!important;
        max-width:100%!important;
}
</style>

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    @*<h2>Topics</h2>*@
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Line Managers from Heirarchy</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>List of Line Managers from Heirarchy Data</h2>
                    </div>
                    <div class="body">
                        <div id="LineManagerGrid"></div>
                        <div class="row clearfix">
                            <div class="col-12">
                                <button id="CreateLM" class="input-group-text mb-3 tna_purpl_btn float-right" ><i class="fab fa-get-pocket"></i>&nbsp; Create Selected Line Manager</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    var selectedRows = [];
    $(function () {
        
        GetLineManagers();
    });

    function BindDataGrid(DataSource) {
        $("#LineManagerGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            keyExpr: "EmpID",
            showColumnHeaders: true,
            paging: {
                pageSize: 20
            },
            searchPanel: {
                visible: true,
                width: 240,
                placeholder: "Search..."
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            loadPanel: {
                enabled: true
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [20, 50, 100, 200],
                showInfo: true
            },
            selection:{
                mode: "multiple",
                showCheckBoxesMode: 'always',
                //deferred: true
            },
            columns: [

                 {
                     dataField: "LoginID",
                     caption: "Login ID",
                     width: "auto",
                 },
                  {
                      dataField: "EmpID",
                      caption: "L.M ID",
                      width: "auto",
                      alignment: "left",
                  },
                {
                    dataField: "Name",
                    caption: "Line Manager",
                    width: "auto",
                },
                {
                    dataField: "Department",
                    caption: "Department",
                    width: "auto",
                },                

               
                {
                    dataField: "Location",
                    caption: "Location",
                    width: "auto",
                },
             
                {
                    dataField: "IsExist",
                    caption: "Is Exist",
                    width: 50,
                    dataType:"boolean"
                },
                 {
                     dataField: "Email",
                    visible:false
                 },
                 {
                     dataField: "DeptID",
                     visible: false
                 },
              

            ],
            //  selectionFilter: ["IsExist", "=", true],
           
            onCellPrepared: function (e) {
                debugger
                if (e.rowType === 'data') {

                    if (e.column.command === 'select' && e.data.IsExist === true) {
                        e.cellElement.find('.dx-select-checkbox').dxCheckBox("instance").option("disabled", true);
                        e.cellElement.off();

                    }
                    if (e.column.dataField === 'IsExist' && e.data.IsExist === true ) {
                        debugger
                        e.cellElement.addClass('green_row');
                    }
                    if (e.column.dataField == 'IsExist' && e.data.IsExist == false) {
                        e.cellElement.addClass('red_row');
                    }
                }
            },
            
            onSelectionChanged: function (e) {
                debugger
                selectedRows = e.selectedRowsData;
               
            }
        });
    }

    function GetLineManagers() {
        $.ajax({
            url: '@Url.Action("GetLineManagersList", "Admin")',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (response) {
                if (response.Status) {

                    BindDataGrid(JSON.parse(response.data));
                    AlertToast('success', response.Message);
                }

                else {
                    var datasource = [];
                    BindDataGrid(datasource);
                    AlertToast('error', response.Message);
                }
            },
            error: function () {
            }
        });
    }
    $('#CreateLM').click(function () {
        if (selectedRows.length > 0) {
            CreateLineManagers();
        }
        else {
            AlertToast('error', 'Must be select at least one line manager.');
        }
        
    });
    function CreateLineManagers() {
        debugger
       
            $(".cstm_loader").css({
                "display": "block"
            });
        

        var objData = {
            Status: true,
            Values: selectedRows,
            Message: "success"
        };
        $.ajax({
            url:'@Url.Action("CreateLineManagers", "Admin")',
            method: 'Post',
            data: { model: selectedRows },
            dataType: 'json',
           // contentType: 'application/json; charset=UTF-8',
           // processData:false,
            success: function (response) {
             
                    $(".cstm_loader").css({
                        "display": "none"
                    });
           
                debugger
                if (response.Status) {
                    GetLineManagers();
                    AlertToast('success', response.Message);
                }
                else {
                    GetLineManagers();
                    AlertToast('error', response.Message);
                }
               

            },
            error: function (xhr, ajaxOptions, thrownError) {
              
                    $(".cstm_loader").css({
                        "display": "none"
                    });
              
            }
        });
    }
</script>
