﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .state-tooltip {
    height: 90px;
}

.state-tooltip > img {
    width: 60px;
    height: 40px;
    display: block;
    margin: 0 5px 0 0;
    float: left;
}

.state-tooltip > h4 {
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 5px;
}

.state-tooltip .caption {
    font-weight: 500;
}

.state-tooltip sup {
    font-size: 0.8em;
    vertical-align: super;
    line-height: 0;
}
</style>
<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div  style="display: -webkit-box" class="market-updates">
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-2">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-eye"> </i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4 >TNA</h4>
                                <h3 id="TNA" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-1">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4>Training</h4>
                                <h3 id="Training" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-3">
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="col-md-8 market-update-left">
                                <h4>Session</h4>
                                <h3 id="Session" class="count">0</h3>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="card">
                    
                    <div class="body">
                        	

                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
           
                <div style="margin-left: 17px;background: white;" class="col">
                    <div id="chart1"></div>
                </div>
                <div style="background: white;" class="col">
                    <div id="chart2"></div>
                </div>
            </div>
        
</section>


<script>


    function getTraining() {
        $.ajax({
        url:'@Url.Action("getTraining", "Admin")',
        type:'GET',
        dataType: 'json',
        success: function (response) {

            if (response.Status) {

                BindTrainingChart(JSON.parse(response.dataList));
            }

            else {
                BindTrainingChart(null);
            }

        },
        error: function (response) {
            BindTrainingChart(null);
        }
        });
    }

    $(function () {
        GetCounterValue();
        numericCounter();
        getTraining();
        CurrentMonthTraining();
        CurrentMonthSession();


    });


    function GetCounterValue() {
        $.ajax({
            url: '@Url.Action("GetCounterValue", "Admin")',
            type: 'GET',
            async:false,
            success: function (response) {

                if (response.Status) {

                    var CounterVal = JSON.parse(response.data);
                    $('#TNA').html(CounterVal[0].TotalTNA);
                    $('#Training').html(CounterVal[0].TotalTraining);
                    $('#Session').html(CounterVal[0].TotalSession);
                }

            },
            error: function (response) {

            }

        });
    }

    
    function CurrentMonthTraining() {
        $.ajax({
            url: '@Url.Action("CurrentMonthTraining", "Admin")',
            type: 'GET',
            success: function (response) {

                if (response.Status) {

                    BindCurrentMonthTraining(JSON.parse(response.dataList));
                }

                else {
                    BindCurrentMonthTraining(null);
                }

            },
            error: function (response) {
                BindCurrentMonthTraining(null)
            }

        });
    }
    function CurrentMonthSession() {
        $.ajax({
            url: '@Url.Action("CurrentMonthSession", "Admin")',
            type: 'GET',
            success: function (response) {

                if (response.Status) {

                    BindCurrentMonthSession(JSON.parse(response.dataList));
                }

                else {
                    BindCurrentMonthSession(null);
                }

            },
            error: function (response) {
                BindCurrentMonthSession(null)
            }

        });
    }
    function BindCurrentMonthTraining(dataSource) {
        $("#chart1").dxChart({
            dataSource: dataSource,
            commonPaneSettings: {
                border: {
                    visible: true
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: {
                type: "scatter",
                valueField: "CDay",
                argumentField: "TrainingName",
                point: {
                    size: 20
                }
            },
            //customizePoint: function () {

            //    var color, hoverStyle;
            //    switch (this.tag) {
            //        case "Star":
            //            color = "red";
            //            hoverStyle = { border: { color: "red" } };
            //            break;
            //        case "Satellite":
            //            color = "gray";
            //            hoverStyle = { border: { color: "gray" } };
            //    }
            //    return { color: color, hoverStyle: hoverStyle };
            //},
            "export": {
                enabled: true
            },
            legend: {

                    visible: false

            },
            argumentAxis: {
                label: {
                    rotationAngle: 20,
                    overlappingBehavior: "rotate"
                }
            },
            valueAxis: {

                title: "Day of Month"
            },
            title: "Trainings of Current Month",

            tooltip: {
                enabled: true
            }
        });
    }
    function BindCurrentMonthSession(dataSource) {
        $("#chart2").dxChart({
            dataSource: dataSource,
            commonPaneSettings: {
                border: {
                    visible: true
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: {
                type: "scatter",
                valueField: "CDay",
                argumentField: "SessionName",
                point: {
                    size: 20
                }
            },
            customizePoint: function () {

                var color, hoverStyle;
                hoverStyle = { border: { color: "red" } };
                color = "red";
                //switch (this.tag) {
                //    case "Star":
                //       
                //       
                //        break;
                //    case "Satellite":
                //        color = "gray";
                //        hoverStyle = { border: { color: "gray" } };
                //}
                return { color: color, hoverStyle: hoverStyle };
            },
            "export": {
                enabled: true
            },
            legend: {

                visible: false

            },
            argumentAxis: {
                label: {
                    rotationAngle: 20,
                    overlappingBehavior: "rotate"
                }
            },
            valueAxis: {

                title: "Day of Month"
            },
            title: "Session of Current Month",

            tooltip: {
                enabled: true
            }
        });
    }

    function BindTrainingChart(dataSource) {
        

        $("#chart").dxChart({
            palette: "bright",
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "TrainingName",
                valueField: "NoOfParticipants",
                type: "bar",


                label: {
                    visible: true,

                }
            },
            seriesTemplate: {
                nameField: "SessionName",

            },
            argumentAxis: {
                visualRange: {

                    //startValue: data[0].TrainingName,
                    //endValue: data[10].TrainingName,
                }
            },
            zoomAndPan: {
                argumentAxis: "both"
            },
            scrollBar: {
                visible: true
            },
            title: {
                text: "Last Six Months Session",
                subtitle: {
                    text: "(Participants per Session)"
                }
            },
            "export": {
                enabled: true
            },
            valueAxis: {

                valueType: "numeric",
                grid: {
                    opacity: 10
                },
                label: {
                    customizeText: function () {
                        return this.valueText + " P";
                    }
                }
            },
            legend: {
                visible:false,
                //verticalAlignment: "bottom",
                //horizontalAlignment: "center"
            },
            tooltip: {
                enabled: true,
                shared: true,
                customizeTooltip: function (info) {

                    return {
                        html: "<h4 style='text-transform: capitalize;'>" +
                        info.argumentText + "</h4><div><span class='caption'>Session</span>: " +
                         info.seriesName +
                        "</div><div><span class='caption'>No. of Participants</span>: " +
                       info.value +
                        "</div>" + "</div>"
                    };
                    //return {
                    //    html: "<div><div class='tooltip-header'>" +
                    //    info.argumentText + "</div>" +
                    //    "<div class='tooltip-body'><div class='series-name'>" +
                    //    info.seriesName +
                    //    ": </div><div class='value-text'>" +
                    //    info.value +
                    //    "</div></div></div>"
                    //};
                }
            },
        });
    }

    function numericCounter() {
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    }
</script>