﻿
@{
    ViewBag.Title = "LogReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    @*<h2>Topics</h2>*@
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Log Report </li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Log Report </li>
                            }
                        }

                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Log Report <small></small> </h2>
                       
                        @*<button type="button" id="btnTraining" onclick="location.href = '/'+ $('#tna_prefix').val() +'/Admin/AddTraining'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn">CREATE TRAINING</button>*@
                    </div>

                    @*<div id="popupTrainingForm"></div>*@  <!-- Dev-Extreme Topic Form Model-->
                    <div class="body">
                        <div id="LogGrid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>


    $(document).ready(function(){


        BindTrainingsGrid();


    });

    var nowdate = new Date();
    function BindTrainingsGrid()
    {
        $.ajax({
            url: '@Url.Action("GetAllLogs", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/GetAllTrainings",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger
                var jsonData = JSON.parse(response.Logs);
                    $("#LogGrid").dxDataGrid({
                        dataSource: jsonData,
                        columnsAutoWidth: true,
                        showBorders: true,
                        showColumnHeaders: true,
                        paging: {
                            pageSize: 50
                        },
                        width: '100%',
                        scrolling: {
                            mode: "standard", // or "virtual" | "infinite"
                        },
                        export: {
                            enabled: true,
                            fileName: "Admin Log Report " + nowdate.toLocaleDateString()
                            
                        },
                        filterRow: {
                            visible: true,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: true
                        },
                        headerFilter: { visible: true, allowSearch: true },
                        searchPanel: { visible: true },
                        columns: [
                            {
                                dataField: "FullName",
                                caption: "Change By",
                                width: "150",
                                alignment: "left"
                            },
                            {
                                dataField: "ViewName",
                                caption: "Page Name",
                                width: "150",
                                alignment: "left"
                            },
                            {
                                dataField: "FieldName",
                                caption: "Field Name",
                                alignment: "center",
                                width: "150",
                                alignment: "left"
                            },
                            {
                                dataField: "PreviousData",
                                caption: "Change Before",
                                width: "250",
                                alignment: "left"
                            },
                            {
                                dataField: "ChangeData",
                                caption: "Change After",
                                width: "250",
                                alignment: "left"
                            },
                            {
                                dataField: "TopicID",
                                caption: "Topic ID",
                                alignment: "center",
                                width: "100",
                                alignment: "left"
                            },                            
                            {
                                dataField: "TrainingID",
                                caption: "Training ID",
                                alignment: "center",
                                width: "100",
                                alignment: "left"
                            },
                             {
                                 dataField: "CreatedAt",
                                 caption: "Change Date",
                                 alignment: "center",
                                 width: "100",
                                 alignment: "left",
                                 dataType: "date",
                                 format:"dd/MM/yyyy",
                             },
                        ]
                    });
               

            },
            error: function (xhr) {
                debugger
            }
        });
    }




    







</script>

