﻿
@{
    ViewBag.Title = "ParticipantsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}


<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Participants Wise Report</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Participants Wise Report</li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Participants Wise Report <small></small> </h2>

                    </div>
                    <div class="container cstm-container">
                        <div class="row">
                            <div class="col-md-5">
                                <div id="departmentList"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="employeeList"></div>
                            </div>
                            <div class="col-md-2 sec-btn">
                                <button type="button" id="btnReport" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">Report</button>
                            </div>
                        </div>
                    </div>



                </div>
                <div id="employeeReportGrid" class="cum_grid body"></div>


            </div>
        </div>
    </div>

</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>

    $(document).ready(function () {
       
        GetDepartmentList();
        GetEmployeeList();
        BindReportGrid(null);
    });
    var dropDownEmpList;
    var dropDownDepList;
    function GetDepartmentList() {
        $.ajax({
            url: '@Url.Action("GetAllDepartments", "Admin")',
            type: 'GET',
            data: {},
            async: false,
            success: function (response) {
                BindDepartmentDropDown(response.DepartList);
            },
            error: function () { }
        });
    };

    function BindDepartmentDropDown(dataSource) {
        dropDownDepList=  $("#departmentList").dxSelectBox({
            dataSource: dataSource,
            placeholder: "Search / Select Department",
            displayExpr: "DepartmentName",
            valueExpr: "ID",
            searchEnabled: true,
            onValueChanged: function (data) {
                debugger
                GetEmployeeList(data.value);
            }
        }).dxSelectBox("instance");
        //
    }

    function GetEmployeeList(DeptID)
    {
        $.ajax({
            url:'@Url.Action("GetEmployeeList", "Admin")',
            type: 'GET',
            data: { DeptId: DeptID },
            async:false,
            success: function (response) {
                debugger
                if (response.Status) {
                    BindEmployeeDropDown(JSON.parse(response.data));
                }
                else {
                    var emptyDataSource = [];
                    BindEmployeeDropDown(emptyDataSource);
                }

            },
            error: function () {
                var emptyDataSource = [];
                BindEmployeeDropDown(emptyDataSource);
            }
        });
    };

    function BindEmployeeDropDown(dataSource) {
        dropDownEmpList = $("#employeeList").dxSelectBox({
            dataSource: dataSource,
            placeholder: "Search / Select Employee",
            displayExpr: "ReporteeName",
            valueExpr: "ReporteeID",
            searchEnabled: true,
        }).dxSelectBox("instance");
    }
    
    $('#btnReport').click(function () {
        debugger
        var DeptVal=dropDownDepList._options.value;
        var EmpVal=dropDownEmpList._options.value;

        if (ValidateFields(DeptVal, EmpVal)) {
            GetReport(EmpVal, DeptVal);
        }
       
        
      
    });

    function GetReport(EmpID, Dept) {

        $.ajax({
            url: '@Url.Action("GetParticipantsWiseReport", "Admin")',
            type: 'GET',
            data: { EmpID: EmpID, Dept: Dept },
            async: false,
            success: function (response) {
                if (response.Status) {
                    debugger
                    BindReportGrid(JSON.parse(response.data));
                }

                else {
                    AlertToast('error', response.Message);
                    BindReportGrid(null);
                }
            },
            error: function () { }
        });
    };

    function BindReportGrid(dataSource) {

        $("#employeeReportGrid").dxDataGrid({
            dataSource: dataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "standard", // or "virtual" | "infinite"
            },
            export: {
                enabled: true,
                fileName: "Participants Report"
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: false, allowSearch: true },
            searchPanel: { visible: true },
            columns: [
                {
                    dataField: "TNAName",
                    caption: "TNA Name",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "TrainingName",
                    caption: "Training Name",
                    width: "150",
                    alignment: "left"
                },
                 {
                     dataField: "TopicName",
                     caption: "Topic Name",
                     width: "150",
                     alignment: "left"
                 },
                {
                    dataField: "SessionName",
                    caption: "Session Name",
                    alignment: "center",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "StartDate",
                    caption: "Start Date",
                    width: "250",
                    alignment: "left",
                    dataType: "date",
                    format:"dd/MM/yyyy",
                },
                 {
                     dataField: "EndDate",
                     caption: "EndDate",
                     alignment: "center",
                     width: "250",
                     dataType: "date",
                     alignment: "left",
                     format:"dd/MM/yyyy",
                 },
                {
                    dataField: "StartTime",
                    caption: "Start Time",
                    width: "150",
                    alignment: "left"
                },
                {
                    dataField: "EndTime",
                    caption: "End Time",
                    alignment: "center",
                    width: "150",
                    alignment: "left"
                },
                 {
                     dataField: "TrainerName",
                     caption: "Trainer Name",
                     alignment: "center",
                     width: "250",
                     alignment: "left",

                 },
                   {
                       dataField: "TrainerFeedback",
                       caption: "Trainer Feedback",
                       alignment: "center",
                       width: "300",
                       alignment: "left",

                   },
                   {
                       dataField: "Attendance",
                       caption: "Attendance",
                       alignment: "center",
                       width: "100",
                       alignment: "center",
                       dataType: "boolean"

                   },
            ]
        });
    };

   

    function ValidateFields(deptVal, empVal) {
        var isvalid = false;
        if (deptVal == null) {
            isvalid = false;
           AlertToast('error', "Please Select Department.");
       }

       else {
            if (empVal == null) {
                isvalid = false;
               AlertToast('error', "Please Select Employee.");
           }
           else {
                isvalid = true;
           }
       }
        return isvalid;
   }

   
</script>

