﻿
@{
    ViewBag.Title = "Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<div id="popupTopicForm"></div>  <!-- Dev-Extreme Topic Form Model-->


<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    @*<h2>Topics</h2>*@
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Topics</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Topics</li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> Topic Records <small></small> </h2>
                        <button type="button" id="btnTopic" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i> CREATE TOPIC</button>
                    </div>




                    <div class="body">
                        <div id="TopicsGrid" class="cum_grid"></div>
                    </div>

                    @*<div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#home_with_icon_title"> <i class="material-icons">home</i> TRAININGS </a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile_with_icon_title"><i class="material-icons">person</i> AD-HOC REQUESTS </a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane in active show" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">

                                                <div class="body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>TRAINING</th>
                                                                    <th>TYPE</th>
                                                                    <th>MODE</th>
                                                                    <th>STATUS date</th>
                                                                    <th>ACTION</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>TRAINING</th>
                                                                    <th>TYPE</th>
                                                                    <th>MODE</th>
                                                                    <th>STATUS date</th>
                                                                    <th>ACTION</th>
                                                                </tr>
                                                            </tfoot>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tiger Nixon</td>
                                                                    <td>System Architect</td>
                                                                    <td>Edinburgh</td>
                                                                    <td>61</td>
                                                                    <td>2011/04/25</td>
                                                                    <td class="text-center">
                                                                        <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Garrett Winters</td>
                                                                    <td>Accountant</td>
                                                                    <td>Tokyo</td>
                                                                    <td>63</td>
                                                                    <td>2011/07/25</td>
                                                                    <td class="text-center">
                                                                        <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Ashton Cox</td>
                                                                    <td>Junior Technical Author</td>
                                                                    <td>San Francisco</td>
                                                                    <td>66</td>
                                                                    <td>2009/01/12</td>
                                                                    <td class="text-center">
                                                                        <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Cedric Kelly</td>
                                                                    <td>Senior Javascript Developer</td>
                                                                    <td>Edinburgh</td>
                                                                    <td>22</td>
                                                                    <td>2012/03/29</td>
                                                                    <td class="text-center">
                                                                        <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Airi Satou</td>
                                                                    <td>Accountant</td>
                                                                    <td>Tokyo</td>
                                                                    <td>33</td>
                                                                    <td>2008/11/28</td>
                                                                    <td class="text-center">
                                                                        <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                                        <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile_with_icon_title">
                                    <b>Profile Content</b>
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Name</th>
                                                <th>LINE MANAGER</th>
                                                <th>TRAINING TYPE</th>
                                                <th>TRANING NAME</th>
                                                <th>JUSTIFICATION</th>
                                                <th>RECIEVED DATE</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Name</th>
                                                <th>LINE MANAGER</th>
                                                <th>TRAINING TYPE</th>
                                                <th>TRANING NAME</th>
                                                <th>JUSTIFICATION</th>
                                                <th>RECIEVED DATE</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Riaz</td>
                                                <td>Khalid Hussain</td>
                                                <td>Other</td>
                                                <td>Content Waiting</td>
                                                <td>XYZ</td>
                                                <td>2011/04/25</td>
                                                <td>Active</td>
                                                <td class="text-center">
                                                    <a href="#"><i class="material-icons actions_icons_add">add_box</i></a>
                                                    <a href="#"><i class="material-icons actions_icons_edit">border_color</i></a>
                                                    <a href="#"><i class="material-icons actions_icons_delete">delete</i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Small Size -->
<div class="modal fade" id="DeleteTopic" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete Topic</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>"TOPIC"</b>?.<br />
                <strong style="color: cornflowerblue;">Note !</strong>
                <p style="font-size: smaller;color: cornflowerblue;font-style: italic;">If yes then all trainings and sessions against this topic are auto delete.</p>
            </div>
            <div class="modal-footer">
                <button topicid="" type="button" class="btnDelete btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



@*@* Bootstrap Topic Modal

    <div class="modal fade" id="CreateTrainingModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CreateTrainingModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control">
                                    <label class="form-label">Name</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control">
                                    <label class="form-label">Topic</label>
                                </div>
                            </div>

                            <select class="form-control show-tick">
                                <option value="">-- Please Select Type--</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>*@

<script>

    $(document).ready(function () {
        BindTopicGrid();
    });



    function BindTopicGrid() {
        $.ajax({
            url: '@Url.Action("GetAllTopics", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/GetAllTopics",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger

                $("#TopicsGrid").dxDataGrid({
                    dataSource: response,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnHeaders: true,
                    paging: {
                        pageSize: 10
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },

                    columns: [
                        {
                            dataField: "TopicName",
                            caption: "Topic Name",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "Description",
                            caption: "Description",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "IsActive",
                            caption: "Is Active",
                            alignment: "center",
                            width: "auto",
                        },
                        {
                            dataField: "ID",
                            caption: "Action",
                            alignment: "center",
                            width: "auto",
                            allowHeaderFiltering: false,
                            allowFiltering: false,
                            //allowSearch: false,
                            cellTemplate: function (container, options) {
                                $("<div>")
                                    .append($("<a class='TopicEdit' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                                    .append($("<a class='TopicDelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                                    .appendTo(container);
                            }
                        }
                    ]
                });


            },
            error: function (xhr) {
                $("#TopicsGrid").dxDataGrid({
                    dataSource: null,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnHeaders: true,
                    paging: {
                        pageSize: 10
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },

                    columns: [
                        {
                            dataField: "TopicName",
                            caption: "Topic Name",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "Description",
                            caption: "Description",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "IsActive",
                            caption: "Is Active",
                            alignment: "center",
                            width: "auto",
                        },
                        {
                            dataField: "ID",
                            caption: "Action",
                            alignment: "center",
                            width: "auto",
                            allowHeaderFiltering: false,
                            allowFiltering: false,
                            //allowSearch: false,
                            cellTemplate: function (container, options) {
                                $("<div>")
                                    .append($("<a class='TopicEdit' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                                    .append($("<a class='TopicDelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                                    .appendTo(container);
                            }
                        }
                    ]
                });
            }
        });
    }



    $("#btnTopic").click(function () {

        $.ajax({
            url: '@Url.Action("NewTopicForm", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/NewTopicForm",
            type: "GET",
            data: {},
            success: function (response) {
                debugger
                $("#popupTopicForm").html("");
                $("#popupTopicForm").html(response);
                $("#TopicModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');
            },
            error: function (xhr) {
                debugger
            }
        });
    })


    $('body').on('click', '.TopicEdit', function () {

        var topicID = $(this).attr('_id');

        $.ajax({
            url: '@Url.Action("EditTopic", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/EditTopic",
            type: "GET",
            data: {
                ID: topicID
            },
            success: function (response) {
                debugger
                $("#popupTopicForm").html(response);
                $("#TopicModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                debugger
            }
        });

    });

    $('body').on('click', '.TopicDelete', function () {

        $('.btnDelete').attr("topicid", $(this).attr('_id'));
        $("#DeleteTopic").modal("show");

    });


    $(".btnDelete").click(function () {

        var topicID = $(this).attr('topicid');

        $.ajax({
            url: '@Url.Action("DeleteTopic", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/DeleteTopic",
            type: "GET",
            data: {
                ID: topicID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast('success', response.Message);
                }
                else {
                    AlertToast('error', response.Message);
                }

                BindTopicGrid();
                $("#DeleteTopic").modal("hide");

            },
            error: function (xhr) {
                debugger
            }
        });
    });

</script>

