﻿@{
    ViewBag.Title = "TrainingCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Home</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Calendar <small></small> </h2>
                        @*<button type="button" id="btnSession" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE SESSION</button>*@
                    </div>




                    <div id="scheduler"></div>


                </div>
            </div>
        </div>

    </div>
</section>

<script>
    $(function () {
        getTrainingCalendar();
        var data = [];
        var scheduler;
    });
    function bindScheduler(dataSource) {
        var today = moment(new Date()).format("MM/DD/YYYY");
        var options = dataSource.map(function (row) {
            var thisdate = moment(new Date(row.End_Date)).format("MM/DD/YYYY");

            if (thisdate > today) {
                return { End_Date: row.End_Date, ID: row.ID, TNAName: row.TNAName, TrainingName: row.TrainingName, Venue: row.Venue, endDate: row.endDate, startDate: row.startDate, text: row.text, color: "#229632" }
            }
            else if (thisdate == today) {
                return { End_Date: row.End_Date, ID: row.ID, TNAName: row.TNAName, TrainingName: row.TrainingName, Venue: row.Venue, endDate: row.endDate, startDate: row.startDate, text: row.text, color: "#FFB400" }
            }

            else {
                return { End_Date: row.End_Date, ID: row.ID, TNAName: row.TNAName, TrainingName: row.TrainingName, Venue: row.Venue, endDate: row.endDate, startDate: row.startDate, text: row.text, color: "red" }
            }

        });
        scheduler = $("#scheduler").dxScheduler({
            dataSource: options,
            groups: undefined,
            //  showAllDayPanel: false,
            //  cellDuration: 20,
            views: [{
            type: "month",
                maxAppointmentsPerCell: "auto"
            }],
            currentView: "month",
            currentDate: new Date(),
            startDayHour: 7,
            firstDayOfWeek: 1,
            colorExpr: "color",
            height: 950,
            adaptivityEnabled: true,
            editing: {
                allowAdding: false,
                allowDeleting: false,
                allowDragging: false,
                allowResizing: false,
                allowUpdating: false
            },
            resources: [{
                fieldExpr: "ID",
                displayExpr: "text",
                valueExpr: "ID",
                colorExpr: "color",
                dataSource: options,
                useColorAsDefault: true
            }],
            appointmentTooltipTemplate: function (value, container) {
                var markup = getTooltipTemplate(getdataById(value.ID));
                //markup.find(".edit").dxButton({
                //    text: "View details",
                //    type: "default",
                //    onClick: function () {
                //        scheduler.showAppointmentPopup(data, false);
                //    }
                //});
                return markup;
            },

            onAppointmentDblClick: function (e) {
                e.cancel = true;

            },
            onAppointmentFormOpening: function (data) {
                debugger
                var form = data.form,
                    dataInfo = getdataById(data.appointmentData.ID) || {},
                    startDate = data.appointmentData.startDate;

                form.option("items", [{
                    label: {
                        text: "TNA"
                    },
                    editorType: "dxTextBox",
                    editorOptions: {
                        value: dataInfo.TNAName,
                        readOnly: true
                    }
                }, {
                    label: {
                        text: "Training"
                    },
                    name: "Training",
                    editorType: "dxTextBox",
                    editorOptions: {
                        value: dataInfo.TrainingName,
                        readOnly: true
                    }
                },
                 {
                     label: {
                         text: "Session"
                     },
                     name: "Training",
                     editorType: "dxTextBox",
                     editorOptions: {
                         value: dataInfo.text,
                         readOnly: true
                     }
                 },
                {
                    name: "Start Date",
                    dataField: "startDate",

                    editorType: "dxDateBox",
                    editorOptions: {
                        width: "100%",
                        type: "datetime",
                       displayFormat: "dd-MM-yyyy, hh:mm a",
                        readOnly: true
                    }
                }, {
                    name: "End Date",
                    dataField: "End_Date",
                    editorType: "dxDateBox",
                    editorOptions: {
                        width: "100%",
                        type: "datetime",
                       displayFormat: "dd-MM-yyyy, hh:mm a",
                        readOnly: true
                    }
                }
                ]);
            }
        }).dxScheduler("instance");
    }


    function getdataById(id) {
        return DevExpress.data.query(data)
                .filter("ID", id)
                .toArray()[0];
    }

    function getTooltipTemplate(_data) {
        debugger

        return $("<a style='cursor:pointer' onclick='ViewDetail(" + JSON.stringify(_data) + ")'><div class='movie-tooltip'>" +

                     "<div class='movie-info'>" +
                         "<div style='float:left' class='movie-title'><strong>" +
                             _data.text +
                         "</strong></div><br>" +
                        "<div>" +
                             moment(_data.startDate).format("MMM D, LT") + " - " + moment(_data.End_Date).format("MMM D, LT") +
                         "</div>" +
                     "</div><br />" +

                  "</div></a>");
    }
    function ViewDetail(data_) {
        debugger
        scheduler.showAppointmentPopup(data_, false);
    }

    function getTrainingCalendar() {
        $.ajax({
            url:'@Url.Action("getTrainingCalendar", "Admin")',
            type:'GET',
            dataType: 'json',
            success: function (response) {
                debugger
                if (response.Status) {
                    data = JSON.parse(response.DataList)
                    bindScheduler(data);
                }
                else {

                }
            },
            error: function () {

            }


        });
    }
</script>

