﻿
@{
    ViewBag.Title = "Trainings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}

<script src="~/Scripts/Training.js"></script>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    @*<h2>Topics</h2>*@
                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Trainings </li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Trainings </li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Training Records <small></small> </h2>
                        <button type="button" id="btnTraining" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i> CREATE TRAINING</button>
                        @*<button type="button" id="btnTraining" onclick="location.href = '/'+ $('#tna_prefix').val() +'/Admin/AddTraining'" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn">CREATE TRAINING</button>*@
                    </div>

                    @*<div id="popupTrainingForm"></div>*@  <!-- Dev-Extreme Topic Form Model-->
                    <div class="body">
                        <div id="TrainingsGrid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="DeleteTraining" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete Training</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>"TRAINING"</b> ?.<br />
                <strong style="color: cornflowerblue;">Note !</strong>
                <p style="font-size: smaller;color: cornflowerblue;font-style: italic;">If yes then all sessions against this training are auto delete.</p>
            </div>
            <div class="modal-footer">
                <button trainingid="" type="button" class="btnDelete btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function(){


        BindTrainingsGrid();


    });


    function BindTrainingsGrid()
    {
        $.ajax({
            url: '@Url.Action("GetAllTrainings", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/GetAllTrainings",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {
                debugger

                //if (response.Status)
                //{
                    $("#TrainingsGrid").dxDataGrid({
                        dataSource: response.Trainings,
                        columnsAutoWidth: true,
                        showBorders: true,
                        showColumnHeaders: true,
                        paging: {
                            pageSize: 10
                        },
                        filterRow: {
                            visible: true,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: true
                        },

                        columns: [
                            {
                                dataField: "TrainingName",
                                caption: "Training Name",
                                //alignment: "center",
                                //width: "auto",
                            },
                            {
                                dataField: "Description",
                                caption: "Description",
                                //alignment: "center",
                                //width: "auto",
                            },
                            {
                                dataField: "IsActive",
                                caption: "Is Active",
                                alignment: "center",
                                width: "auto",
                            },
                            {
                                dataField: "ID",
                                caption: "Action",
                                alignment: "center",
                                width: "auto",
                                allowHeaderFiltering: false,
                                allowFiltering: false,
                                cellTemplate: function (container, options) {
                                    trainingid = options.value;
                                    if ($('#tna_prefix').val() == "") {
                                        url = "/Admin/EditTraining/" + trainingid + "";
                                        }
                                    else
                                    {
                                        url = "/" + $('#tna_prefix').val() +"/Admin/EditTraining/" + trainingid + "";
                                    }

                                    $("<div>")
                                        //.append($("<a class='TrainingEdit' href='" + $('#tna_prefix').val() + "/Admin/EditTraining/" + options.value + "' _id=" + options.value + " title='Edit'><i class='material-icons actions_icons_edit'>border_color</i></a>"))
                                        .append($("<a class='TrainingEdit' href='" + url + "' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                                        .append($("<a class='TrainingDelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                                        .appendTo(container);
                                }
                            }
                        ]
                    });
                //}

            },
            error: function (xhr) {
                debugger
            }
        });
    }

    $('body').on('click', '.TrainingDelete', function () {

        $('.btnDelete').attr("trainingid", $(this).attr('_id'));
        $("#DeleteTraining").modal("show");

    });


    $(".btnDelete").click(function () {

        var trainingID = $(this).attr('trainingid');

        $.ajax({
            url: '@Url.Action("DeleteTraining", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/DeleteTraining",
            type: "GET",
            data: {
                ID: trainingID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast('success', response.Message);
                    BindTrainingsGrid();
                    $("#DeleteTraining").modal("hide");
                }
                else {
                    AlertToast('error', response.Message);
                }

            },
            error: function (xhr) {
                debugger
            }
        });
    });

    $("#btnTraining").click(function () {

        window.location.href = '@Url.Action("AddTraining","Admin")';
        //window.location.href = "/" + $('#tna_prefix').val() + "/Admin/AddTraining";

    });



    @*$('body').on('click', '.TrainingEdit', function () {

        var trainingID = $(this).attr('_id');

        $.ajax({
            url: '@Url.Action("AddTraining", "Admin")',
            type: "GET",
            data: {
                ID: trainingID
            },
            success: function (response) {
                debugger
                //$("#popupTopicForm").html(response);
                //$("#TopicModal").modal("show");
                //$('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                debugger
            }
        });

    });*@

    @*var BindCourseMaterial = [];

    $("#btnTraining").click(function () {

        $.ajax({
            url: '@Url.Action("NewTrainingForm", "Admin")',
            type: "GET",
            data: {},
            success: function (response) {
                debugger
                $("#popupTrainingForm").html("");
                $("#popupTrainingForm").html(response);
                $("#TrainingModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

                getAllTopics(); //Bind SelectBox for Topics
                getAllTypes(); //Bind SelectBox for Types
                getAllCourseOwner(); //Bind SelectBox for Course Owner
                getAllModes(); //Bind SelectBox for Modes
                getAllCourseMaterial(); //Bind SelectBox for Course Material

            },
            error: function (xhr) {
                debugger
            }
        });
    })*@





</script>