﻿
@{
    ViewBag.Title = "TrainingandDeptWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var this_controller = (TNA.Controllers.BaseController)ViewContext.Controller;
    var _current_user = this_controller.CurrentUser;
}


<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">

                    <ul class="breadcrumb">
                        @{

                            if (_current_user.User.RoleID == 2)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "TrainingLead")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Training and Department Wise Report</li>
                            }
                            else if (_current_user.User.RoleID == 1)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Training and Department Wise Report</li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Training and Department Wise Report<small></small> </h2>

                    </div>
                    <div class="container cstm-container">
                        <div class="row">
                            <div class="col-md-5">
                                <div id="trainingList"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="deptList"></div>
                            </div>
                            <div class="col-md-2 sec-btn">
                                <button type="button" id="btnReport" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">Report</button>
                            </div>
                        </div>
                    </div>



                </div>
                <div id="employeeReportGrid" class="cum_grid body"></div>


            </div>
        </div>
    </div>

</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>

    $(document).ready(function () {
       
        GetTrainingList();
        GetAllDeparts();
        GetReport(0,0);
        //BindReportGrid(null);
    });

    var dropDownDeptList;
    var dropDownTrainingList;

    function GetTrainingList() {
        $.ajax({
            url: '@Url.Action("GetAllTrainings", "Admin")',
            type: 'GET',
            data: {},
            async: false,
            success: function (response) {                
                BindTrainingDropDown(response.Trainings);
            },
            error: function () { }
        });
    };

    function GetAllDeparts() {
        $.ajax({
            url: '@Url.Action("GetAllDepartments", "Admin")',
            type: 'GET',
            data: {},
            async: false,
            success: function (response) {
                debugger
                BindDeptDropDown(response.DepartList);
            },
            error: function () { }
        });
    };

    function GetDeptListbyTrID(TrainingID) {
        var emptyDataSource = [];
        BindDeptDropDown(emptyDataSource);
        $.ajax({
            url: '@Url.Action("GetDeptListbyTrID", "Admin")',
            type: 'GET',
            data: { TrainingID: TrainingID },
            async: false,
            success: function (response) {
                debugger
                if (response.Status) {
                    BindDeptDropDown(JSON.parse(response.data));
                }
                else {
                    var emptyDataSource = [];
                    BindDeptDropDown(emptyDataSource);
                }

            },
            error: function () {
                var emptyDataSource = [];
                BindDeptDropDown(emptyDataSource);
            }
        });
    };

    function BindTrainingDropDown(dataSource) {
        dropDownTrainingList = $("#trainingList").dxSelectBox({
            dataSource: dataSource,
            placeholder: "Search / Select Training",
            displayExpr: "TrainingName",
            valueExpr: "ID",
            showClearButton: true,
            searchEnabled: true,
            onValueChanged: function (data) {
                debugger
                GetDeptListbyTrID(data.value);
            }
        }).dxSelectBox("instance");
        
    }

   

    function BindDeptDropDown(dataSource) {
        dropDownDeptList = $("#deptList").dxSelectBox({
            dataSource: dataSource,
            placeholder: "Search / Select Department",
            displayExpr: "DepartmentName",
            showClearButton: true,
            valueExpr: "ID",
            searchEnabled: true,
        }).dxSelectBox("instance");
    }
    
    $('#btnReport').click(function () {
        debugger
        var DeptVal = dropDownDeptList._options.value!=null ? dropDownDeptList._options.value :0 ;
        var TrainingVal = dropDownTrainingList._options.value!=null ? dropDownTrainingList._options.value:0;
            GetReport(TrainingVal, DeptVal);
    });

    function GetReport(TrainingID, DeptID) {
        $.ajax({
            url: '@Url.Action("GetTrainingandDeptWiseReport", "Admin")',
            type: 'GET',
            data: { TrainingID: TrainingID, DeptID: DeptID },
            async: false,
            success: function (response) {
                if (response.Status) {
                    debugger
                    BindReportGrid(JSON.parse(response.data));
                }

                else {
                    AlertToast('error', response.Message);
                    BindReportGrid(null);
                }
            },
            error: function () { }
        });
    };

    function BindReportGrid(dataSource) {

        $("#employeeReportGrid").dxDataGrid({
            dataSource: dataSource,
            columnAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 50
            },
            width: '100%',
            scrolling: {
                mode: "virtual", // or "virtual" | "infinite"
            },
            export: {
                enabled: true,
                fileName: "Training&DepartmentWiseReport"
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            headerFilter: { visible: true, allowSearch: true },
            searchPanel: { visible: true },
            columns: [
                {
                    dataField: "TnaName",
                    caption: "TNA Name",
                   
                    alignment: "left"
                },
                {
                    dataField: "TrainingName",
                    caption: "Training Name",
                   
                    alignment: "left"
                },
                 {
                     dataField: "TopicName",
                     caption: "Topic Name",
                   
                     alignment: "left"
                 },
                {
                    dataField: "SessionName",
                    caption: "Session Name",                   
                   
                    alignment: "left"
                },
                {
                    dataField: "NoOfParticipants",
                    caption: "No Of Participants",                  
                  
                    alignment: "left"
                },
                
                {
                    dataField: "StartDate",
                    caption: "Start Date",                  
                    alignment: "left",
                    dataType: "date",
                    format:"dd/MM/yyyy",
                },
                 {
                     dataField: "EndDate",
                     caption: "EndDate",
                     alignment: "center",                     
                     dataType: "date",
                     alignment: "left",
                     format:"dd/MM/yyyy",
                 },
                {
                    dataField: "S_StartTime",
                    caption: "Start Time",                    
                    alignment: "left",                   
                    
                },
                {
                    dataField: "S_EndTime",
                    caption: "End Time",
                    alignment: "center",                    
                    alignment: "left"
                },
                 {
                     dataField: "Trainer",
                     caption: "Trainer Name",
                     alignment: "center",                     
                     alignment: "left",

                 },                   
                  
            ]
        });
    };  

    function ValidateFields(deptVal, trainingVal) {
        var isvalid = false;
        if (deptVal == null) {
            isvalid = false;
           AlertToast('error', "Please Select Department.");
       }

       else {
            if (trainingVal == null) {
                isvalid = false;
               AlertToast('error', "Please Select Training.");
           }
           else {
                isvalid = true;
           }
       }
        return isvalid;
   }

   
</script>

