﻿@model TNA_ViewModel.Model.TNA_VM.ResponseHeader
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cc {
    height: 40px;
    padding: 6px 13px;
    font-size: 14px;
    /* line-height: 1.428571429*/
    border: 1px solid #474670!important;
    border-radius: 5px!important;
    text-transform: capitalize; 
    margin-bottom: 7px;
    border: 0;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    }
</style>

@Html.HiddenFor(x => x.Status);
@Html.HiddenFor(x => x.Message);

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                  
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Upload</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <form id="uploadForm" action="@Url.Action("Upload","Admin")" method="post" enctype="multipart/form-data">
                            <div style="float: right;">
                                <div class="col-12">
                                    <input class="cc" type="file" name="excelUpload" id="ExcelFileUpload" required />
                                    <button type="button" onclick="UploadExcel()" value="Upload" class="input-group-text mb-3 tna_purpl_btn float-right"><i class="far fa-paper-plane"></i> Upload</button>
                                </div>
                            </div>
                         </form>
                    </div>

                    <div class="body">
                        <div id="HeirarchyGrid"></div>
                        <div class="row clearfix">
                            <div class="col-12">
                                <a class="input-group-text mb-3 tna_purpl_btn float-right" href="@Url.Action("GetLineManagers","Admin")"><i class="fab fa-get-pocket"></i>&nbsp; Get Line Managers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</section>


@*<script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.7.5.min.js">
    (function(){e(".input-default-wrapper").on("change",".input-default-js",function(t){var n=e(t.target),i=n.next("label"),o=n[0].files,r="";o&&o.length>1?r=(n.attr("data-multiple-target")||"").replace("{target}",o.length):t.target.value&&(r=t.target.value.split("\\").pop()),r?i.find(".span-choose-file").html(r):i.html(i.html())})})
</script>*@


<script>

    $(document).ready(function () {
        $(".cstm_loader").css({ "display": "block" });
        GetHeirarchy();

        $("#ExcelFileUpload").change(function () {
            
            var vtrUpload = $("#ExcelFileUpload").val().toLowerCase();
            var regexVTRUpload = new RegExp("(.*?)\.(xlsx|xls)$");
            if (!(regexVTRUpload.test(vtrUpload)))
            {
                document.getElementById("ExcelFileUpload").value = "";
                AlertToast('error', 'Please select excel format file.');
            }
        });

    });

    function UploadExcel()
    {
        $(".cstm_loader").css({"display":"block"});
        debugger
        var formdata = new FormData(); 
        var fileInput = document.getElementById('ExcelFileUpload');
        if (fileInput.files.length > 0) {
            var filename = fileInput.files[0].name
            var extension = filename.split('.').pop().toUpperCase();
            if (extension != "XLS" && extension != "XLSX") {
                AlertToast('error', 'Please select excel format file.');
                document.getElementById("ExcelFileUpload").value = "";
            }
            else {
                for (i = 0; i < fileInput.files.length; i++) {
                    
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }

                $.ajax({
                    url: '@Url.Action("ReadExcelFile", "Admin")', 
                    type: 'POST',
                    data: formdata, 
                    async: true,
                    success: function (response) {
                        if (response.Status) {
                           
                            AlertToast('success', response.Message);   
                            GetHeirarchy();
                            $(".cstm_loader").css({ "display": "none" });
                            document.getElementById("ExcelFileUpload").value="";
                        }
                        else
                        {
                            AlertToast('error', response.Message);                           
                            GetHeirarchy();
                            $(".cstm_loader").css({ "display": "none" });
                            document.getElementById("ExcelFileUpload").value = "";
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        }
        else {
            
            AlertToast('error', "Please choose file.");
            $(".cstm_loader").css({ "display": "none" });
        }
      
    }

    function BindDataGrid(DataSource) {
        $("#HeirarchyGrid").dxDataGrid({
            dataSource: DataSource,
            columnsAutoWidth: true,
            showBorders: true,
            showColumnHeaders: true,
            paging: {
                pageSize: 20
            },
            searchPanel: {
                visible: true,
                width: 240,
                placeholder: "Search..."
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            loadPanel: {
                enabled: true
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [20, 50, 100, 200],
                showInfo: true
            },
            columns: [

                 {
                     dataField: "LoginID",
                     caption: "Login ID",
                     width: "auto",
                 },
                  {
                      dataField: "ReporteeID",
                      caption: "Emp. ID",
                      width: "auto",
                      alignment: "left",
                  },
                {
                    dataField: "ReporteeName",
                    caption: "Emp. Name",
                    width: "auto",
                },
                 {
                     dataField: "Email",
                     caption: "Email",
                     width: "auto",
                 },
                {
                    dataField: "DepartmentName",
                    caption: "Department",
                    width: "auto",
                },
                {
                    dataField: "EmpID",
                    caption: "L.M ID",
                    width: "auto",
                    alignment: "left",
                },
                {
                    dataField: "Name",
                    caption: "Line Manager",
                    width: "auto",
                },

                {
                    dataField: "Department",
                    caption: "Description",
                    width: "auto",
                },
                {
                    dataField: "Location",
                    caption: "Location",
                    width: "auto",
                },
                {
                    dataField: "Grade",
                    caption: "Grade",
                    width: "auto",
                },
                {
                    dataField: "Designation",
                    caption: "Designation",
                    width: "auto",
                },
                {
                    dataField: "OrgUnit",
                    caption: "Org.Unit",
                    width: "auto",
                },


            ]
        });
    }

    function GetHeirarchy() {
        $(".cstm_loader").css({ "display": "block" });
        $.ajax({
            url: '@Url.Action("GetHeirarchy", "Admin")',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (response) {
                if (response.Status) {

                    BindDataGrid(JSON.parse(response.data));
                    $(".cstm_loader").css({ "display": "none" });
                  //  AlertToast('success', response.Message);
                }

                else {
                    var datasource = [];
                    BindDataGrid(datasource);
                    $(".cstm_loader").css({ "display": "none" });
                   // AlertToast('error', response.Message);
                }
            },
            error: function () {
               
            }
        });
    }

</script>
<script>

    //$(document).ready(function () {
    //    debugger
        
    //    //For toaster
    //    var status = $("#Status").val();
    //    var message = $("#Message").val();

    //    if (status != "" && message != "") {

    //        if (status == "False") {
    //            AlertToast("error", message);
    //              document.get
    //        }
    //        else {
    //            AlertToast("success", message);
    //        }
    //        $('#uploadForm').trigger("reset");
    //    }

    //});


   
</script>



@*@{
        ViewBag.Title = "Upload";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div style="margin-top:200px;float:right">
        <h2>Upload</h2>
        <form action="/Admin/Upload" method="post" enctype="multipart/form-data">
            <input type="file" name="excelUpload" />
            <button type="submit" value="Upload">Upload</button>
        </form>
    </div>*@