﻿
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Users.js"></script>

<input type="hidden" id="tna_prefix" name="tna_prefix" value="@TNAApp_ViewModel.Model.vt_Common.GetPathPrefix()" /> <!-- Hidden Field for Prefix-->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card min-height-70vh">
                    <div class="header">
                        <h2> User Records <small></small> </h2>
                        <button type="button" id="btnUser" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn tna_purpl_btn"><i class="far fa-paper-plane"></i> CREATE USER</button>
                    </div>

                    <!-- Dev-Extreme Topic Form Model-->

                    <div class="body">
                        <div id="UsersGrid" class="cum_grid"></div>  <!-- Dev-Extreme Users Grid-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div id="popupUserForm"></div>

@*<section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-7">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Admin Portal</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2> User Records <small></small> </h2>
                            <button type="button" id="btnUser" class="btn  btn-raised bg-red  waves-effect Header_Right_Btn">CREATE USER</button>
                        </div>

                        <div id="popupUserForm"></div>  <!-- Dev-Extreme Topic Form Model-->


                        <div id="UsersGrid" class="cum_grid"></div>  <!-- Dev-Extreme Users Grid-->

                    </div>
                </div>
            </div>

        </div>
    </section>*@


<!-- Small Size -->
<div class="modal fade" id="DeleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>"USER"</b> ?.
            </div>
            <div class="modal-footer">
                <button userid="" type="button" class="btnDelete btn btn-link waves-effect"><i class="far fa-paper-plane"></i> Yes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function(){

        BindUsersGrid();

    });



    function BindUsersGrid()
    {
        $.ajax({
            url: '@Url.Action("GetAllUsers", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/GetAllUsers",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (response) {

                debugger
                //if (response.Status)
                //{
                $("#UsersGrid").dxDataGrid({
                    dataSource: JSON.parse(response.Users),
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnHeaders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    paging: {
                        pageSize: 25
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    showScrollbar:"Always",

                    columns: [
                        {
                            dataField: "FullName",
                            width: "200",
                            caption: "User Name",
                           
                        },
                         {
                             dataField: "RoleName",
                             caption: "Role",
                             width: "100",
                            
                         },
                         
                    {
                        dataField: "DepartmentName",
                        caption: "Department Name",
                //alignment: "center",
                        width: "300",
                },   
                    {
                        dataField: "LineManager",
                        caption: "Line Manager",
                //alignment: "center",
                        width: "250",
                },    
                    {
                            dataField: "LoginID",
                            caption: "Login ID",
                            width: "100",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "Area",
                            width: "100",
                            caption: "Area",
                            
                        },
                        {
                            dataField: "IsActive",
                            caption: "Is Active",
                            width: "100",
                            //alignment: "center",
                            //width: "auto",
                        },
                        {
                            dataField: "ID",
                            caption: "Action",
                            width: "100",
                            //alignment: "center",
                            //width: "auto",
                            allowHeaderFiltering: false,
                            allowFiltering: false,
                            cellTemplate: function (container, options) {
                                trainingid = options.value;
                                $("<div>")
                                    //.append($("<a class='UserEdit' href='/Admin/EditTraining/" + options.value + "' _id=" + options.value + " title='Edit'><i class='material-icons actions_icons_edit'>border_color</i></a>"))
                                    .append($("<a class='UserEdit' _id=" + options.value + " title='Edit'><i class='fa fa-edit'></i></a>"))
                                    .append($("<a class='UserDelete' _id=" + options.value + " title='Delete'><i class='fa fa-trash'></i></a>"))
                                    .appendTo(container);
                            }
                        }
                    ]
                });
                //}

            },
            error: function (xhr) {
                debugger
            }
        });
    }


    $("#btnUser").click(function () {

        $.ajax({
            url: '@Url.Action("NewUserForm", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/NewUserForm",
            type: "GET",
            data: {},
            success: function (response) {
                //debugger
                $("#popupUserForm").html("");
                $("#popupUserForm").html(response);
                $("#UserModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');
            },
            error: function (xhr) {
                debugger
            }
        });
    })


    $('body').on('click', '.UserEdit', function () {

        var userID = $(this).attr('_id');

        $.ajax({
            url: '@Url.Action("EditUser", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/EditUser",
            type: "GET",
            data: {
                ID: userID
            },
            success: function (response) {
                debugger
                $("#popupUserForm").html("");
                $("#popupUserForm").html(response);
                $("#UserModal").modal("show");
                $('.modal-backdrop').removeClass('modal-backdrop');

            },
            error: function (xhr) {
                debugger
            }
        });

    });

    $('body').on('click', '.UserDelete', function () {

        $('.btnDelete').attr("userid", $(this).attr('_id'));
        $("#DeleteUser").modal("show");

    });


    $(".btnDelete").click(function () {

        var userID = $(this).attr('userid');

        $.ajax({
            url: '@Url.Action("DeleteUser", "Admin")',
            //url: "/" + $('#tna_prefix').val() + "/Admin/DeleteUser",
            type: "GET",
            data: {
                ID: userID
            },
            success: function (response) {
                debugger
                if (response.Status) {
                    AlertToast('success', response.Message);
                }
                else {
                    AlertToast('error', response.Message);
                }

                BindUsersGrid();
                $("#DeleteUser").modal("hide");

            },
            error: function (xhr) {
                debugger
            }
        });
    });



</script>
